<form #ngForm="ngForm">
  <baw-date-time-filter
    (modelChange)="updateDateTime($event)"
  ></baw-date-time-filter>

  <baw-typeahead-input
    id="tags-input"
    label="Tags of Interest"
    [inputPlaceholder]="'All'"
    [searchCallback]="createSearchCallback(tagsApi, 'text', false)"
    [resultTemplate]="tagsTypeaheadTemplate"
    [model]="searchParameters.tagModels"
    (modelChange)="updateModel('tags', getIdsFromAbstractModelArray($event))"
  ></baw-typeahead-input>

  <baw-typeahead-input
    id="projects-input"
    label="Project(s)"
    [inputPlaceholder]="project ? project.name : 'All'"
    [searchCallback]="createSearchCallback(projectsApi)"
    [resultTemplate]="nameTypeaheadTemplate"
    [inputDisabled]="!!project"
    [model]="searchParameters.projectModels"
    (modelChange)="
      updateModel('projects', getIdsFromAbstractModelArray($event))
    "
  ></baw-typeahead-input>

  <!-- We disable the input and use a placeholder value if the form is immutably scoped to a region/site -->
  <baw-typeahead-input
    id="region-input"
    *ngIf="!site || site?.isPoint"
    label="Site(s)"
    [inputPlaceholder]="region ? region.name : 'All'"
    [searchCallback]="createSearchCallback(regionsApi)"
    [resultTemplate]="nameTypeaheadTemplate"
    [inputDisabled]="!!region"
    [model]="searchParameters.regionModels"
    (modelChange)="updateModel('regions', getIdsFromAbstractModelArray($event))"
  ></baw-typeahead-input>

  <baw-typeahead-input
    id="sites-input"
    [label]="site ? (site?.isPoint ? 'Point(s)' : 'Site(s)') : 'Point(s)'"
    [inputPlaceholder]="site ? site.name : 'All'"
    [searchCallback]="createSearchCallback(sitesApi)"
    [resultTemplate]="nameTypeaheadTemplate"
    [inputDisabled]="!!site"
    [model]="searchParameters.siteModels"
    (modelChange)="updateModel('sites', getIdsFromAbstractModelArray($event))"
  ></baw-typeahead-input>

  <div class="form-check mt-2">
    <input
      id="filter-verified"
      type="checkbox"
      class="form-check-input"
      [checked]="searchParameters.onlyUnverified"
      (change)="updateModel('onlyUnverified', $event.target['checked'])"
    />
    <label for="filter-verified" class="form-check-label">
      Only show un-verified annotations
    </label>
  </div>

  <ng-template #nameTypeaheadTemplate let-result="result" let-searchTerm="term">
    <ngb-highlight [result]="result.name" [term]="searchTerm"></ngb-highlight>
  </ng-template>

  <ng-template #tagsTypeaheadTemplate let-result="result" let-searchTerm="term">
    <ngb-highlight [result]="result.text" [term]="searchTerm"></ngb-highlight>
  </ng-template>
</form>
