<form #form="ngForm">
  <baw-date-time-filter
    [(model)]="recordingDateTimeFilters"
    (modelChange)="updateRecordingDateTime($event)"
    [disableStartDate]="true"
    [disableStartTime]="true"
    [disableEndTime]="true"
  ></baw-date-time-filter>

  <baw-typeahead-input
    id="tags-input"
    label="Tags of Interest"
    inputPlaceholder="All"
    [searchCallback]="tagsApi.typeaheadCallback()"
    [resultTemplate]="tagsTypeaheadTemplate"
    [value]="searchParameters.tagModels"
    (modelChange)="updateSubModel('tags', $event)"
  ></baw-typeahead-input>

  <baw-typeahead-input
    id="projects-input"
    label="Project(s)"
    [inputPlaceholder]="project ? project.name : 'All'"
    [searchCallback]="
      createSearchCallback(projectsApi, 'name', this.routeModelFilters())
    "
    [resultTemplate]="nameTypeaheadTemplate"
    [inputDisabled]="!!project"
    (modelChange)="updateSubModel('projects', $event)"
  ></baw-typeahead-input>

  <!-- We disable the input and use a placeholder value if the form is immutably scoped to a region/site -->
  @if (!site || site?.isPoint) {
    <baw-typeahead-input
      id="region-input"
      label="Site(s)"
      [inputPlaceholder]="region ? region.name : 'All'"
      [searchCallback]="
        createSearchCallback(regionsApi, 'name', this.routeModelFilters())
      "
      [resultTemplate]="nameTypeaheadTemplate"
      [inputDisabled]="!!region"
      (modelChange)="updateSubModel('regions', $event)"
    ></baw-typeahead-input>
  }

  <baw-typeahead-input
    id="sites-input"
    [label]="site ? (site?.isPoint ? 'Point(s)' : 'Site(s)') : 'Point(s)'"
    [inputPlaceholder]="site ? site.name : 'All'"
    [searchCallback]="
      createSearchCallback(sitesApi, 'name', this.routeModelFilters())
    "
    [resultTemplate]="nameTypeaheadTemplate"
    [inputDisabled]="!!site"
    (modelChange)="updateSubModel('sites', $event)"
  ></baw-typeahead-input>

  <div>
    <div class="row">
      <div class="col-md-6 mb-2 mb-md-0">
        <label class="input-group">
          <span
            class="input-group-text tooltip-hint"
            [ngbTooltip]="
              'Any event with an empty score, will also be filtered out.'
            "
          >
            Minimum Score
          </span>
          <input
            #lowerScore="ngModel"
            bawDebouncedInput
            id="lower-score-input"
            name="lowerScore"
            type="number"
            class="form-control"
            placeholder="-Infinity"
            step="0.01"
            [class.is-invalid]="lowerScore.invalid"
            [max]="searchParameters.scoreUpperBound"
            [ngModel]="searchParameters.score?.[0]"
            (valueChange)="updateScoreRange($event, scoreRangeBounds.Lower)"
          />
        </label>
      </div>

      <div class="col-md-6">
        <label class="input-group">
          <span
            class="input-group-text tooltip-hint"
            [ngbTooltip]="
              'Any event with an empty score, will also be filtered out.'
            "
          >
            Maximum Score
          </span>
          <input
            #upperScore="ngModel"
            bawDebouncedInput
            id="upper-score-input"
            name="upperScore"
            type="number"
            class="form-control"
            placeholder="Infinity"
            step="0.01"
            [class.is-invalid]="upperScore.invalid"
            [min]="searchParameters.scoreLowerBound"
            [ngModel]="searchParameters.score?.[1]"
            (valueChange)="updateScoreRange($event, scoreRangeBounds.Upper)"
          />
        </label>
      </div>
    </div>

    @if (form.invalid) {
      <p id="score-errors">
        <strong class="fw-normal text-danger">
          @if (
            upperScore.hasError("min") ||
            lowerScore.hasError("max")
          ) {
            Score minimum must be less than or equal to the score maximum.
          } @else if (upperScore.hasError("type") || lowerScore.hasError("type")) {
            Score must be a number.
          }
        </strong>
      </p>
    }
  </div>

  <div class="advanced-filters mt-2">
    <button
      id="advanced-filters-toggle"
      class="btn btn-outline-secondary w-100"
      (click)="toggleAdvancedFilters()"
    >
      {{ hideAdvancedFilters ? "Show" : "Hide" }} Advanced Filters
    </button>

    <div
      #advancedFilters="ngbCollapse"
      [(ngbCollapse)]="hideAdvancedFilters"
      class="card card-body border-top-0"
    >
      <label class="form-label w-100">
        Sampling Behavior
        <select
          id="sort-input"
          class="form-select"
          placeholder="Only show annotations unverified by me"
          [value]="searchParameters.sampling ?? 'only-new'"
          (change)="updateDiscreteOptions('sampling', $event)"
        >
          <option value="only-new">Only show annotations unverified by me</option>
          <option value="only-unverified">Only show annotations that have not been verified</option>
          <option value="show-all">Show annotations regardless of verification status</option>
        </select>
      </label>

      <baw-typeahead-input
        #recordingsTypeahead
        id="recordings-input"
        label="Recording IDs of interest"
        inputPlaceholder="All"
        [searchCallback]="createIdSearchCallback(recordingsApi, 'id')"
        [resultTemplate]="idTypeaheadTemplate"
        [value]="searchParameters.audioRecordingModels"
        (modelChange)="updateSubModel('audioRecordings', $event)"
      ></baw-typeahead-input>
    </div>
  </div>

  <label class="form-label mt-2 w-100">
    Sort by
    <select
      id="sort-input"
      class="form-select"
      placeholder="Created Date (Oldest First)"
      [value]="searchParameters.sort ?? 'created-asc'"
      (change)="updateDiscreteOptions('sort', $event)"
    >
      <option value="created-asc">Created Date (Oldest First)</option>
      <option value="created-desc">Created Date (Newest First)</option>

      <option value="score-asc">Score (Ascending)</option>
      <option value="score-desc">Score (Descending)</option>
    </select>
  </label>
</form>

<ng-template #idTypeaheadTemplate let-result="result" let-searchTerm="term">
  <ngb-highlight [result]="result.id" [term]="searchTerm"></ngb-highlight>
</ng-template>

<ng-template #nameTypeaheadTemplate let-result="result" let-searchTerm="term">
  <ngb-highlight [result]="result.name" [term]="searchTerm"></ngb-highlight>
</ng-template>

<ng-template #tagsTypeaheadTemplate let-result="result" let-searchTerm="term">
  <ngb-highlight [result]="result.text" [term]="searchTerm"></ngb-highlight>
</ng-template>
