.nav-link {
  font-size: 0.85rem;

  &:not(.disabled) {
    color: black;
  }

  &:hover,
  &:focus {
    background-color: var(--baw-highlight-lighter);
    color: var(--baw-highlight-lighter-contrast);
  }

  &.active {
    background-color: var(--baw-highlight);
    color: var(--baw-highlight-contrast);
  }

  .icon {
    display: inline-block;
    justify-content: center;
    width: 1.3rem;
    padding-right: 0.5rem;
  }
}
