.nav-link {
  color: black;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;

  &:hover,
  &:focus {
    background-color: var(--baw-highlight-lighter);
  }

  &.active {
    background-color: var(--baw-highlight);
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    width: 1.3rem;
    padding-right: 0.5rem;
  }
}
