<ng-container *ngIf="rows && !error">
  <h1>Users</h1>

  <p>
    Displaying <strong>all {{ totalModels }}</strong> user/s
  </p>

  <baw-debounce-input
    label="Filter"
    placeholder="Filter Users"
    (filter)="onFilter($event)"
  ></baw-debounce-input>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="User">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="[viewPath(row.account)]">{{ value }}</a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Login"> </ngx-datatable-column>
    <ngx-datatable-column
      name="Confirmed"
      [width]="90"
      [maxWidth]="90"
      [sortable]="false"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="mx-auto" style="width: 24px">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              disabled
              [id]="row.user + '-checkbox'"
              [checked]="value"
            />
            <label class="custom-control-label" for="checkbox"></label>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Account"
      [width]="75"
      [maxWidth]="75"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a
          class="btn btn-sm btn-warning w-100"
          [routerLink]="[editPath(value)]"
        >
          Edit
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>

<baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
