// You can use this class to indicate that a certain element has a tooltip when
// hovered.
// This class is globally available instead of using a combination of bootstrap
// classes so that if we want to change this hint styling in the future, we just
// have to change it in this one place.
.tooltip-hint {
  text-decoration: dotted underline;
}

.tooltip-left-aligned-content {
  // NgbTooltips default to center-aligning text, although because we are trying
  // to show a list of data, left-aligning the text makes more sense so that all
  // of the categories are horizontally aligned left.
  text-align: left;
  padding-inline: 1rem;

  // The ngb-tooltip adds some bottom padding by default, so we don't need to
  // add any padding on the bottom here.
  padding-top: 1rem;

  ul {
    list-style: none;
    padding: 0;
  }
}
