.loading-image {
  aspect-ratio: 1/1;
  background-color: rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  font-size: 0px;
  text-decoration: none;
}

.loaded-image {
  aspect-ratio: 1/1;
  background-color: unset;
}
