@use "sass:map";
@import "~include-media/dist/include-media";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// These breakpoints must exist for include-media to function
$breakpoints: (
  // Grid widths
  xs-grid: map.get($grid-breakpoints, "xs"),
  sm-grid: map.get($grid-breakpoints, "sm"),
  md-grid: map.get($grid-breakpoints, "md"),
  lg-grid: map.get($grid-breakpoints, "lg"),
  xl-grid: map.get($grid-breakpoints, "xl"),
  xxl-grid: map.get($grid-breakpoints, "xxl"),
  // Container widths
  sm-container: map.get($container-max-widths, "sm"),
  md-container: map.get($container-max-widths, "md"),
  lg-container: map.get($container-max-widths, "lg"),
  xl-container: map.get($container-max-widths, "xl"),
  xxl-container: map.get($container-max-widths, "xxl")
);
