@import "@swimlane/ngx-datatable/index.scss";
@import "@swimlane/ngx-datatable/themes/bootstrap.scss";
// @import "@swimlane/ngx-datatable/assets/icons.css";

$ngx-datatable-selected-active-background: lightgrey;
$ngx-datatable-selected-active-background-hover: rgba(lightgrey, 0.5);

// Fix to invisible loading bar on bootstrap theme
// https://github.com/swimlane/ngx-datatable/issues/881#issuecomment-929701938
// This is also used by the meta-review components table
.progress-linear {
  display: block;
  position: sticky;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  top: 0;

  .container {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5px;
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    background-color: rgb(170, 209, 249);

    .bar {
      transition: all 0.2s linear;
      -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
      animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);

      transition: -webkit-transform 0.2s linear;
      transition: transform 0.2s linear;
      background-color: #7367f0;

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
    }
  }
}

@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}
