// Adds a fading effect to elements that horizontally overflow their parents.
// This can be used as UI hint that the element is horizontally scrollable or
// has additional information that is hidden.
@mixin x-fade-overflow($fade-size: 50px) {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: $fade-size;
    height: 100%;

    // Use pointer-events none so that content behind the fade effect can still
    // be interacted with.
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
  }
}
