// TODO Make this a global style
.thumbnail {
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: block;
  line-height: 1.428571429;
  margin-bottom: 20px;
  padding: 4px;
  padding-right: 10px;
  transition: border 0.2s ease-in-out;

  img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
