:root {
  --oe-theme-hue: var(--baw-highlight-hue) !important;
  --oe-theme-saturation: var(--baw-highlight-saturation) !important;
  --oe-theme-lightness: var(--baw-highlight-lightness) !important;

  --oe-info-color: var(--baw-info) !important;
  --oe-danger-color: var(--baw-danger) !important;
}
