.form-control {
  background: #f2f2f2;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: none !important;
  font-size: 16px;

  &:focus {
    background: #e9f5ee;
    border-color: #91d5a8;
  }
}

.login-form {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;

  a {
    color: #4aba70;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0;
    padding: 30px 0;
    font-size: 34px;
  }

  .form-background {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: #7a7a7a;
    margin-bottom: 20px;
    padding: 30px;
  }

  .form-icon {
    color: white;
    font-size: 3.5rem;
    margin-top: -5px;
  }

  .avatar {
    background: #4aba70;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    height: 100px;
    margin: 0 auto 30px;
    padding: 15px;
    width: 100px;
    z-index: 9;

    img {
      width: 100%;
    }
  }
}

.hint-text {
  color: #999;
  padding-bottom: 15px;
  text-align: center;
}
