.form-control {
  background: #f2f2f2;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: none !important;
  font-size: 16px;

  &:focus {
    background: #e9f5ee;
    border-color: #91d5a8;
  }
}

.login-form {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;

  a {
    color: #4aba70;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0;
    padding: 30px 0;
    font-size: 34px;
  }
}

.hint-text {
  color: #999;
  padding-bottom: 15px;
  text-align: center;
}
