<!-- Site Details -->
<h2 class="text-muted">Project: {{ project.name }}</h2>
<h3 *ngIf="region" class="text-muted">Site: {{ region.name }}</h3>
<h1>{{ site.name }}</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img [src]="site.image" [alt]="site.name + ' image'" />
    </div>
  </div>
  <div class="col-sm-8">
    <p
      id="site_description"
      [innerHtml]="site.descriptionHtml || defaultDescription"
    ></p>
  </div>
</div>

<!-- Audio Recording Summary -->
<h2>Audio Recordings</h2>

<!-- Split details and maps into 50/50 columns-->
<div class="row">
  <!-- Details in left column -->
  <div class="col-sm-6">
    <!-- Loading animation -->
    <baw-loading
      *ngIf="recordings === undefined"
      id="recordings-loader"
    ></baw-loading>

    <!-- Handle recordings error -->
    <p *ngIf="recordings === null" id="recordings-error-description">
      Unable to load site recordings.
    </p>

    <!-- Handle no recordings -->
    <p *ngIf="recordings?.length === 0" id="recordings-placeholder-description">
      This site does not contain any audio recordings.
    </p>

    <!-- Handle recordings-->
    <ng-container *ngIf="recordings?.length > 0">
      <!-- Description -->
      <p id="recording-dates">
        This site contains recordings from
        {{ humanizeDate(oldestRecording) }} to
        {{ humanizeDate(newestRecording) }}.
      </p>

      <!-- TODO Statistics about recordings -->
      <baw-wip>
        <p>
          This site covers 4 days, 23 hours, 20 minutes, and 51 seconds and
          there are recordings for 4.0 days, 23.0 hours, 16.0 minutes, and 35
          seconds of that time.
        </p>
      </baw-wip>

      <!-- Play and Visualize links -->
      <ul class="nav mb-0">
        <li class="nav-item">
          <a
            *ngIf="oldestRecording"
            class="nav-link rounded-link-default"
            [bawUrl]="oldestRecording?.viewUrl"
          >
            <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
            Play
          </a>
          <!-- Loading while retrieving recording -->
          <baw-loading
            *ngIf="oldestRecording === undefined"
            id="play-loader"
            size="sm"
          ></baw-loading>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-link-default" [bawUrl]="site.visualizeUrl">
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            Visualise
          </a>
        </li>
      </ul>

      <!-- Recent Annotations Summary -->
      <h3>Recent Annotations</h3>

      <ul class="nav">
        <!-- Loading animation -->
        <baw-loading
          *ngIf="!recentAudioEvents"
          id="annotation-loader"
        ></baw-loading>

        <!-- Handle no annotations -->
        <p *ngIf="recentAudioEvents?.length === 0">
          No recent annotations found
        </p>

        <!-- For each annotation and tagging -->
        <ng-container *ngFor="let event of recentAudioEvents">
          <li *ngIf="event.taggings.length === 0" class="nav-item">
            <!-- Annotation link -->
            <a
              class="nav-link rounded-link-default"
              [bawUrl]="event.listenViewUrl"
            >
              "(not tagged)" by {{ event.creator?.userName }}
            </a>
          </li>
          <li *ngFor="let tagging of event.taggings" class="nav-item">
            <!-- Annotation link -->
            <a
              class="nav-link rounded-link-default"
              [bawUrl]="event.listenViewUrl"
            >
              <!-- Loading when unresolved -->
              <ng-container
                *ngIf="
                  (tagging.tag | isUnresolved) ||
                    (tagging.tag?.creator | isUnresolved);
                  else loaded
                "
              >
                <baw-loading id="tag-loader" size="sm"></baw-loading>
              </ng-container>

              <!-- Annotation details -->
              <ng-template #loaded>
                "{{ tagging.tag?.text }}" by
                {{ tagging.tag?.creator?.userName }}
              </ng-template>
            </a>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <!-- Map using right column -->
  <div class="col-sm-6" style="min-height: 400px">
    <baw-map [markers]="marker"></baw-map>
  </div>
</div>
