<!-- Site Details -->
<h1>{{ site.name }}</h1>

<div class="row mb-3">
  <div class="col-sm-4">
    <img
      class="img-thumbnail mx-auto d-block"
      [src]="site.imageUrls"
      [alt]="site.name + ' image'"
    />
  </div>
  <div class="col-sm-8">
    <p
      id="site_description"
      [innerHtml]="site.descriptionHtml || defaultDescription"
    ></p>
  </div>
</div>

<!-- Audio Recording Summary -->
<h2>Audio Recordings</h2>

<!-- Split details and maps into 50/50 columns-->
<div class="row">
  <!-- Details in left column -->
  <div class="col-sm-6">
    <!-- Loading animation -->
    <baw-loading
      *ngIf="recordings === undefined"
      id="recordings-loader"
    ></baw-loading>

    <!-- Handle recordings error -->
    <p *ngIf="recordings === null" id="recordings-error-description">
      Unable to load site recordings.
    </p>

    <!-- Handle no recordings -->
    <p *ngIf="recordings?.length === 0" id="recordings-placeholder-description">
      This site does not contain any audio recordings.
    </p>

    <!-- Handle recordings-->
    <ng-container *ngIf="recordings?.length > 0">
      <!-- Description -->
      <p id="recording-dates">
        This site contains recordings from
        <!--
          I use the site timezone information so that the start & end dates
          are in the same timezone. This should not be a problem because all
          recordings in the site should be in the same timezone. But I have covered
          potential edge case as a precaution.
         -->
        <baw-zoned-datetime
          [value]="oldestRecording?.recordedDate"
          [timezone]="site.timezoneInformation"
        /> to
        <baw-zoned-datetime
          [value]="newestRecording?.recordedDate"
          [timezone]="site.timezoneInformation"
        />.
      </p>

      <!-- TODO Statistics about recordings -->
      <baw-wip>
        <p>
          This site covers 4 days, 23 hours, 20 minutes, and 51 seconds and
          there are recordings for 4.0 days, 23.0 hours, 16.0 minutes, and 35
          seconds of that time.
        </p>
      </baw-wip>

      <!-- Recent Annotations Summary -->
      <baw-site-recent-annotations [site]="site"></baw-site-recent-annotations>
    </ng-container>
  </div>
  <!-- Map using right column -->
  <div class="col-sm-6" style="min-height: 400px">
    <baw-map [markers]="marker"></baw-map>
  </div>
</div>
