.landing-image {
  background-image: url("src/assets/landing-image-640x360.jpg");
  background: no-repeat center center scroll;
  background-size: cover;
  height: 50vh;

  @media screen and (max-height: 360px) {
    background-image: url("src/assets/landing-image-640x360.jpg");
  }
  @media screen and (max-height: 720px) and (min-height: 361px) {
    background-image: url("src/assets/landing-image-1280x720.jpg");
  }
  @media screen and (max-height: 1080px) and (min-height: 721px) {
    background-image: url("src/assets/landing-image-1920x1080.jpg");
  }
  @media screen and (min-height: 1081px) {
    background-image: url("src/assets/landing-image-3840x2160.jpg");
  }
}
