.stepper {
  --font-size: 1.8em;
  --icon-size: 3.5rem;
  --stepper-size: 3em;
  --dotted-line-size: 4em;
  --stepper-gap: 1em;
  --color: #9c9c9c;
  --contrast: white;
  --active-color: var(--baw-highlight);
  --active-contrast: var(--baw-highlight-contrast);

  display: grid;
  width: 100%;
  position: relative;
  overflow: clip;

  .not-visible {
    opacity: 0;
  }

  .lines {
    align-items: center;
    display: flex;
    height: 50%;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 50;

    .main {
      border-top: 2px solid var(--color);
      flex-grow: 1;
      height: min-content;
    }

    .dots {
      border-top: 2px dashed var(--color);
      height: min-content;
      width: var(--dotted-line-size);

      &.hidden {
        width: 0;
      }
    }
  }

  .steps {
    display: flex;
    gap: var(--stepper-gap);
    margin-left: var(--dotted-line-size);
    margin-right: var(--dotted-line-size);
    overflow: hidden;

    // Centers steps in middle of page
    &::before {
      content: " ";
      display: block;
      flex: 1 1 auto;
      height: var(--stepper-size);
      width: var(--stepper-size);
    }

    // Centers steps in middle of page
    &::after {
      content: " ";
      display: block;
      flex: 1 1 auto;
      height: var(--stepper-size);
      width: var(--stepper-size);
    }

    .step {
      flex-grow: 0;
      flex-shrink: 0;
      font-size: var(--font-size);
      max-width: var(--stepper-size);
      min-width: var(--stepper-size);
      z-index: 100;

      &.active {
        color: var(--active-contrast);
      }

      .step-body {
        text-align: center;

        .icon {
          margin: 0 auto 0.5rem auto;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: var(--icon-size);
          height: var(--icon-size);
          background-color: var(--color);
          color: var(--contrast);

          &.active {
            background-color: var(--active-color);
            border-color: var(--active-color);
            color: var(--active-contrast);
          }
        }

        .title {
          font-weight: bold;
        }
      }
    }
  }
}
