<h3>Recent Annotations</h3>

<ul class="nav">
  <!-- Loading animation -->
  <baw-loading *ngIf="!recentAudioEvents" id="annotation-loader"></baw-loading>

  <!-- Handle no annotations -->
  <p *ngIf="recentAudioEvents?.length === 0">No recent annotations found</p>

  <!-- For each annotation and tagging -->
  <ng-container *ngFor="let event of recentAudioEvents">
    <li *ngIf="event.taggings.length === 0" class="nav-item">
      <ng-container
        [ngTemplateOutlet]="notTagged"
        [ngTemplateOutletContext]="{ event }"
      ></ng-container>
    </li>

    <li *ngFor="let tagging of event.taggings" class="nav-item">
      <ng-container
        [ngTemplateOutlet]="tagged"
        [ngTemplateOutletContext]="{ tagging, event }"
      ></ng-container>
    </li>
  </ng-container>
</ul>

<!-- Show event creator for untagged event -->
<ng-template #notTagged let-event="event">
  <!-- Annotation link -->
  <a class="nav-link rounded-link-default" [bawUrl]="event.listenViewUrl">
    <baw-loading
      *ngIf="event.creator | isUnresolved; else loaded"
      id="tag-loader"
      size="sm"
    ></baw-loading>

    <ng-template #loaded>
      (not tagged) by {{ event.creator.userName }}
    </ng-template>
  </a>
</ng-template>

<!-- Show event creator and tag name for event-->
<ng-template #tagged let-event="event" let-tagging="tagging">
  <!-- Annotation link -->
  <a class="nav-link rounded-link-default" [bawUrl]="event.listenViewUrl">
    <!-- Loading when unresolved -->
    <ng-container
      *ngIf="
        (tagging.tag | isUnresolved) || (event.creator | isUnresolved);
        else loaded
      "
    >
      <baw-loading id="tag-loader" size="sm"></baw-loading>
    </ng-container>

    <!-- Annotation details -->
    <ng-template #loaded>
      "{{ tagging.tag.text }}" by
      {{ event.creator.userName }}
    </ng-template>
  </a>
</ng-template>
