<h3>Recent Annotations</h3>

<ul class="nav">
  <!-- Loading animation -->
  @if (!recentAudioEvents) {
    <baw-loading id="annotation-loader"></baw-loading>
  }

  <!-- Handle no annotations -->
  @if (recentAudioEvents?.length === 0) {
    <p id="no-annotations">
      No recent annotations found
    </p>
  }

  <!-- For each annotation and tagging -->
  @for (event of recentAudioEvents; track event) {
    @if (event.taggings.length === 0) {
      <li class="nav-item">
        <ng-container
          [ngTemplateOutlet]="notTagged"
          [ngTemplateOutletContext]="{ event }"
        ></ng-container>
      </li>
    }
    
    @for (tagging of event.taggings; track tagging) {
      <li class="nav-item">
        <ng-container
          [ngTemplateOutlet]="tagged"
          [ngTemplateOutletContext]="{ tagging, event }"
        ></ng-container>
      </li>
    }
  }
</ul>

<!-- Show event creator for untagged event -->
<ng-template #notTagged let-event="event">
  <!-- Annotation link -->
  <a class="nav-link rounded-link-default" [bawUrl]="event.listenViewUrl">
    @if (event.creator | isUnresolved) {
      <baw-loading id="tag-loader" size="sm"></baw-loading>
    } @else {
      (not tagged) by {{ event.creator.userName }}
    }
  </a>
</ng-template>

<!-- Show event creator and tag name for event-->
<ng-template #tagged let-event="event" let-tagging="tagging">
  <!-- Annotation link -->
  <a class="nav-link rounded-link-default" [bawUrl]="event.listenViewUrl">
    <!--
      Loading when unresolved
    -->
    @if (modelsUnresolved(event.creator, tagging.tag)) {
      <baw-loading id="tag-loader" size="sm"></baw-loading>
    } @else {
      <!-- Annotation details -->
      "{{ tagging.tag.text }}" by
      {{ event.creator.userName }}
    }
  </a>
</ng-template>
