<h4>{{ project.name }}</h4>

<ngx-datatable
  #table
  bawDatatableDefaults
  [columnMode]="ColumnMode.force"
  [columns]="columns"
  [rows]="rows"
  [count]="totalModels"
  [offset]="pageNumber"
  (page)="setPage($event)"
  (sort)="onSort($event)"
>
  <ngx-datatable-column
    name="Id"
    [width]="80"
    [maxWidth]="80"
  ></ngx-datatable-column>
  <ngx-datatable-column name="Name"></ngx-datatable-column>
  <ngx-datatable-column name="Actions" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a class="btn btn-sm btn-primary mr-1" [url]="detailsPath(value)">
        Details
      </a>
      <a class="btn btn-sm btn-primary mr-1" [routerLink]="playPath(value)">
        Play
      </a>
      <a class="btn btn-sm btn-primary" [url]="visualizePath(value)">
        Visualize
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
