<app-wip>
  <ng-container *ngIf="project">
    <h1>{{ project.name }}</h1>

    <h2>Assign Sites</h2>

    <p>
      Select the sites to be part of this project, and click 'Update' at the
      bottom of this page.
    </p>
    <p>Only the selected sites will be part of this project.</p>

    <ngx-datatable
      #table
      bawDatatableDefaults
      [columnMode]="ColumnMode.force"
      [columns]="columns"
      [rows]="rows"
      [selectAllRowsOnPage]="false"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [externalSorting]="true"
      [externalPaging]="true"
      [count]="totalModels"
      [offset]="pageNumber"
      (page)="setPage($event)"
      (sort)="onSort($event)"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [canAutoResize]="false"
        [checkboxable]="true"
        [draggable]="false"
        [headerCheckboxable]="false"
        [resizeable]="false"
        [sortable]="false"
        [width]="30"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Site Id"
        [minWidth]="75"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Name" [minWidth]="150"></ngx-datatable-column>
      <ngx-datatable-column
        name="Description"
        [minWidth]="400"
      ></ngx-datatable-column>
    </ngx-datatable>

    <app-error-handler [error]="error"></app-error-handler>
  </ng-container>
</app-wip>
