<div class="overlay alert alert-light shadow m-3">
  <div
    class="controls alert-heading d-flex justify-content-between align-items-center mb-2"
  >
    <h3 class="h4 text-dark fw-bold">Event Map</h3>
    <button class="btn btn-secondary" (click)="openSearchFiltersModal()">
      Edit Filters
    </button>
  </div>

  <div>
    <p class="text-muted">
      Map showing the locations of audio events matching the current filters.
    </p>

    @if (focusedSiteId() !== null) {
      @if (focusedEvents().length > 0) {
        <div class="species-list">
          <hr />

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Species</th>
                <th scope="col">Score</th>
              </tr>
            </thead>

            <tbody>
              @for (event of focusedEvents(); track event.id) {
                <tr>
                  <td>
                    <baw-inline-list
                      [items]="event.tags"
                      [itemKey]="'text'"
                      [emptyTemplate]="noTagsTemplate"
                    ></baw-inline-list>
                  </td>
                  <td>
                    @if (event.score !== undefined && event.score !== null) {
                      {{ event.score }}
                    } @else {
                      <i>No Score</i>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <div class="alert alert-warning">
          <strong class="fw-normal">
            No events found for this site with the current filters.
          </strong>
        </div>
      }
    }
  </div>
</div>

<baw-map [markers]="markers()">
  <ng-template #markerTemplate let-marker="marker">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      (click)="markerClicked(marker)"
    >
      <circle cx="20" cy="20" r="20" fill="var(--baw-highlight-lighter)" />
      <circle cx="20" cy="20" r="16" fill="var(--baw-highlight)" />
      <text
        x="20"
        y="25"
        text-anchor="middle"
        font-size="12"
        fill="var(--baw-highlight-contrast)"
        letter-spacing="0.75px"
        font-weight="bold"
      >
        {{ marker.count }}
      </text>
    </svg>
  </ng-template>
</baw-map>

<ng-template #searchFiltersModal let-filtersModal>
  <baw-search-filters-modal
    [modal]="filtersModal"
    [hasDecisions]="false"
    [successCallback]="updateSearchFilters.bind(this)"
    [formValue]="searchParameters()"
  ></baw-search-filters-modal>
</ng-template>

<ng-template #noTagsTemplate>No Tags</ng-template>
