<div class="pb-3">
  <div>
    Placeholder for tree table component
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Site</th>
        <th>Point</th>
        <th class="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <div class="clearfix">
            <div>Placeholder for tree table element</div>
            {{ rowData.name }}
          </div>
        </td>
        <td>
          <baw-pill-list
            [numPills]="3"
            [text]="getText(rowData.projects)"
          ></baw-pill-list>
        </td>
        <td>
          <baw-pill-list
            [numPills]="3"
            [text]="getText(rowData.sites)"
          ></baw-pill-list>
        </td>
        <td>
          <baw-pill-list
            [numPills]="3"
            [text]="getText(rowData.points)"
          ></baw-pill-list>
        </td>
        <td>
          <baw-indicator [status]="rowData.status"></baw-indicator>
        </td>
      </tr>
    </ng-template>
  </div>
</div>
