<div
  *ngIf="fields"
  class="login-form ps-2 pe-2 pb-3"
  [ngClass]="{ small: size === 'small' }"
>
  <h2 *ngIf="title" class="text-center" [innerHTML]="title"></h2>
  <small class="text-muted">
    <h6 *ngIf="subTitle" [innerHTML]="subTitle"></h6>
    <h6><ng-content select="#subTitle"></ng-content></h6>
  </small>

  <div class="clearfix">
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <!-- Spinner -->
      <ng-container *ngIf="!fields">
        <h4 class="text-center">Loading</h4>
        <baw-loading></baw-loading>
      </ng-container>

      <!-- Form -->
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>

      <!-- Right aligned submit button -->
      <div class="clearfix">
        <button
          *ngIf="submitLabel"
          type="submit"
          class="btn float-end"
          [ngClass]="'btn-' + btnColor"
          [disabled]="!fields || submitLoading"
        >
          {{ submitLabel }}
        </button>
      </div>
    </form>
  </div>
</div>
