.login-form {
  a {
    color: #4aba70;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0;
    padding: 30px 0;
    font-size: 34px;
  }
}

.small {
  max-width: 380px;
  margin: 0 auto;
}

.hint-text {
  color: #999;
  padding-bottom: 15px;
  text-align: center;
}

// Fixes issue with ngx formly
input[type="file"] {
  border: 0px;
  height: auto;
}

small {
  display: inline-block;
  height: auto;
}
