<div class="row">
  <ng-container *ngIf="imageCards; else defaultCards">
    <app-card-image
      *ngFor="let item of cards"
      [title]="item.title"
      [image]="Map(item.image)"
      [description]="item.description"
      [link]="item.link"
      class="col-lg-4 col-sm-6 portfolio-item mb-4"
    ></app-card-image>
  </ng-container>
  <ng-template #defaultCards>
    <app-card
      *ngFor="let item of cards"
      [title]="item.title"
      [description]="item.description"
      [link]="item.link"
      class="col-lg-4 mb-4"
    ></app-card>
  </ng-template>
  <ng-content></ng-content>
</div>
