#regions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-gap: 0rem;

  .map {
    grid-row: 1 / span 4;
    grid-column: -2;
    min-height: 400px;
  }

  .item {
    max-width: 100%;

    li {
      height: 100px;
    }
  }
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}
