@if (value() | isInstantiated) {
  @if (isDatatype(value(), "number")) {
    <!--
      This $any() type cast is safe because the isDatatype check above was able
      to type narrow value() to number.
    -->
    {{ $any(value()) | number }}
  } @else {
    <span
      class="text-danger text-muted tooltip-hint"
      [ngbTooltip]="'This value is not a valid number'"
    >
      {{ incorrectTypeText() }}
    </span>
  }
} @else {
  <span class="text-muted tooltip-hint" [ngbTooltip]="'This value is missing'">
    {{ missingValueText() }}
  </span>
}
