<section class="toImplement container-fluid body">
  <div class="row pl-3 pr-3 pr-xl-0">
    <!-- Navigation Bar -->
    <div class="col-lg-2 col-sm-12 p-0 mb-3">
      <div class="list-group w-100">
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >Edit my profile</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Projects</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Sites</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Bookmarks</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Annotations</a
        >
      </div>
    </div>

    <div class="col-lg-9 col-sm-12 p-0 pl-lg-3 pr-lg-3">
      <!-- Username -->
      <h1>Allcharles</h1>

      <!-- Profile details -->
      <div class="row">
        <!-- Profile icon and download -->
        <div class="col-md-4 col-12 mb-3">
          <!-- Icon -->
          <div class="thumbnail">
            <img
              alt="Allcharles"
              src="https://www.ecosounds.org/images/user/user_span3.png"
            />
            <div class="caption">
              <p>Last seen 2 minutes ago</p>
              <p>Member for 7 months</p>
            </div>
          </div>

          <!-- Download Annotations -->
          <div class="card">
            <div class="card-header">
              Download
            </div>
            <div class="card-body">
              <a href="#" class="card-text m-0">
                Annotations you've created
              </a>
            </div>
          </div>
        </div>

        <!-- Profile Overview -->
        <div class="col-md-8 col-12">
          <!-- Profile Statistics -->
          <div class="row mb-3">
            <div class="col-sm-6 mb-3">
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Projects
                  <span class="badge badge-success badge-pill">
                    8
                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Tags
                  <span class="badge badge-success badge-pill">
                    0
                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Bookmarks
                  <span class="badge badge-success badge-pill">
                    1
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 mb-3">
              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Sites
                  <span class="badge badge-success badge-pill">
                    177
                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Annotations
                  <span class="badge badge-success badge-pill">
                    0
                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Comments
                  <span class="badge badge-success badge-pill">
                    0
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <!-- Popular Tags -->
          <div class="card">
            <div class="card-header">
              Most Popular Tags
            </div>
            <div class="card-body">
              <p class="card-text">
                No annotations
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right padding -->
    <div class="col-lg-1 col-0"></div>
  </div>
</section>
