<app-layout>
  <div class="row pl-3 pr-3 pr-xl-0">
    <!-- Navigation Bar -->
    <div class="col-lg-2 col-sm-12 p-0 mb-3">
      <div class="list-group w-100">
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >Edit my profile</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Projects</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Sites</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Bookmarks</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-light"
          >My Annotations</a
        >
      </div>
    </div>

    <div class="col-lg-9 col-sm-12 p-0 pl-lg-3 pr-lg-3">
      <!-- Username -->
      <h1>Allcharles</h1>

      <!-- Profile details -->
      <div class="row">
        <!-- Profile icon and download -->
        <div class="col-md-4 col-12 mb-3">
          <app-profile-icon
            [icon]="'https://staging.ecosounds.org/images/user/user_span3.png'"
            [user_name]="'Allcharles'"
          ></app-profile-icon>

          <!-- Download Annotations -->
          <div class="card">
            <div class="card-header">
              Download
            </div>
            <div class="card-body">
              <a
                href="https://staging.ecosounds.org/data_request?selected_timezone_name=UTC&selected_user_id=1"
                class="card-text m-0"
              >
                Annotations you've created
              </a>
            </div>
          </div>
        </div>

        <!-- Profile Overview -->
        <div class="col-md-8 col-12">
          <!-- Profile Statistics -->
          <app-profile-statistics [stats]="stats"></app-profile-statistics>

          <!-- Popular Tags -->
          <app-profile-tags [tags]="tags"></app-profile-tags>
        </div>
      </div>
    </div>

    <!-- Right padding -->
    <div class="col-lg-1 col-0"></div>
  </div>
</app-layout>
