<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- Brand Logo -->
    <a
      class="navbar-brand"
      strongRouteActive="active"
      [strongRoute]="routes.home.route"
      [innerText]="title"
    ></a>

    <!-- Toggle button for collapsible content -->
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="visually-hidden">Toggle Navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="navbar-collapse" [class.collapse]="collapsed">
      <!-- Left aligned navigation links -->
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let header of headers">
          <ng-container *ngIf="!isNavigableMenuItem(header)">
            <baw-header-dropdown [links]="header"></baw-header-dropdown>
          </ng-container>

          <ng-container *ngIf="isNavigableMenuItem(header)">
            <baw-header-item [link]="header"></baw-header-item>
          </ng-container>
        </ng-container>
      </ul>

      <!-- Right aligned links -->
      <ul class="navbar-nav">
        <ng-container
          *ngTemplateOutlet="user ? userTemplate : guestTemplate"
        ></ng-container>
      </ul>
    </div>
  </div>
</nav>

<!-- Displace header section of webpage -->
<div style="height: 3.5rem"></div>

<ng-template #guestTemplate>
  <!-- Register Link -->
  <li class="nav-item">
    <a
      id="register-header-link"
      class="nav-link"
      strongRouteActive="active"
      [strongRoute]="routes.register.route"
      [innerText]="routes.register.label"
    ></a>
  </li>
  <!-- Login link-->
  <li class="nav-item">
    <a
      id="login-header-link"
      class="nav-link"
      strongRouteActive="active"
      [strongRoute]="routes.login.route"
      [innerText]="routes.login.label"
    ></a>
  </li>
</ng-template>

<ng-template #userTemplate>
  <!-- Admin dashboard link -->
  <li *ngIf="user.isAdmin" class="nav-item">
    <a
      id="admin-settings"
      class="nav-link"
      strongRouteActive="active"
      [strongRoute]="routes.admin.route"
    >
      <fa-icon [icon]="routes.admin.icon"></fa-icon>
    </a>
  </li>
  <!-- Profile photo -->
  <li class="nav-item">
    <a
      id="login-widget"
      class="nav-link"
      bawUrlActive="active"
      [bawUrl]="user.viewUrl"
    >
      <span [innerText]="user.userName"></span>
      <div class="image-wrapper d-inline-block bg-light ms-2">
        <img
          alt="Profile Icon"
          [width]="'30px'"
          [height]="'30px'"
          [src]="user.image"
          [thumbnail]="thumbnail"
        />
      </div>
    </a>
  </li>
  <!-- Logout button -->
  <li class="nav-item">
    <button
      id="logout-header-link"
      class="nav-link btn btn-link"
      (click)="logout()"
    >
      Logout
    </button>
  </li>
</ng-template>
