<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- Brand Logo -->
    <a
      class="navbar-brand"
      strongRouteActive="active"
      [strongRoute]="routes.home.route"
      [innerText]="title"
    ></a>

    <!-- Toggle button for collapsible content -->
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="visually-hidden">Toggle Navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="navbar-collapse" [class.collapse]="collapsed">
      <!-- Left aligned navigation links -->
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let header of headers">
          <baw-header-dropdown
            *ngIf="!isNavigableMenuItem(header)"
            [links]="header"
          ></baw-header-dropdown>
          <baw-header-item
            *ngIf="isNavigableMenuItem(header)"
            [link]="header"
          ></baw-header-item>
        </ng-container>
      </ul>

      <!-- Right aligned links -->
      <ul class="navbar-nav">
        <ng-container
          *ngTemplateOutlet="user ? userTemplate : guestTemplate"
        ></ng-container>
      </ul>
    </div>
  </div>
</nav>

<!-- Displace header section of webpage -->
<div style="height: 3.5rem"></div>

<ng-template #guestTemplate>
  <baw-header-item
    *ngFor="let menuItem of [routes.register, routes.login]"
    [link]="menuItem"
  ></baw-header-item>
</ng-template>

<ng-template #userTemplate>
  <!-- Admin toolbox -->
  <a
    *ngIf="user.isAdmin"
    id="admin-header-link"
    class="nav-link"
    strongRouteActive="active"
    [strongRoute]="routes.admin.route"
  >
    <fa-icon [icon]="routes.admin.icon"></fa-icon>
  </a>

  <!-- Profile photo -->
  <li class="nav-item">
    <a
      id="login-widget"
      class="nav-link"
      bawUrlActive="active"
      [bawUrl]="user.viewUrl"
    >
      <span [innerText]="user.userName"></span>
      <div class="d-inline-block bg-light ms-1">
        <img alt="Profile Icon" [src]="user.images" />
      </div>
    </a>
  </li>
  <!-- Logout button -->
  <li class="nav-item">
    <button
      id="logout-header-link"
      class="nav-link btn btn-link border-0"
      (click)="logout()"
    >
      Logout
    </button>
  </li>
</ng-template>
