<!-- TODO Show something when not meta review stage -->
<ng-container *ngIf="isMetaReviewStage$ | async">
  <h5>
    <fa-icon class="pe-1" [icon]="['fas', 'circle-info']"></fa-icon>Instructions
  </h5>

  <p>You can open and close folders by clicking on them.</p>

  <p>You don't have to change anything for files that have no problems.</p>

  <ng-container *ngIf="showFixableIssues">
    <hr />

    <h5>
      How to handle files which
      <span class="d-inline callout callout-warning">need attention</span>
    </h5>

    <p>
      A number of files have fixable problems. You can ignore these issues,
      however if you do, they will not be included in the final upload.
    </p>

    <p *ngIf="hasError('noSiteId') || hasError('ambiguousDateTime')">
      Some files require more information from you. Ensure you have set the site
      and UTC offset for their folder.
    </p>

    <p *ngIf="hasError('missingDate')">
      Some files have missing dates. To fix, go back to the upload stage, and
      ensure their filenames include a
      <a target="_blank" [href]="filenameGuide | safe : 'url'">date</a>.
    </p>

    <p *ngIf="hasError('futureDate')">
      Some files have dates in the future. To fix, go back to the upload stage,
      and
      <a target="_blank" [href]="filenameGuide | safe : 'url'"
        >rename the files</a
      >.
    </p>
  </ng-container>

  <ng-container *ngIf="showNonFixableIssues">
    <hr />

    <h5>
      How to handle
      <span class="d-inline callout callout-danger">problem files</span>
    </h5>

    <p>
      These files have problems we don't know how to fix. These files will
      automatically be ignored - you can upload the rest of your files and all
      the files without problems will be uploaded just fine.
    </p>

    <p>
      If you think there is nothing wrong with your files,
      <a [strongRoute]="contactUs.route">{{ contactUs.label }}</a
      >, and we will investigate.
    </p>

    <p *ngIf="hasError('invalidExtension')">
      Some files have invalid extensions, these may not be audio files.
      Supported file types include: mp3, webm, ogg, flac, and wav. Convert the
      files to a supported file type, and re-upload.
    </p>

    <p *ngIf="corruptedFile">
      Some files are corrupted, check against the original copy to determine if
      it was an upload error. If this was an upload error, re-upload it.
    </p>

    <p *ngIf="hasError('duplicateFile')">
      Some files in the current upload are duplicate files from a previous
      uploaded indicating an accidental upload. You can go back and
      <a href="https://www.google.com">change the files</a> to delete the
      duplicates duplicates.
    </p>

    <p *ngIf="hasError('duplicateFileInHarvest')">
      Some files in the current upload are duplicates of each other indicating
      an accidental upload. You can go back and
      <a href="https://www.google.com">change the files</a> to delete the
      duplicates duplicates.<br />If you have duplicates in <i>Site A</i> and in
      <i>Site B</i> we'll reject both. We don't know for sure which site they're
      meant to be in.
    </p>

    <p
      *ngIf="
        hasError('overlappingFiles') || hasError('overlappingFilesInHarvest')
      "
    >
      Some recordings are overlapping other recordings. This may be a sign of
      accidentally setting the wrong site on a folder, or a fault in the
      recording sensor.
    </p>
  </ng-container>

  <div class="mb-3"></div>
</ng-container>
