<nav class="container-fluid navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- Brand Logo -->
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      Ecosounds
    </a>

    <!-- Toggle button for collapsable content -->
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="sr-only">Toggle Navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsable content -->
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      [ngClass]="{ collapse: collapsed }"
    >
      <!-- Left aligned navigation links -->
      <ul class="navbar-nav mr-auto">
        <!-- Projects Link -->
        <li class="nav-item" [ngClass]="{ active: isActive('Projects') }">
          <a
            class="nav-link"
            routerLink="/projects"
            routerLinkActive="active"
            i18n="Navbar Projects Link|Link to Projects page@@navbarProjects"
          >
            Projects
            <span class="sr-only" *ngIf="isActive('Projects')">(current)</span>
          </a>
        </li>

        <!-- Listen link -->
        <li class="nav-item" [ngClass]="{ active: isActive('Listen') }">
          <a
            class="nav-link"
            routerLink="/listen"
            routerLinkActive="active"
            i18n="Navbar Listen Link|Link to Listen page@@navbarListen"
          >
            Listen
          </a>
          <span class="sr-only" *ngIf="isActive('Listen')">(current)</span>
        </li>

        <!-- Library link -->
        <li class="nav-item" [ngClass]="{ active: isActive('Library') }">
          <a
            class="nav-link"
            i18n="Navbar Library Link|Link to Library page@@navbarLibrary"
            routerLink="/library"
            routerLinkActive="active"
          >
            Library
          </a>
          <span class="sr-only" *ngIf="isActive('Library')">(current)</span>
        </li>

        <!-- Research links -->
        <li class="nav-item dropdown" ngbDropdown>
          <a
            id="dropdownBasic1"
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            [ngClass]="{ active: isActive('Research') }"
            i18n="Navbar Research Dropdown|Research dropdown options header@@navbarResearch"
          >
            Research
          </a>
          <span class="sr-only" *ngIf="isActive('Research')">(current)</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a
              ngbDropdownItem
              i18n="Navbar Research About Link|Link to explain what research is being done@@navbarAbout"
              routerLink="/research/about"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="research.about"></fa-icon>
              </div>
              About
            </a>
            <a
              ngbDropdownItem
              i18n="Navbar Research Articles Link|Link to research articles@@navbarArticles"
              routerLink="/research/articles"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="research.articles"></fa-icon>
              </div>
              Articles
            </a>
            <a
              ngbDropdownItem
              i18n="Navbar Research Resources Link|Link to research resources@@navbarResources"
              routerLink="/research/resources"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="research.resources"></fa-icon>
              </div>
              Resources
            </a>
            <a
              ngbDropdownItem
              i18n="Navbar Research People Link|Link to list of people working on the research articles@@navbarPeople"
              routerLink="/research/people"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="research.people"></fa-icon>
              </div>
              People
            </a>
            <a
              ngbDropdownItem
              i18n="Navbar Research Publications Link|Link to list of publications by research team@@navbarPublications"
              routerLink="/research/publications"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="research.publications"></fa-icon>
              </div>
              Publications
            </a>
          </div>
        </li>

        <!-- Contact Us links-->
        <li class="nav-item dropdown" ngbDropdown>
          <a
            id="dropdownBasic2"
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            [ngClass]="{ active: isActive('about') }"
          >
            About
          </a>
          <span class="sr-only" *ngIf="isActive('about')">(current)</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <a
              ngbDropdownItem
              routerLink="/about/report"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="about.report"></fa-icon>
              </div>
              Report Problem
            </a>
            <a
              ngbDropdownItem
              routerLink="/about/contact"
              routerLinkActive="active"
              i18n="Navbar Contact Us Link|Link to contact us page@@navbarContactUs"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="about.contact"></fa-icon>
              </div>
              Contact Us
            </a>
            <a
              ngbDropdownItem
              routerLink="/about/credits"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="about.credits"></fa-icon>
              </div>
              Credits
            </a>
            <a
              ngbDropdownItem
              routerLink="/about/disclaimers"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="about.disclaimers"></fa-icon>
              </div>
              Disclaimers
            </a>
            <a
              ngbDropdownItem
              routerLink="/about/ethics"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <fa-icon [icon]="about.ethics"></fa-icon>
              </div>
              Ethics
            </a>
          </div>
        </li>
      </ul>

      <!-- Right aligned unauthenticated links -->
      <ul class="navbar-nav" *ngIf="!loggedIn">
        <li class="nav-item" [ngClass]="{ active: isActive('Login') }">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            i18n="Navbar Login Link|Link to account login page@@navbarLogin"
          >
            Login
          </a>
          <span class="sr-only" *ngIf="isActive('Login')">(current)</span>
        </li>
        <li class="nav-item" [ngClass]="{ active: isActive('Register') }">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            i18n="Navbar Register Link|Link to account registration page@@navbarStatistics"
          >
            Register
          </a>
          <span class="sr-only" *ngIf="isActive('Register')">(current)</span>
        </li>
      </ul>

      <!-- Right aligned authenticated links -->
      <ul class="navbar-nav" *ngIf="loggedIn">
        <li class="nav-item" [ngClass]="{ active: isActive('Profile') }">
          <a
            class="nav-link login-widget"
            routerLink="/profile"
            routerLinkActive="active"
          >
            <span>{{ user_name }}</span>
            <img
              src="https://staging.ecosounds.org/images/user/user_spanhalf.png"
              alt="Profile Icon"
            />
          </a>
          <span class="sr-only" *ngIf="isActive('Profile')">(current)</span>
        </li>
        <li class="nav-item" [ngClass]="{ active: isActive('Logout') }">
          <a
            class="nav-link"
            (click)="logout()"
            routerLink="/"
            routerLinkActive="active"
          >
            Logout
          </a>
          <span class="sr-only" *ngIf="isActive('Logout')">(current)</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Displace header section of webpage -->
<div style="height: 3.5rem;"></div>
