<nav class="container-fluid navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- Brand Logo -->
    <a
      class="navbar-brand"
      routerLink="{{ routes.home.route }}"
      routerLinkActive="active"
    >
      {{ title }}
    </a>

    <!-- Toggle button for collapsable content -->
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="sr-only">Toggle Navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsable content -->
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      [ngClass]="{ collapse: collapsed }"
    >
      <!-- Left aligned navigation links -->
      <ul class="navbar-nav mr-auto">
        <!-- Projects Link -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/projects"
            routerLinkActive="active"
            i18n="Navbar Projects Link|Link to Projects page@@navbarProjects"
          >
            Projects
          </a>
        </li>

        <!-- Listen link -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/listen"
            routerLinkActive="active"
            i18n="Navbar Listen Link|Link to Listen page@@navbarListen"
          >
            Listen
          </a>
        </li>

        <!-- Library link -->
        <li class="nav-item">
          <a
            class="nav-link"
            i18n="Navbar Library Link|Link to Library page@@navbarLibrary"
            routerLink="/library"
            routerLinkActive="active"
          >
            Library
          </a>
        </li>
      </ul>

      <!-- Right aligned unauthenticated links -->
      <ul class="navbar-nav" *ngIf="!username">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="{{ routes.register.route }}"
            routerLinkActive="active"
            i18n="Navbar Register Link|Link to account registration page@@navbarStatistics"
          >
            {{ routes.register.label }}
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ active: isActive('Login') }">
          <a
            class="nav-link"
            routerLink="{{ routes.login.route }}"
            routerLinkActive="active"
            i18n="Navbar Login Link|Link to account login page@@navbarLogin"
          >
            {{ routes.login.label }}
          </a>
        </li>
      </ul>

      <!-- Right aligned authenticated links -->
      <ul class="navbar-nav" *ngIf="username">
        <li class="nav-item">
          <a
            class="nav-link login-widget"
            routerLink="/profile"
            routerLinkActive="active"
          >
            <span>{{ username }}</span>
            <img
              src="https://staging.ecosounds.org/images/user/user_spanhalf.png"
              alt="Profile Icon"
            />
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ active: isActive('Logout') }">
          <button class="nav-link btn" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Displace header section of webpage -->
<div style="height: 3.5rem;"></div>
