<h5>
  <fa-icon class="pe-1" [icon]="['fas', 'circle-info']"></fa-icon>Instructions
</h5>

<p>
  You can use this interface to upload annotations from human or machine
  generated datasets.
</p>

@if (hasUncommittedFiles()) {
  <div class="uncommitted-file-warning alert alert-warning">
    <h6>
      <fa-icon class="pe-1" [icon]="['fas', 'triangle-exclamation']"></fa-icon>
      Warning
    </h6>

    <strong>Your files have not been committed</strong>. Please review your
    uploaded files, and click "Import Annotations" to continue.
  </div>
}

@if (annotationImport.importErrors().length > 0) {
  <section class="error-section widget-section border-top">
    <h5>How to handle errors</h5>

    <div class="error-cards">
      @if (hasEventErrors()) {
        <div class="widget-card">
          <h6 class="callout callout-danger">Event errors</h6>

          <p>
            Event errors are broken down per-row in the "Identified Events"
            table.
          </p>

          <p>
            Errors can arise due to invalid values, incorrect data types, or
            referencing audio recordings that you don't have permission to
            access.
          </p>
        </div>
      }

      @if (hasDuplicateFiles()) {
        <div class="widget-card">
          <h6 class="callout callout-danger">Duplicate files</h6>

          <p>
            Datasets that contain the same content cannot be uploaded twice.
          </p>

          <p>
            This includes other accounts uploading the same dataset. Please
            ensure that this dataset has not previously been uploaded by another
            person.
          </p>
        </div>
      }

      @if (hasUnsupportedFormat()) {
        <div class="widget-card">
          <h6 class="callout callout-danger">Unknown file format</h6>

          <p>
            We support many file formats found <a href="#todo">here</a>. Please
            ensure that your file format abides by one of these formats or
            <a href="#todo">contact us</a> if you believe we should support this
            format.
          </p>
        </div>
      }
    </div>
  </section>
}

@if (annotationImport.importWarnings().length > 0) {
  <section class="warning-section widget-section border-top">
    @if (hasMissingTags()) {
      <div class="tags-warning widget-card">
        <h6 class="callout callout-warning">Missing tags</h6>

        <p>Some events do not have tags associated with events.</p>

        <p>
          You will be able to import the events, but the imported events will
          not be discoverable via their tag names.
        </p>
      </div>
    }
  </section>
}
