$container-borders: 2px solid #d1d4d7;

:host ::ng-deep {
  .directory-listing-item {
    display: flex;
    flex-direction: row;
    background-color: inherit;
  }
}

.directory-column-header {
  display: grid;
  grid-template-columns:
    1fr
    14rem
    9rem
    min-content
    min-content;
  grid-template-rows: 1fr;
  border-bottom: $container-borders;
  background-color: white;
}

.directory-listing-container {
  min-width: fit-content;
  border-bottom: $container-borders;
}
