<baw-wip>
  <ng-container *ngIf="rows && !failure && !error">
    <h1>{{ project.name }}</h1>

    <h2>Assign Sites</h2>

    <p>
      Select the sites to be part of this project, and click 'Update' at the
      bottom of this page.
    </p>

    <p>Only the selected sites will be part of this project.</p>

    <p>
      Displaying <strong>{{ pageSize }}</strong> of
      <strong>all {{ totalModels }}</strong> sites.
    </p>

    <baw-debounce-input
      label="Filter"
      placeholder="Filter Sites"
      (filter)="onFilter($event)"
    ></baw-debounce-input>

    <ngx-datatable
      #table
      bawDatatableDefaults
      [columnMode]="ColumnMode.force"
      [columns]="columns"
      [rows]="rows"
      [selectAllRowsOnPage]="false"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [count]="totalModels"
      [offset]="pageNumber"
      (page)="setPage($event)"
      (sort)="onSort($event)"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [canAutoResize]="false"
        [checkboxable]="true"
        [draggable]="false"
        [headerCheckboxable]="false"
        [resizeable]="false"
        [sortable]="false"
        [width]="30"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Site Id"
        [minWidth]="75"
        [maxWidth]="75"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Description"></ngx-datatable-column>
    </ngx-datatable>

    <baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
  </ng-container>
</baw-wip>
