<ngx-datatable
  bawDatatableDefaults
  bawDatatablePagination
  [paginationFilters$]="filters$"
  [paginationGetModels]="getModels"
  [columns]="columns"
>
  <ngx-datatable-column name="Id" [width]="70" [maxWidth]="70">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ asRecording(value).id }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Site">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <baw-loading
        *ngIf="asRecording(value).site | isUnresolved; else site"
        size="sm"
      ></baw-loading>
      <ng-template #site>
        <a [bawUrl]="asRecording(value).site.viewUrl">
          {{ asRecording(value).site.name }}
        </a>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Recorded" [width]="150" [maxWidth]="150">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span [ngbTooltip]="asRecording(value).recordedDateTimezone ?? 'UTC'">
        {{ formatDate(asRecording(value).recordedDate) }}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Duration" [width]="170" [maxWidth]="170">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ formatDuration(asRecording(value).duration) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Media Type" [width]="100" [maxWidth]="100">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ asRecording(value).mediaType }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Original File Name">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ asRecording(value).originalFileName }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
