@import '../../../../styles/thumbnail.scss';

.site {
  display: flex;

  .image img {
    max-width: 60px;
    height: auto;
  }

  .body {
    flex: 1;

    .heading {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    ul {
      margin-bottom: 0px;
    }

    .nav > li > a:hover {
      text-decoration: none;
      background-color: #eee;
      &.active {
        text-decoration: none;
        background-color: #007bff;
      }
    }
    .nav-pills > li > a {
      font-size: 0.9rem;
      border-radius: 4px;
    }
  }
}

agm-map {
  height: 100%;
  min-height: 400px;
}

.map-placeholder {
  border: 1px solid black;
  display: block;
  height: 400px;
  line-height: 400px;
  text-align: center;

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
}
