<ng-container *ngIf="state === 'project'">
  <!-- Project Details -->
  <h1>{{ project.name }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img [src]="project.imageUrl" [alt]="project.name" />
      </div>
    </div>
    <div class="col-sm-8">
      <p>{{ project.description }}</p>
    </div>
  </div>

  <!-- Sites -->
  <h2>Sites</h2>
  <div class="row">
    <!-- Left aligned list of sites -->
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let site of sites">
          <div class="site">
            <div class="image">
              <a [routerLink]="site.getSiteUrl(project)">
                <img [src]="site.imageUrl" [alt]="site.name" />
              </a>
            </div>
            <div class="body">
              <div class="heading">
                <h5>
                  <a [routerLink]="site.getSiteUrl(project)">{{ site.name }}</a>
                </h5>
              </div>

              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="site.getSiteUrl(project)">
                    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                    Details
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="not_developed">
                    <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
                    Play
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="not_developed">
                    <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                    Visualise
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Right aligned map -->
    <div class="col-sm-6">
      <div *ngIf="sites">
        <agm-map
          [latitude]="sites[0].customLatitude"
          [longitude]="sites[0].customLongitude"
        >
          <agm-marker
            *ngFor="let site of sites"
            [label]="site.name"
            [latitude]="site.customLatitude"
            [longitude]="site.customLongitude"
          ></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</ng-container>

<!-- Unauthorized Access Display -->
<ng-container *ngIf="state === 'unauthorized'">
  <app-unauthorized></app-unauthorized>
</ng-container>

<!-- Project Not Found Display -->
<ng-container *ngIf="state === 'notFound'">
  <app-item-not-found></app-item-not-found>
</ng-container>

<!-- Project Data Loading Display -->
<ng-container *ngIf="state === 'loading'">
  <h4 class="text-center">Loading</h4>
  <div class="d-flex justify-content-center">
    <mat-spinner diameter="30" strokeWidth="4"></mat-spinner>
  </div>
</ng-container>
