.thumbnail {
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: block;
  line-height: 1.428571429;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.2s ease-in-out;

  img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.site {
  display: flex;

  .image img {
    max-width: 60px;
    height: auto;
  }

  .body {
    flex: 1;

    .heading {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}
