<ng-container *ngIf="ready">
  <!-- Project Details -->
  <h1>{{ project.name }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img [src]="project.imageUrl" [alt]="project.name" />
      </div>
    </div>
    <div class="col-sm-8">
      <p id="project_description">{{ project.description }}</p>
    </div>
  </div>

  <!-- Sites -->
  <h2>Sites</h2>
  <div class="row">
    <!-- Left aligned list of sites -->
    <div class="col-sm-6">
      <ul class="list-group">
        <ng-container *ngIf="sites && sites.length > 0; else placeholderSite">
          <app-site-card
            *ngFor="let site of sites"
            [project]="project"
            [site]="site"
          ></app-site-card>
        </ng-container>
        <ng-template #placeholderSite>
          <p id="site_placeholder">No sites associated with this project</p>
        </ng-template>
      </ul>
    </div>

    <!-- Right aligned map -->
    <div class="col-sm-6">
      <app-map [sites]="sites"></app-map>
    </div>
  </div>
</ng-container>

<app-loading [isLoading]="!ready && !error"></app-loading>
<app-error-handler [error]="error"></app-error-handler>
