<ng-container *ngIf="rows && !error">
  <h1>Audio Recordings</h1>

  <p>
    Displaying <strong>{{ pageSize }}</strong> of
    <strong>all {{ totalModels }}</strong> audio recordings.
  </p>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Recorded">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span [ngbTooltip]="value.recordedDateTimezone" placement="right">
          {{ getRecordingDate(value) }}
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Duration"> </ngx-datatable-column>
    <ngx-datatable-column name="Uploader">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <baw-user-link [user]="value.uploader"></baw-user-link>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Site">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ siteColumnName }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <!-- Show loading animation while site is unresolved -->
        <baw-loading
          *ngIf="site ?? value.site | isUnresolved; else showSite"
          size="sm"
        ></baw-loading>

        <!-- Create site link when site is loaded-->
        <ng-template #showSite>
          <ng-container
            *ngTemplateOutlet="siteLink; context: { model: site ?? value.site }"
          ></ng-container>
        </ng-template>

        <!-- Template for showing site link -->
        <ng-template #siteLink let-model="model">
          <!-- Use project in link if exists -->
          <ng-container *ngIf="projectId; else modelWithoutProject">
            <a [bawUrl]="model.getViewUrl(projectId)">
              {{ model.name }}
            </a>
          </ng-container>

          <!-- Let site handle link if no definitive project-->
          <ng-template #modelWithoutProject>
            <a [bawUrl]="model.viewUrl">
              {{ model.name }}
            </a>
          </ng-template>
        </ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Model"
      [width]="170"
      [maxWidth]="170"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a
          class="btn btn-sm btn-highlight me-1"
          placement="left"
          [ngbTooltip]="'Listen to this audio recording'"
          [bawUrl]="value.playUrl"
        >
          <fa-icon [icon]="['fas', 'play']"></fa-icon>
        </a>
        <a
          class="btn btn-sm btn-default me-1"
          placement="left"
          [ngbTooltip]="'Download audio recording'"
          [href]="value.getDownloadUrl(apiRoot)"
        >
          <fa-icon [icon]="['fas', 'download']"></fa-icon>
        </a>

        <a
          class="btn btn-sm btn-default me-1"
          placement="left"
          [ngbTooltip]="'Download audio recording analysis results'"
          [bawUrl]="value.getAnalysisResultsUrl(projectId, region, site)"
        >
          <fa-icon [icon]="['fas', 'file-arrow-down']"></fa-icon>
        </a>

        <!-- Change this link dynamically -->
        <a
          class="btn btn-sm btn-default"
          placement="left"
          [ngbTooltip]="'View audio recording details'"
          [bawUrl]="value.getDetailsUrl(projectId, region, site)"
        >
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>

<baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
