.callout {
  display: block;
  width: 100%;
  word-break: break-word;
  padding: 0.25rem;
  line-height: 1.5em;

  &.callout-warning {
    background-color: hsla(var(--baw-warning-hsl), 0.075);
    border-left: 0.25rem solid hsla(var(--baw-warning-hsl), 0.5);
  }

  &.callout-danger {
    background-color: hsla(var(--baw-danger-hsl), 0.075);
    border-left: 0.25rem solid hsla(var(--baw-danger-hsl), 0.5);
  }

  &.callout-error {
    background-color: rgba(0, 0, 0, 0.075);
    border-left: 0.25rem solid black;
  }
}

// TODO This instantly expands the containing row, a better solution could be
// achieved using JS: https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
.expander-wrapper {
  display: grid;
  width: 100%;

  .expander {
    display: flex;
    flex-direction: column;

    &.expand .content {
      flex: 1;
    }

    .content {
      flex-basis: 1.8em;
      transition: 0.1s;
      overflow: hidden;
    }
  }
}

.issues-extended {
  grid-column: 2 / 5;
  position: relative;

  .dropdown-icon {
    position: absolute;
    right: var(--table-padding);
    top: var(--table-padding);
    cursor: pointer;
  }
}

.badge {
  height: min-content;
}

baw-meta-review-whitespace {
  display: contents;
}
