<ng-container *ngIf="rows && !error">
  <h1>Audio Recordings</h1>

  <p>
    Displaying <strong>{{ pageSize }}</strong> of
    <strong>all {{ totalModels }}</strong> audio recordings.
  </p>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Id" [width]="60" [maxWidth]="60">
    </ngx-datatable-column>
    <ngx-datatable-column name="Site" [width]="50" [maxWidth]="50">
    </ngx-datatable-column>
    <ngx-datatable-column name="Duration"></ngx-datatable-column>
    <ngx-datatable-column name="Recorded"></ngx-datatable-column>
    <ngx-datatable-column
      name="Model"
      [width]="140"
      [maxWidth]="140"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a class="btn btn-sm btn-default mr-2" [bawUrl]="value.adminViewUrl">
          Details
        </a>
        <a class="btn btn-sm btn-default" [bawUrl]="value.viewUrl">Play</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>

<baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
