:host {
  display: block;
  position: relative;

  height: 100%;
}

#species-column {
  // To reduce visible layout shift, I set a min-width on the species column so
  // that we don't see the column resize when the species names change from a
  // "loading" placeholder to the resolved name.
  width: 17rem;
}

.event-map {
  display: block;
  width: 100%;

  height: 100%;
  min-height: 40rem;

  contain: content;
}

.overlay {
  position: absolute;
  z-index: 10;

  contain: content;
}

.hide-on-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.hide-on-desktop {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.desktop-overlay {
  width: 36rem;
  max-width: 100%;
}

@media (max-width: 767px) {
  #species-column {
    width: auto;
  }

  .desktop-overlay {
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0;

    height: 100%;
  }
}
