<form class="mb-3">
  <div class="row">
    <div class="col input-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Palette</label>
      </div>
      <select class="form-control" (change)="onPaletteChange($event)">
        <option
          *ngFor="let palette of palettes"
          [selected]="palette === selected.palette"
          [value]="palette"
        >
          {{ palette }}
        </option>
      </select>
    </div>
    <div class="col input-group">
      <input
        type="color"
        class="form-control"
        [value]="selected.color"
        (change)="onColorChange($event)"
      />
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="resetColors()">
          Reset
        </button>
      </div>
    </div>
  </div>
</form>

<h2>Colours</h2>

<div class="palette-row">
  <div
    #colorBox
    *ngFor="let color of colors"
    class="color-box"
    [style.backgroundColor]="'var(' + color.color + ')'"
    [style.color]="'var(' + color.contrast + ')'"
  >
    <p class="mt-3">
      {{ color.palette | titlecase }}:{{ color.variant | titlecase }}
    </p>
    <p>Sample Text</p>
    <p id="color">#000</p>
  </div>
</div>

<h2>Buttons</h2>

<button *ngFor="let button of buttons" class="btn me-2 mb-2" [ngClass]="button">
  {{ button }}
</button>

<h2>Text</h2>

<p *ngFor="let text of texts" [ngClass]="text">
  {{ text }}
</p>

<h2>Spinners</h2>

<div
  *ngFor="let spinner of spinners"
  class="spinner-border me-2 mb-2"
  [ngClass]="spinner"
>
  <span class="visually-hidden">Loading...</span>
</div>
