<header>
  <div class="landing-image"></div>
</header>

<div class="container-fluid" style="background-color: #e9ecef">
  <section class="toImplement container">
    <h1 i18n="Ecosounds Title|Title for ecosounds.@@Title">
      Ecosounds
    </h1>
    <p
      class="lead"
      i18n="Ecosounds Subtitle|Subtitle for ecosounds.@@ecosoundsSubtitle"
    >
      Welcome! Ecosounds is a repository of environmental audio recordings.
    </p>
    <p
      i18n="Ecosounds Description|Description of what ecosounds is.@@ecosoundsDescription"
    >
      This website facilitates the management, access, visualization, and
      analysis of environmental acoustic data. It uses the Acoustic Workbench
      software which is is open source and available from
      <a href="https://github.com/QutEcoacoustics">GitHub.</a><br />The website
      is run by the QUT Ecoacoustics Research Group to
      <a routerLink="/research/about" routerLinkActive="active">
        support bioacoustics and ecoacoustics research.
      </a>
    </p>
  </section>
</div>

<div class="container-fluid">
  <section class="container">
    <h2
      i18n="Our Process|Our process for creating and analysing data.@@ourProcessTitle"
    >
      Our Process
    </h2>

    <app-cards [cards]="processList"> </app-cards>
  </section>
</div>

<div class="container-fluid" style="background-color: #e9ecef">
  <section class="container">
    <h2
      i18n="Projects Title|Projects users are allowed to access without logging in.@@projectsTitle"
    >
      Some of the projects you can access
    </h2>
    <p
      i18n="Projects Description|Description of public projects.@@projectsDescription"
    >
      You can browse some public projects and audio recordings without logging
      in. To participate in the analysis work you will need to Log in with an
      existing account or Register for a new account.
    </p>

    <app-cards [cards]="projectList$ | async">
      <ng-container>
        <button
          class="m-auto btn btn-outline-primary"
          i18n="Projects Button|Link to further list of projects.@@projectsButton"
          routerLink="/projects"
          routerLinkActive="active"
        >
          More Projects
        </button>
      </ng-container>
    </app-cards>
  </section>
</div>
