<app-cms [page]="page"></app-cms>

<div class="container-fluid" style="background-color: #e9ecef">
  <section class="container">
    <h2>
      Some of the projects you can access
    </h2>
    <p>
      You can browse some public projects and audio recordings without logging
      in. To participate in the analysis work you will need to Log in with an
      existing account or Register for a new account.
    </p>

    <app-cards [cards]="projectList" [content]="true">
      <ng-container>
        <button
          class="m-auto btn btn-outline-primary"
          [routerLink]="moreProjectsLink.route.toString()"
        >
          More Projects
        </button>
      </ng-container>
    </app-cards>
  </section>
</div>
