<header>
  <div class="landing-image"></div>
</header>

<div class="container-fluid" style="background-color: #e9ecef">
  <section class="toImplement container">
    <h1>
      {{ title }}
    </h1>
    <p class="lead">
      Welcome! Ecosounds is a repository of environmental audio recordings.
    </p>
    <p>
      This website facilitates the management, access, visualization, and
      analysis of environmental acoustic data. It uses the Acoustic Workbench
      software which is is open source and available from
      <a href="https://github.com/QutEcoacoustics">GitHub.</a><br />The website
      is run by the QUT Ecoacoustics Research Group to
      <a routerLink="/research/about" routerLinkActive="active">
        support bioacoustics and ecoacoustics research.
      </a>
    </p>
  </section>
</div>

<div class="container-fluid">
  <section class="container">
    <h2>
      Our Process
    </h2>

    <app-cards [cards]="processList"> </app-cards>
  </section>
</div>

<div class="container-fluid" style="background-color: #e9ecef">
  <section class="container">
    <h2>
      Some of the projects you can access
    </h2>
    <p>
      You can browse some public projects and audio recordings without logging
      in. To participate in the analysis work you will need to Log in with an
      existing account or Register for a new account.
    </p>

    <app-cards [cards]="projectList$ | async">
      <ng-container>
        <button
          class="m-auto btn btn-outline-primary"
          routerLink="{{ moreProjectsLink.route }}"
        >
          More Projects
        </button>
      </ng-container>
    </app-cards>
  </section>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
