@if (hasMarkers && hasMapsLoaded()) {
  <google-map
    height="100%"
    width="100%"
    mapId="0"
    [options]="mapOptions()"
    (mapClick)="markerOptions()?.draggable && newLocation.emit($event)"
  >
    <map-marker-clusterer [renderer]="clusterRenderer()">
      @for (individualMarkerOptions of validMarkersOptions; track individualMarkerOptions) {
        <map-marker
          #markerRef="mapMarker"
          [options]="markerOptions()"
          [title]="individualMarkerOptions.title"
          [position]="individualMarkerOptions.position"
          (mapDragend)="newLocation.emit($event)"
          (mapMouseover)="addMapMarkerInfo(individualMarkerOptions, markerRef)"
          (positionChanged)="focusMarkers()"
          (markerInitialized)="focusMarkers()"
        ></map-marker>
      }
    </map-marker-clusterer>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
} @else {
  <div class="map-placeholder">
    @if (mapsLoadState() === MapLoadState.Failed) {
      <p class="text-danger">Failure loading map</p>
      <p class="error-hint">
        Please ensure your ad-block is not blocking Google Maps
      </p>
    } @else if (!hasMapsLoaded()) {
      <baw-loading></baw-loading>
    } @else if (!hasMarkers) {
      <p>No locations specified</p>
    }
  </div>
}
