@if (hasMarkers && googleMapsLoaded === true) {
<google-map
  height="100%"
  width="100%"
  [options]="mapOptions"
  (mapClick)="markerOptions?.draggable && newLocation.emit($event)"
>
  <map-marker
    #marker="mapMarker"
    *ngFor="let markerOptions of validMarkersOptions"
    [options]="markerOptions"
    [position]="markerOptions.position"
    (mapDragend)="newLocation.emit($event)"
    (mapMouseover)="addMapMarkerInfo(markerOptions, marker)"
    (positionChanged)="focusMarkers()"
    (markerInitialized)="focusMarkers()"
  ></map-marker>
  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
} @else {
<div class="map-placeholder">
  @if (googleMapsLoaded === false) {
  <p class="text-danger">Failure loading map</p>
  <p class="error-hint">
    Please ensure your ad-block is not blocking Google Maps
  </p>
  } @else if (!hasMarkers) {
  <p>No locations specified</p>
  } @else {
  <baw-loading></baw-loading>
  }
</div>
}
