.map-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  height: 100%;
  min-height: 400px;
}

.error-hint {
  text-align: center;
}
