<div class="pl-2 pr-2">
  <div class="login-form">
    <h2 class="text-center">Contact Us</h2>

    <ngb-alert [type]="'danger'" (close)="clearError()" *ngIf="error">{{
      error
    }}</ngb-alert>

    <div class="form-background clearfix">
      <!-- Icon at top of form -->
      <div class="avatar d-flex justify-content-center align-content-center">
        <fa-icon [icon]="['fa', 'question-circle']" class="form-icon"></fa-icon>
      </div>
      <p class="text-center">
        This form is for general enquires. We have separate forms to
        <a routerLink="/data_request" routerLinkActive="active">request data</a>
        or
        <a routerLink="/about/report" routerLinkActive="active">report issues</a
        >.
      </p>
      <form [formGroup]="form" (ngSubmit)="submit(model)">
        <div class="d-flex justify-content-center" *ngIf="!fields">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
        ></formly-form>
        <div class="clearfix">
          <button type="submit" class="btn btn-success float-right">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
