<h1>Audio Harvest Instructions</h1>

<p>
  Currently harvesting audio files is an internal process. Use the
  <a id="contact-us-link" [strongRoute]="contactUs.route">{{
    contactUs.label
  }}</a>
  page if you have audio data which needs to be processed.
</p>

<h2>Harvest.yml template</h2>

<pre>
# the project
project_id: {{ project.id }}

# the site
site_id: {{ site.id }}

# recursively check all subfolders for audio files. If false, this will only
# check the current folder for audio files
recursive: false

# this needs to be set manually
# below is a list of uploader_ids that have write access to this project
# uncomment the one that you want to set as the uploader of the audio files
# |---------- IMPORTANT: Ensure there is no whitespaces left before uploader_id
#uploader_id: {{ user?.id }} # {{ user?.userName }}
#uploader_id: {{ user?.id }} # {{ user?.userName }}
#uploader_id: {{ user?.id }} # {{ user?.userName }}

# this is the timezone for all the recordings.
# the value should be the timezone offset that
# the recorder was set to when it started recording.
# example: `utc_offset: '+10'` for Brisbane, Australia
utc_offset: 'INTENTIONALLY_INVALID'

# structured metadata to add to each recording.
# use this to record information about sensors, etc...
metadata:
#  sensor_type: SM2
#  notes:
#    - stripped left channel due to bad mic
#    - appears to have electronic interference from solar panel
</pre>
