<div *ngIf="!error">
  <!-- TODO Extract title to shared component -->
  <h1>
    <small class="text-muted"> Project: {{ project.name }} </small>
    <br />
    Upload Recordings
  </h1>

  <baw-stepper
    [numSteps]="stages.numStages"
    [activeStep]="stages.currentStage"
  ></baw-stepper>

  <div *ngIf="stages.isCurrentStage('uploading')">
    <baw-loading *ngIf="!stages.harvest"></baw-loading>

    <baw-harvest-stream-uploading
      *ngIf="stages.harvest?.streaming"
    ></baw-harvest-stream-uploading>

    <baw-harvest-batch-uploading
      *ngIf="!stages.harvest?.streaming"
    ></baw-harvest-batch-uploading>
  </div>

  <baw-harvest-scanning
    *ngIf="stages.isCurrentStage('scanning')"
  ></baw-harvest-scanning>

  <baw-harvest-metadata-extraction
    *ngIf="stages.isCurrentStage('metadata_extraction')"
  ></baw-harvest-metadata-extraction>

  <baw-harvest-metadata-review
    *ngIf="stages.isCurrentStage('metadata_review')"
  ></baw-harvest-metadata-review>

  <baw-harvest-processing
    *ngIf="stages.isCurrentStage('processing')"
  ></baw-harvest-processing>

  <baw-harvest-complete
    *ngIf="stages.isCurrentStage('complete')"
  ></baw-harvest-complete>
</div>

<baw-error-handler
  *ngIf="stages.error"
  [error]="stages.error"
></baw-error-handler>
