@import "media-mixin";

#hero {
  background-color: var(--baw-default-background-dark);
  background-image: url("../../../assets/images/landing/IMG_sunset.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  #title {
    flex-grow: 1;
    margin-bottom: 13rem;
    margin-top: 9rem;
  }

  svg {
    margin: 0 10%;
    mix-blend-mode: screen;
  }

  #caption {
    max-width: 50%;
    width: fit-content;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

#about_us {
  background-color: var(--baw-highlight);
  color: var(--baw-highlight-contrast);

  p {
    font-size: 1.25rem;
  }

  a {
    color: var(--baw-highlight-contrast);

    &:hover,
    &:focus {
      filter: brightness(70%);
    }
  }
}

#what_we_do {
  --card-width: 350px;

  .card {
    background: none;
    max-width: var(--card-width);
    min-width: var(--card-width);
    width: var(--card-width);

    fa-icon {
      font-size: 64px;
      margin: 1rem auto;
    }
  }
}
