#website-title {
  color: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  font-family: "Arial";
  font-size: 10rem;
  font-weight: bold;
  padding-bottom: 15rem;
}

section {
  background-color: #fff;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  padding: 15px 1rem;
  width: 100%;

  h1,
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }

  h2 {
    font-weight: 400;
  }
}

#hero-image {
  background-image: url("/assets/images/landing/IMG_1318.JPG");
}
