<!-- Hero image -->
<section id="hero">
  <div>
    <h1 class="invisible">{{ title }}</h1>
    <!-- Scalable title, will resize to any display size -->
    <svg width="80%" [attr.viewBox]="viewBox">
      <title>{{ title }}</title>
      <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">
        {{ title }}
      </text>
    </svg>
  </div>

  <caption>
    Photo: QUT Ecoacoustics Staff
  </caption>
</section>

<!-- Who are we? -->
<section id="about_us">
  <div class="container">
    <h2>Who Are We?</h2>
    <p>
      Welcome! Ecosounds is a repository of environmental audio recordings. This
      website facilitates the management, access, visualization, and analysis of
      environmental acoustic data. It uses the Acoustic Workbench software which
      is is open source and available from GitHub.
    </p>
    <p>
      The website is run by the QUT Ecoacoustics Research Group to support
      bioacoustics and ecoacoustics research.
    </p>
  </div>
</section>

<!-- What we do -->
<section id="what_we_do">
  <div class="container">
    <h2>What We Do</h2>

    <div class="row justify-content-center">
      <div class="card">
        <fa-icon
          [icon]="['fas', 'cloud-upload-alt']"
          [style]="{ color: 'gold' }"
        ></fa-icon>
        <h3>Our Goal</h3>
        <p>
          We host, manage, explore, and visualize ecoacoustic data. Providing
          the results and tools we develope free of charge to anyone who is
          interested
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'leaf']"
          [style]="{ color: 'lightgreen' }"
        ></fa-icon>
        <h3>Environment</h3>
        <p>
          We locate various environments which may have interesting or important
          faunal vocalisations and other human-audible environmental sounds
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'microphone']"
          [style]="{ color: 'lightgrey' }"
        ></fa-icon>
        <h3>Acoustics Sensors</h3>
        <p>
          We, and our partners, place acoustic sensors in a wide range of
          environments allowing us to study the local fauna
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'vector-square']"
          [style]="{ color: 'violet' }"
        ></fa-icon>
        <h3>Annotated Spectrogram</h3>
        <p>
          Practical identification of animal sounds by people and automated
          detectors. Ecologists use these to answer environmental questions.
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'users']"
          [style]="{ color: 'darksalmon' }"
        ></fa-icon>
        <h3>Collaboration</h3>
        <p>
          Finally, we make the results of our research, and the tools we have
          developed, available to the public
        </p>
      </div>
    </div>
  </div>
</section>

<!-- View some projects -->
<section id="projects">
  <div class="container">
    <h2>View Some Projects</h2>
    <p>
      You can browse some public projects and audio recordings without logging
      in. To participate in the analysis work you will need to log in with an
      existing account or register for a new account. Don't worry its free and
      easy!
    </p>

    <baw-cards [cards]="projectList">
      <ng-container>
        <a
          class="m-auto btn btn-outline-highlight btn-lg"
          [strongRoute]="projectsLink"
        >
          More Projects
        </a>
      </ng-container>
    </baw-cards>
  </div>
</section>
