<!-- Hero image -->
<section id="hero" class="d-flex flex-column">
  <div id="title">
    <h1 class="invisible">{{ svg.alt | uppercase }}</h1>
    <!-- Scalable title, will resize to any display size -->
    <svg
      version="1.2"
      class="bg-white fw-bolder"
      [attr.width]="svg.width"
      [attr.viewBox]="svg.viewBox"
    >
      <title>{{ svg.alt | uppercase }}</title>
      <text
        *ngFor="let word of svg.title; let i = index"
        dominant-baseline="middle"
        text-anchor="middle"
        x="50%"
        [attr.y]="calculateSvgTextYPos(i)"
      >
        {{ word | uppercase }}
      </text>
    </svg>
  </div>

  <div id="caption" class="bg-light text-dark ms-auto p-3 pt-2 pb-2">
    Photo: QUT Ecoacoustics Staff
  </div>
</section>

<!-- Who are we? -->
<section id="about_us" class="overflow-auto pb-5 pt-5">
  <div class="container">
    <h2>Who Are We?</h2>
    <p>
      Welcome! {{ brand.long }} is a repository of environmental audio
      recordings. This website facilitates the management, access,
      visualization, and analysis of environmental acoustic data. It uses the
      Acoustic Workbench software which is is open source and available from
      <a [href]="sourceRepo">GitHub</a>.
    </p>
    <p>
      The website is run by {{ brand.organization }} to support bioacoustics and
      ecoacoustics research.
    </p>
  </div>
</section>

<!-- What we do -->
<section id="what_we_do" class="bg-black text-white pb-5 pt-5 m-auto">
  <div class="container">
    <h2>What We Do</h2>

    <div class="row justify-content-center">
      <div class="card">
        <fa-icon
          [icon]="['fas', 'cloud-upload-alt']"
          [style]="{ color: 'gold' }"
        ></fa-icon>
        <h3 class="text-center">Our Goal</h3>
        <p>
          We host, manage, explore, and visualize ecoacoustic data. Providing
          the results and tools we develope free of charge to anyone who is
          interested
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'leaf']"
          [style]="{ color: 'lightgreen' }"
        ></fa-icon>
        <h3 class="text-center">Environment</h3>
        <p>
          We locate various environments which may have interesting or important
          faunal vocalisations and other human-audible environmental sounds
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'microphone']"
          [style]="{ color: 'lightgrey' }"
        ></fa-icon>
        <h3 class="text-center">Acoustics Sensors</h3>
        <p>
          We, and our partners, place acoustic sensors in a wide range of
          environments allowing us to study the local fauna
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'vector-square']"
          [style]="{ color: 'violet' }"
        ></fa-icon>
        <h3 class="text-center">Annotated Spectrogram</h3>
        <p>
          Practical identification of animal sounds by people and automated
          detectors. Ecologists use these to answer environmental questions.
        </p>
      </div>

      <div class="card">
        <fa-icon
          [icon]="['fas', 'users']"
          [style]="{ color: 'darksalmon' }"
        ></fa-icon>
        <h3 class="text-center">Collaboration</h3>
        <p>
          Finally, we make the results of our research, and the tools we have
          developed, available to the public
        </p>
      </div>
    </div>
  </div>
</section>

<!-- View some projects -->
<section id="projects" class="pb-5 pt-5 bg-light">
  <div class="container">
    <h2>View Some {{ viewMore.modelName | titlecase }}s</h2>
    <p class="mb-5">
      You can browse some public {{ viewMore.modelName }}s and audio recordings
      without logging in. To participate in the analysis work you will need to
      log in with an existing account or register for a new account. Don't worry
      its free and easy!
    </p>

    <baw-loading *ngIf="viewMore.loading" [size]="lg"></baw-loading>

    <baw-cards *ngIf="!viewMore.loading" [cards]="viewMore.list">
      <ng-container *ngIf="viewMore.list.size === 0; else hasModels">
        <p id="placeholder" class="m-auto">
          No {{ viewMore.modelName }}s to display
        </p>
      </ng-container>
      <ng-template #hasModels>
        <a
          id="viewMore"
          class="m-auto btn btn-outline-highlight btn-lg"
          [strongRoute]="viewMore.link"
        >
          More {{ viewMore.modelName | titlecase }}s
        </a>
      </ng-template>
    </baw-cards>
  </div>
</section>
