@import "media-mixin";

#hero {
  background-color: var(--baw-default-background-dark);
  background-image: url("../../../assets/images/landing/IMG_sunset.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  div {
    flex-grow: 1;
    margin-bottom: 13rem;
    margin-top: 9rem;
  }

  svg {
    background-color: white;
    font-weight: bolder;
    margin: 0 10%;
    mix-blend-mode: screen;
  }

  caption {
    background-color: lightgrey;
    color: black;
    margin-left: auto;
    max-width: 50%;
    padding: 0.5rem 0.75rem;
    width: fit-content;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

#about_us {
  background-color: var(--baw-highlight);
  color: var(--baw-highlight-contrast);
  overflow: auto;
  padding-bottom: 5rem;
  padding-top: 5rem;

  p {
    font-size: 1.25rem;
  }

  a {
    color: var(--baw-highlight-contrast);

    &:hover,
    &:focus {
      filter: brightness(70%);
    }
  }
}

#what_we_do {
  --card-width: 350px;
  background-color: black;
  color: white;
  padding-bottom: 5rem;
  padding-top: 5rem;

  .card {
    background: none;
    margin: 0 auto;
    max-width: var(--card-width);
    min-width: var(--card-width);
    width: var(--card-width);

    h3 {
      text-align: center;
    }

    fa-icon {
      font-size: 64px;
      margin: 1rem auto;
    }
  }
}

#projects {
  background-color: whitesmoke;
  padding-bottom: 5rem;
  padding-top: 5rem;

  p {
    margin-bottom: 5rem;
  }
}
