@import "../../styles/media-mixin";

#hero {
  background-color: var(--theme-default-background-dark);
  background-image: url("../../../assets/images/landing/IMG_sunset.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  div {
    flex-grow: 1;
    margin-bottom: 13rem;
    margin-top: 9rem;
  }

  svg {
    background-color: white;
    margin: 0 10%;
    mix-blend-mode: screen;
    font-weight: bolder;
  }

  caption {
    background-color: lightgrey;
    color: black;
    margin-left: auto;
    padding: 0.5rem 0.75rem;
    width: fit-content;
    max-width: 50%;
  }
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

#about_us {
  background-color: #f5fcf5; // Very light green
  overflow: auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: var(--theme-highlight);
  color: white;

  p {
    font-size: 1.25rem;
  }
}

#our_process {
  background-color: black;
  color: white;
  padding-bottom: 5rem;
  padding-top: 5rem;

  .card {
    background: none;

    h3 {
      text-align: center;
    }

    fa-icon {
      font-size: 64px;
      margin: 1rem auto;
    }
  }
}

#projects {
  background-color: whitesmoke;
  padding-bottom: 5rem;
  padding-top: 5rem;

  p {
    margin-bottom: 5rem;
  }

  a.btn {
    color: var(--theme-highlight);
    border-color: var(--theme-highlight);

    &:hover {
      color: white;
      background-color: var(--theme-highlight);
      border-color: var(--theme-highlight);
    }
  }
}
