<div>
  <label *ngIf="label" for="typeahead-input" class="form-label">
    {{ label }}
  </label>
  <div
    class="typeahead-input-container form-group form-control border"
  >
    <ng-container *ngIf="multipleInputs">
      <span
        *ngFor="let item of activeItems"
        class="item-pill badge"
        tabindex="0"
        (keydown.backspace)="removeItem(item)"
        (keydown.delete)="removeItem(item)"
      >
        <fa-icon
          class="remove-button btn-sm"
          (click)="removeItem(item)"
          [icon]="['fas', 'square-xmark']"
        ></fa-icon>

        <ng-container *ngIf="resultTemplate; else defaultTemplate">
          <ng-container *ngTemplateOutlet="resultTemplate; context: { result: item }"></ng-container>
        </ng-container>

        <ng-template #defaultTemplate>
          {{ item }}
        </ng-template>
      </span>
    </ng-container>

    <input
      #typeaheadInput
      id="typeahead-input"
      name="typeahead-input"
      type="text"
      class="form-control border-0"
      [placeholder]="activeItems.length < 1 ? inputPlaceholder : ''"
      [ngbTypeahead]="findOptions"
      [resultTemplate]="resultTemplate"
      [(ngModel)]="inputModel"
      (selectItem)="onItemSelected($event)"
      (keydown.backspace)="removeLastItem()"
      [disabled]="inputDisabled"
    />
  </div>
</div>
