// Because the typeahead includes a <label> element, it naturally has a
// margin-bottom provided by bootstrap.
// However, because the label is inside of this component, it's not possible to
// override the margin.
// Therefore, I expose the margin on the host element so that it can be
// overwritten by consumers simply through a style selector.
// e.g. <baw-typeahead-input style="margin: 2rem"></baw-typeahead-input>
:host {
  display: block;
  margin-bottom: 0.5rem;
}

#typeahead-input {
  width: max-content;
  min-width: 10rem;
  flex-grow: 1;
  border: 0;
}

.typeahead-input-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.typeahead-label {
  margin: 0;
}

.item-pill {
  display: flex;
  max-width: fit-content;
  background-color: var(--baw-highlight);
  font-size: medium;
  font-weight: normal;
  margin: 0.25rem;

  & > .remove-button {
    margin-right: 0.25rem;
  }

  // when a pill is in focus, a user can press backspace or delete to remove it
  // therefore, we need a way to give feedback to the user which item is selected
  &:focus {
    background-color: var(--baw-highlight-lighter);
  }
}
