.item-pill {
  min-width: fit-content;
  background-color: var(--baw-highlight);

  // when a pill is in focus, a user can press backspace or delete to remove it
  // therefore, we need a way to give feedback to the user which item is selected
  &:focus {
    background-color: var(--baw-highlight-lightest);
  }
}
