<label *ngIf="label" for="typeahead-input" class="form-label">{{ label }}</label>
<div class="typeahead-input-container d-flex form-inline form-group form-control border p-0">
  <ng-container *ngIf="multipleInputs">
    <span
      *ngFor="let item of activeItems"
      class="item-pill bg-primary rounded-pill text-white me-1 p-1 px-3"
      (keydown.backspace)="removeItem(item)"
    >
      {{ formatter(item) }}
    </span>
  </ng-container>

  <input
    #typeaheadInputRef
    name="typeahead-input"
    type="text"
    class="form-control border-0"
    [placeholder]="activeItems.length < 1 ? inputPlaceholder : ''"
    [ngbTypeahead]="findOptions"
    [(ngModel)]="inputModel"
    (selectItem)="onItemSelected($event)"
    (keydown.backspace)="removeLastItem()"
  />
</div>
