<div class="container-fluid bg-dark fixed-top">
  <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ecosounds</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
      <span class="sr-only">Toggle Navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      [ngClass]="{ collapse: collapsed }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Projects
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Listen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            id="dropdownBasic1"
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
          >
            Research
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>About</button>
            <button ngbDropdownItem>Articles</button>
            <button ngbDropdownItem>People</button>
            <button ngbDropdownItem>Publications</button>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            id="dropdownBasic2"
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
          >
            Analysis
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem>Send Audio</button>
            <button ngbDropdownItem>Data Request</button>
            <button ngbDropdownItem>Audio Analysis</button>
            <button ngbDropdownItem>Website Statistics</button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div style="height: 3.5rem;"></div>
