<h1>Import Annotations: {{ audioEventImport.name }}</h1>
<p>
  @if (audioEventImport.descriptionHtml) {
    {{ audioEventImport.description }}
  }
  @else {
    <i>No description found</i>
  }
</p>

<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Events</a>
      <ng-template ngbNavContent>
        <ngx-datatable
          bawDatatableDefaults
          [bawDatatablePagination]="{ filters: eventFilters$, getModels: getEventModels }"
        >
          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Audio Recording
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-loading
                *ngIf="
                  value.audioRecording | isUnresolved;
                  else audioRecordingTemplate
                "
                size="sm"
              ></baw-loading>

              <ng-template #audioRecordingTemplate>
                <a [bawUrl]="value.audioRecording.viewUrl">
                  {{ value.audioRecording.id }}
                </a>
              </ng-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="createdAt">
            <ng-template let-column="column" ngx-datatable-header-template>
              Created At
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-datetime [value]="value" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Associated Tags
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-loading
                *ngIf="value.tags | isUnresolved; else tagsTemplate"
                size="sm"
              ></baw-loading>

              <ng-template #tagsTemplate>
                <baw-inline-list
                  [items]="value.tags"
                  [itemKey]="'text'"
                  [emptyTemplate]="noAssociatedTagsTemplate"
                >
                </baw-inline-list>
              </ng-template>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Files</a>
      <ng-template ngbNavContent>
        <ngx-datatable
          bawDatatableDefaults
          [bawDatatablePagination]="{ filters: filters$, getModels: getFileModels }"
        >
          <ngx-datatable-column prop="name">
            <ng-template let-column="column" ngx-datatable-header-template>
              File Name
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value ?? "Unknown" }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="createdAt">
            <ng-template let-column="column" ngx-datatable-header-template>
              Date Imported
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-datetime [value]="value" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Additional Tags
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <!-- <baw-loading
                *ngIf="value.additionalTags | isUnresolved; else additionalTagsTemplate"
                size="sm"
              ></baw-loading>

              <ng-template #additionalTagsTemplate>
                <baw-inline-list
                  [items]="value.additionalTags"
                  [itemKey]="'text'"
                  [emptyTemplate]="noAssociatedTagsTemplate"
                ></baw-inline-list>
              </ng-template> -->
              <baw-inline-list
                [items]="value.additionalTags"
                [itemKey]="'text'"
                [emptyTemplate]="noAssociatedTagsTemplate"
              ></baw-inline-list>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" prop="">
            <ng-template ngx-datatable-header-template>
              Actions
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <!--
                we use an anchor element here instead of a button so that users
                can middle click to download and open in a new tab.
                Opening in a new tab only apply if the browser has inbuilt
                file viewer for the file type.
              -->
              <a
                class="btn btn-sm btn-outline-primary"
                [href]="value.path"
                target="_blank"
              >
                Download
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #noAssociatedTagsTemplate>
  <span>No associated tags</span>
</ng-template>

<ng-template #noAdditionalTagsTemplate>
  <span>No additional tags</span>
</ng-template>
