<!-- Project Details -->
<ng-container *ngIf="project">
  <h1>{{ project.name }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img [src]="project.image" [alt]="project.name + ' image'" />
      </div>
    </div>
    <div class="col-sm-8">
      <p id="project_description" [innerHTML]="project.descriptionHtml"></p>
    </div>
  </div>

  <!-- Sites -->
  <h2>Sites</h2>

  <baw-filter
    placeholder="Filter Sites"
    (filter)="onFilter($event)"
  ></baw-filter>

  <div class="search-results" infiniteScroll (scrolled)="onScroll()">
    <div id="sites">
      <!-- Google Maps -->
      <div class="item map">
        <baw-map [markers]="markers"></baw-map>
      </div>

      <!-- Sites Exist -->
      <ng-container *ngIf="sites.size > 0">
        <div *ngFor="let site of sites" class="item">
          <app-site-card [project]="project" [site]="site"></app-site-card>
        </div>
      </ng-container>

      <!-- Sites Don't Exist-->
      <ng-container *ngIf="sites.size === 0 && !loading">
        <p id="site_placeholder">No sites associated with this project</p>
      </ng-container>
    </div>
  </div>

  <!-- Loading Sites -->
  <baw-loading [display]="loading"></baw-loading>
</ng-container>
