<!-- Project Details -->
<ng-container *ngIf="project">
  <h1>{{ project.name }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img [src]="project.image" [alt]="project.name + ' image'" />
      </div>
    </div>
    <div class="col-sm-8">
      <p id="project_description" [innerHTML]="project.descriptionHtml"></p>
    </div>
  </div>

  <!-- Sites -->
  <h2>Sites</h2>

  <baw-filter
    placeholder="Filter Sites"
    (filter)="onFilter($event)"
  ></baw-filter>

  <div class="row">
    <!-- Left aligned list of sites -->
    <div class="col-sm-6">
      <ul class="list-group">
        <div class="search-results" infiniteScroll (scrolled)="onScroll()">
          <!-- Sites Exist -->
          <ng-container *ngIf="sites.size > 0">
            <app-site-card
              *ngFor="let site of sites"
              [project]="project"
              [site]="site"
            ></app-site-card>
          </ng-container>

          <!-- Sites Don't Exist-->
          <ng-container *ngIf="sites.size === 0 && !loading">
            <p id="site_placeholder">No sites associated with this project</p>
          </ng-container>

          <!-- Loading Sites -->
          <baw-loading [display]="loading"></baw-loading>
        </div>
      </ul>
    </div>

    <!-- Right aligned map -->
    <div class="col-sm-6">
      <baw-map [markers]="markers"></baw-map>
    </div>
  </div>
</ng-container>
