<app-layout
  [secondaryLinks]="secondaryLinks"
  [actionTitle]="actionTitle"
  [actionLinks]="actionLinks"
>
  <div class="pl-2 pr-2">
    <div class="login-form">
      <h2 class="text-center">Member Login</h2>

      <ngb-alert [type]="'danger'" (close)="clearError()" *ngIf="error">{{
        error
      }}</ngb-alert>

      <div class="form-background clearfix">
        <!-- Icon at top of form -->
        <div class="avatar d-flex justify-content-center align-content-center">
          <fa-icon [icon]="['fa', 'user-circle']" class="form-icon"></fa-icon>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit(model)">
          <div class="d-flex justify-content-center" *ngIf="!fields">
            <div class="spinner-border text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
          ></formly-form>
          <div class="clearfix">
            <button type="submit" class="btn btn-success float-right">
              Login
            </button>
          </div>
        </form>
      </div>

      <div class="hint-text">
        Don't have an account?
        <a routerLink="/register" routerLinkActive="active">Sign up here</a>
      </div>
    </div>
  </div>
</app-layout>
