<div class="pl-2 pr-2">
  <div class="login-form">
    <h2 class="text-center">Member Login</h2>

    <ngb-alert [type]="'danger'" (close)="clearError()" *ngIf="error">{{
      error
    }}</ngb-alert>

    <div class="form-background clearfix">
      <!-- Icon at top of form -->
      <div class="avatar">
        <img src="assets/avatar.png" alt="Avatar" />
      </div>
      <form [formGroup]="form" (ngSubmit)="submit(model)">
        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
        ></formly-form>
        <div class="clearfix">
          <button type="submit" class="btn btn-success float-right">
            Login
          </button>
        </div>
      </form>
    </div>

    <div class="hint-text">
      Don't have an account?
      <a routerLink="/register" routerLinkActive="active">Sign up here</a>
    </div>
  </div>
</div>
