// this form error class is in line with the rest of the client
// e.g. the recording date time picker
// we may want to make this a global class if it is used in future reports/pages
.form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
