.event-pill {
  font-size: 1rem;
  background-color: var(--baw-highlight);
}

.pill-color {
  background-color: var(--baw-highlight);
}

.form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
