<ng-container *ngIf="!failure">
  <ng-container *ngIf="!error">
    <h1>
      Projects
      <small class="text-muted">accessible by {{ account.userName }}</small>
    </h1>

    <p>
      You can request access to existing projects or create your own projects.
    </p>

    <p>
      Displaying <strong>{{ pageSize }}</strong> of
      <strong>all {{ totalModels }}</strong> projects.
    </p>

    <ngx-datatable
      #table
      bawDatatableDefaults
      [columnMode]="ColumnMode.force"
      [columns]="columns"
      [rows]="rows"
      [count]="totalModels"
      [offset]="pageNumber"
      (page)="setPage($event)"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column name="Project">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [uri]="value.viewUrl">{{ value.name }}</a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Sites"
        [width]="75"
        [maxWidth]="75"
        [sortable]="false"
      ></ngx-datatable-column>
      <ngx-datatable-column
        name="Permission"
        [width]="100"
        [maxWidth]="100"
        [sortable]="false"
      ></ngx-datatable-column>
    </ngx-datatable>
  </ng-container>

  <baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
</ng-container>
