<nav
  class="container navbar navbar-expand-lg navbar-light bg-light p-0"
  *ngIf="secondaryLinks"
>
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">Menu</h6>
    </li>
    <li class="nav-item" *ngFor="let link of secondaryLinks; let i = index">
      <ng-container *ngIf="link.uri.includes('http'); else localroute">
        <a
          class="nav-link"
          aria-describedby="{{'secondary-tooltip-' + i"
          href="{{ link.uri }}"
          placement="right"
          ngbTooltip="{{ link.tooltip() }}"
        >
          <fa-icon [icon]="link.icon"></fa-icon>
          <span>{{ link.label }}</span>
          <span class="d-none" [id]="'secondary-tooltip-' + i">
            {{ link.tooltip() }}
          </span>
        </a>
      </ng-container>
      <ng-template #localroute>
        <a
          class="nav-link"
          aria-describedby="{{'secondary-tooltip-' + i"
          routerLink="{{ link.uri }}"
          routerLinkActive="active"
          placement="right"
          ngbTooltip="{{ link.tooltip() }}"
        >
          <fa-icon [icon]="link.icon"></fa-icon>
          <span>{{ link.label }}</span>
          <span class="d-none" [id]="'secondary-tooltip-' + i">
            {{ link.tooltip() }}
          </span>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
