<div
  *ngIf="fields"
  class="login-form pl-2 pr-2 pb-3"
  [ngClass]="{ small: size === 'small' }"
>
  <h2 *ngIf="title" class="text-center" [innerHTML]="title"></h2>
  <small *ngIf="subTitle" class="text-muted">
    <h6 [innerHTML]="subTitle"></h6>
  </small>

  <div class="clearfix">
    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <app-loading [isLoading]="!fields"></app-loading>

      <!-- Form -->
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>

      <!-- Right aligned submit button -->
      <div *ngIf="!noSubmit" class="clearfix">
        <button
          type="submit"
          class="btn float-right"
          [ngClass]="btnColor"
          [disabled]="!fields || submitLoading"
        >
          {{ submitLabel }}
        </button>
      </div>
    </form>
  </div>
</div>
