<div class="login-form pb-3">
  <h2 class="text-center" *ngIf="title">{{ title }}</h2>

  <!-- Error msg -->
  <ngb-alert [type]="'danger'" (close)="clearError()" *ngIf="error">
    {{ error }}
  </ngb-alert>

  <div class="clearfix">
    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <!-- Loading spinner -->
      <div class="d-flex justify-content-center" *ngIf="!fields">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Form -->
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>

      <!-- Right aligned submit button -->
      <div class="clearfix">
        <button type="submit" class="btn btn-success float-right">
          {{ submitLabel || title }}
        </button>
      </div>
    </form>
  </div>
</div>
