@use "bootstrap" as *;

.geographic-map {
  display: block;
  width: 100%;
  height: 40rem;

  contain: content;

  // If the map has loaded, we want to add a subtle shadow around it to make it
  // stand out from the rest of the page.
  // Note that because of the keyframe animations, the shadow will animate in
  // after the map has loaded.
  &.loaded {
    // We use the bootstrap shadow-lg class here so that use use a consistent
    // shadow through the app.
    @extend .shadow-lg;
    transition: box-shadow 2s ease-in-out;
  }
}
