<div class="list-chrome">
  <label class="input-group mb-3">
    <span class="input-group-prepend input-group-text">Filter</span>
    <input
      bawDebouncedInput
      type="text"
      class="form-control"
      placeholder="Filter Sites"
      [value]="filter"
      (valueChange)="onFilter($event)"
    >
  </label>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs right-aligned-tabs small-tabs">
  <li [ngbNavItem]="tabs.tiles">
    <a ngbNavLink>
      <fa-icon [icon]="['fas', 'table-cells-large']"></fa-icon>
      Tiles
    </a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="tilesTab"></ng-container>
    </ng-template>
  </li>

  @if (siteConfig.settings.websiteMaps) {
    <li [ngbNavItem]="tabs.map">
      <a ngbNavLink>
        <fa-icon [icon]="['fas', 'map-location-dot']"></fa-icon>
        Map
      </a>
      <ng-template ngbNavContent>
        <ng-container [ngTemplateOutlet]="mapTab"></ng-container>
      </ng-template>
    </li>
  }
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #tilesTab>
  @if (!loading) {
    @if (models().length > 0) {
      <!-- Regions Exist -->
      <baw-model-cards [models]="models()"></baw-model-cards>
    } @else {
      <!-- Regions Don't Exist -->
      <h4 class="text-center">Your list of sites is empty</h4>
    }
  }

  @if (displayPagination) {
    <ngb-pagination
      aria-label="Pagination Buttons"
      class="mt-2 d-flex justify-content-end"
      [collectionSize]="collectionSize"
      [(page)]="page"
    ></ngb-pagination>
  }
</ng-template>

<ng-template #mapTab>
  <baw-site-map
    class="geographic-map rounded"
    [filters]="mapFilter()"
  ></baw-site-map>
</ng-template>
