<div *ngIf="!failure">
  <h1>
    <small class="text-muted"> Project: {{ project.name }} </small>
    <br />
    Harvest
  </h1>

  <div>
    Placeholder for Steps Component
    (https://primefaces.org/primeng/showcase/#/steps). Currently on step:
    {{ stage }}
  </div>

  <div [ngSwitch]="stage">
    <div *ngSwitchCase="harvestStage.start">
      <baw-harvest-start (stage)="setStage($event)"></baw-harvest-start>
    </div>

    <div *ngSwitchCase="harvestStage.streamingUpload">
      <baw-harvest-stream-upload
        (stage)="setStage($event)"
      ></baw-harvest-stream-upload>
    </div>

    <div *ngSwitchCase="harvestStage.batchUpload">
      <baw-harvest-batch-upload
        (stage)="setStage($event)"
      ></baw-harvest-batch-upload>
    </div>

    <div *ngSwitchCase="harvestStage.uploadVerification">
      <baw-harvest-upload-verification
        (stage)="setStage($event)"
      ></baw-harvest-upload-verification>
    </div>

    <div *ngSwitchCase="harvestStage.uploadReview">
      <baw-harvest-upload-review
        (stage)="setStage($event)"
      ></baw-harvest-upload-review>
    </div>

    <div *ngSwitchCase="harvestStage.fileVerification">
      <baw-harvest-file-verification
        (stage)="setStage($event)"
      ></baw-harvest-file-verification>
    </div>

    <div *ngSwitchCase="harvestStage.fileReview">
      <baw-harvest-file-review
        (stage)="setStage($event)"
      ></baw-harvest-file-review>
    </div>

    <div *ngSwitchCase="harvestStage.complete">
      <baw-harvest-complete (stage)="setStage($event)"></baw-harvest-complete>
    </div>
  </div>
</div>
