<div *ngIf="!error">
  <h1>
    <small class="text-muted"> Project: {{ project.name }} </small>
    <br />
    Harvest
  </h1>

  <baw-stepper [numSteps]="7" [activeStep]="stage"></baw-stepper>

  <div [ngSwitch]="stage">
    <baw-harvest-new
      *ngSwitchCase="harvestStage.new_harvest"
      [project]="project"
      (stage)="onStageChange($event)"
    ></baw-harvest-new>

    <div *ngSwitchCase="harvestStage.uploading">
      <baw-loading *ngIf="!harvest"></baw-loading>

      <baw-harvest-stream-uploading
        *ngIf="harvest?.streaming"
        [project]="project"
        [harvest]="harvest"
        [startPolling]="startPolling"
        (stage)="onStageChange($event)"
      ></baw-harvest-stream-uploading>

      <baw-harvest-batch-uploading
        *ngIf="!harvest?.streaming"
        [harvest]="harvest"
        [startPolling]="startPolling"
        (stage)="onStageChange($event)"
      ></baw-harvest-batch-uploading>
    </div>

    <baw-harvest-scanning
      *ngSwitchCase="harvestStage.scanning"
      [harvest]="harvest"
      [startPolling]="startPolling"
    ></baw-harvest-scanning>

    <baw-harvest-metadata-extraction
      *ngSwitchCase="harvestStage.metadata_extraction"
      [harvest]="harvest"
      [startPolling]="startPolling"
    ></baw-harvest-metadata-extraction>

    <baw-harvest-metadata-review
      *ngSwitchCase="harvestStage.metadata_review"
      [project]="project"
      [harvest]="harvest"
      (stage)="onStageChange($event)"
    ></baw-harvest-metadata-review>

    <baw-harvest-processing
      *ngSwitchCase="harvestStage.processing"
      [harvest]="harvest"
      [startPolling]="startPolling"
    ></baw-harvest-processing>

    <baw-harvest-complete
      *ngSwitchCase="harvestStage.complete"
      [harvest]="harvest"
    ></baw-harvest-complete>
  </div>
</div>

<baw-error-handler *ngIf="error" [error]="error"></baw-error-handler>
