.chartContainer {
  width: 100% !important;
  height: 100%;
}

::ng-deep .chartContainer > .marks {
  width: inherit;
  height: auto;
}

@media print {
  .chartContainer {
    break-inside: avoid;
  }
}
