.chartContainer {
  width: 100%;
  height: 100%;
}

::ng-deep .chartContainer .marks {
  width: inherit;
  height: inherit;
}

@media print {
  .chartContainer {
    break-inside: avoid;
  }

  ::ng-deep .chartContainer .marks {
    & text {
    }
  }
}
