<app-layout
  [secondaryLinks]="secondaryLinks"
  [actionTitle]="actionTitle"
  [actionLinks]="actionLinks"
>
  <h1>Data Request</h1>
  <p class="lead">Request annotations from projects you are able to access.</p>

  <h2>Annotations Download</h2>
  <p>To download a standard CSV of annotations</p>
  <ol>
    <li>Navigate to the project you're interested in</li>
    <li>Then, choose the site you want to download annotations for</li>
    <li>
      Finally, click the
      <i>
        Download annotations
      </i>
      link
    </li>
  </ol>
  <h2>Custom Data Request</h2>
  <p>
    Use this form to request a customised annotations list or other data related
    to the audio recordings on this website.
  </p>
  <h2>Request Your Annotations</h2>
  <p>
    Please select the time zone for the CSV file containing annotations for
    Allcharles.
  </p>
</app-layout>
