<ng-container *ngIf="rows && !error">
  <h1>Scripts</h1>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Filter</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Filter Scripts"
      (keyup)="onFilter($event)"
    />
  </div>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Id" [minWidth]="75" [maxWidth]="75">
    </ngx-datatable-column>
    <ngx-datatable-column name="Name"> </ngx-datatable-column>
    <ngx-datatable-column name="Version"> </ngx-datatable-column>
    <ngx-datatable-column name="Command"> </ngx-datatable-column>
  </ngx-datatable>
</ng-container>

<app-error-handler [error]="error"></app-error-handler>
