<h1>Batch Download Audio Recordings</h1>

<!-- Warn users about limitations of time of day filter -->
<baw-sites-without-timezones
  [site]="site"
  [region]="region"
  [project]="project"
></baw-sites-without-timezones>

<form #form class="mb-3">
  <!-- Project -->
  <div *ngIf="project" class="mb-3">
    <label id="project-label" for="project" class="form-label">Project</label>
    <input
      readonly
      id="project"
      name="project"
      class="form-control-plaintext"
      [ngModel]="project.name"
    />
  </div>

  <!-- Region -->
  <div *ngIf="region" class="mb-3">
    <label id="region-label" for="region" class="form-label">Site</label>
    <input
      readonly
      id="region"
      name="region"
      class="form-control-plaintext"
      [ngModel]="region.name"
    />
  </div>

  <!-- Site -->
  <div *ngIf="site" class="mb-3">
    <label id="site-label" for="site" class="form-label">{{
      region ? "Point" : "Site"
    }}</label>
    <input
      readonly
      id="site"
      name="site"
      class="form-control-plaintext"
      [ngModel]="site.name"
    />
  </div>

  <!-- Toggle filtering by date -->
  <div class="form-check">
    <input
      id="date-filtering"
      name="dateFiltering"
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="model.dateFiltering"
    />

    <label class="form-check-label" for="date-filtering">Filter by date</label>

    <div class="form-text">Filter recordings over a date range</div>
  </div>

  <!-- Date filters -->
  <div
    id="date-filters-wrapper"
    #collapse="ngbCollapse"
    [ngbCollapse]="!model.dateFiltering"
  >
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- Start date input -->
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text">Start Date</span>
              <input
                #dateStartedAfter="ngbDatepicker"
                ngbDatepicker
                id="date-started-after"
                name="dateStartedAfter"
                class="form-control"
                placeholder="yyyy-mm-dd"
                [class.is-invalid]="invalidDate(model.dateStartedAfter)"
                [maxDate]="model.dateFinishedBefore"
                [(ngModel)]="model.dateStartedAfter"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="dateStartedAfter.toggle()"
                type="button"
              >
                <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
              </button>
              <div
                *ngIf="invalidDate(model.dateStartedAfter)"
                class="invalid-feedback"
              >
                The time should follow the format yyyy-mm-dd, e.g. 2022-12-01
              </div>
            </div>
          </div>

          <!-- End date input -->
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text">End Date</span>
              <input
                #dateFinishedBefore="ngbDatepicker"
                ngbDatepicker
                id="date-finished-before"
                name="dateFinishedBefore"
                class="form-control"
                placeholder="yyyy-mm-dd"
                [class.is-invalid]="invalidDate(model.dateFinishedBefore)"
                [minDate]="model.dateStartedAfter"
                [(ngModel)]="model.dateFinishedBefore"
              />
              <button
                class="btn btn-outline-secondary"
                (click)="dateFinishedBefore.toggle()"
                type="button"
              >
                <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
              </button>
              <div
                *ngIf="invalidDate(model.dateFinishedBefore)"
                class="invalid-feedback"
              >
                The time should follow the format yyyy-mm-dd, e.g. 2022-12-01
              </div>
            </div>
          </div>
        </div>

        <div class="form-text">
          <strong>
            The UTC (+00:00) time zone is used for all date filtering.
          </strong>
          If you're unsure if your data will be included in a filter, expand
          your date range by one-day in either direction.
        </div>
      </div>
    </div>
  </div>

  <!-- Toggle filtering by time of day -->
  <div class="form-check mt-3">
    <input
      id="tod-filtering"
      name="todFiltering"
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="model.todFiltering"
    />

    <label class="form-check-label" for="tod-filtering">
      Filter by time of day
    </label>

    <div class="form-text">
      Filter recordings by the time of day they were recorded. If any part of a
      recording overlaps these limits, then it will be included.
    </div>
  </div>

  <!-- Time of day filters -->
  <div
    id="tod-filters-wrapper"
    #collapse="ngbCollapse"
    [ngbCollapse]="!model.todFiltering"
  >
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <!-- Start time input -->
          <div class="col-md-6 mb-3 mb-md-0">
            <baw-time
              id="tod-started-after"
              name="todStartedAfter"
              label="Start Time"
              type="time"
              [(ngModel)]="model.todStartedAfter"
            ></baw-time>
          </div>

          <!-- End time input -->
          <div class="col-md-6">
            <baw-time
              id="tod-finished-before"
              name="todFinishedBefore"
              label="End Time"
              type="time"
              [(ngModel)]="model.todFinishedBefore"
            ></baw-time>
          </div>

          <div *ngIf="errors.todBoundaryError" class="form-error">
            Time of day filtering does not currently support filtering past a
            day boundary. Please adjust your request so that the start time is
            before the end time.
          </div>
        </div>

        <!-- Ignore daylight savings checkbox -->
        <div class="form-check">
          <input
            id="tod-ignore-dst"
            name="todIgnoreDst"
            type="checkbox"
            class="form-check-input"
            [disabled]="!model.todFiltering"
            [(ngModel)]="model.todIgnoreDst"
          />

          <label class="form-check-label" for="tod-ignore-dst">
            Ignore day light savings (DST)
          </label>

          <div class="form-text">
            Real world events, like dawn chorus, or the vocalization of fauna
            are not affected by daylight savings time. Ignoring DST is advised
            to ensure audio is filtered consistently. If any recordings occur
            during a DST period, the base offset, that is the time it would be
            if DST were not in effect, will be used.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="clearfix">
  <a
    id="download-script"
    class="btn btn-primary float-end mb-3"
    [class.disabled]="invalidForm(errors)"
    [href]="href"
  >
    Download Script
  </a>
</div>

<baw-download-table [filters$]="filters$"></baw-download-table>

<!-- TODO Extract to CMS? -->
<section>
  <h2>Instructions</h2>

  <p>
    The above form will guide you to downloading a PowerShell script which can
    be used to download the audio files in batches. If you need more help please
    <a [strongRoute]="contactUs.route">{{ contactUs.label }}.</a>
  </p>

  <h3>1. Install PowerShell 7+</h3>

  <p>
    If you do not already have PowerShell 7 or newer installed on your machine,
    then you can
    <a
      href="https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell?view=powershell-7.2"
    >
      download it here</a
    >. Windows users should install the MSI package.
  </p>
  <p>
    You cannot use the default PowerShell installed with Windows. The newer
    version 7 is needed.
  </p>

  <!-- TODO Show users how with asciicast -->

  <h3>2. Move the downloader script</h3>

  <p>
    Find the file you have downloaded (likely from the downloads folder) and
    move it to the location where you want audio files to be downloaded. For
    example, if you wanted to download files to your external hard drive, move
    the script to your external hard drive.
  </p>

  <p>
    We suggest not using a cloud folder, such as Google Drive, or OneDrive, as
    the downloaded recordings may use a lot of storage space.
  </p>

  <h3>3. Unblock the downloader script</h3>

  <p></p>

  <ul>
    <li>
      If you are on Windows
      <a href="https://www.thewindowsclub.com/fix-windows-blocked-access-file">
        unblock the file</a
      >. If you don't see the option to unblock the file, skip this step.
    </li>
    <li>
      If you are on Linux/MacOS, update the permissions of the file using:
      <code>chmod +x "download_audio_files.ps1"</code>. You can open the folder
      containing the file in a terminal following
      <a
        href="https://www.groovypost.com/howto/open-command-window-terminal-window-specific-folder-windows-mac-linux/"
        >this guide</a
      >
    </li>
  </ul>

  <h3>4. Open PowerShell</h3>

  <ul>
    <li>
      <a
        href="https://www.groovypost.com/howto/open-command-window-terminal-window-specific-folder-windows-mac-linux/"
      >
        Open a Powershell shell
      </a>
      in the folder containing the download script
    </li>
    <li>
      If you are on Linux/MacOS, run the <code>pwsh</code> command from your terminal to start PowerShell.
    </li>
  </ul>

  <!-- TODO Show users how with asciicast -->

  <h3>5. Run the script</h3>

  <p id="run-script-description">
    Copy and paste the following command into your PowerShell session.
    <span *ngIf="!session.authToken">
      Login to see the command filled with your authentication token.
    </span>
  </p>

  <code id="guest-run-script" *ngIf="!session.authToken">{{
    runScriptCommand
  }}</code>

  <baw-hidden-copy
    *ngIf="session.authToken"
    tooltip="Show/Hide command"
    [value]="runScriptCommand"
  >
    <code>{{ runScriptCommand }}</code>
  </baw-hidden-copy>

  <p class="mt-3">Press <kbd>enter</kbd> to run the script.</p>
</section>
