<h1>Batch Download Audio Recordings</h1>

<!-- Warn users about limitations of time of day filter -->
<baw-sites-without-timezones
  [site]="site"
  [region]="region"
  [project]="project"
></baw-sites-without-timezones>

<!-- Project -->
@if (project) {
  <div class="mb-3">
    <label id="project-label" for="project" class="form-label">Project</label>
    <input
      readonly
      id="project"
      name="project"
      class="form-control-plaintext"
      [ngModel]="project.name"
    />
  </div>
}

<!-- Region -->
@if (region) {
  <div class="mb-3">
    <label id="region-label" for="region" class="form-label">Site</label>
    <input
      readonly
      id="region"
      name="region"
      class="form-control-plaintext"
      [ngModel]="region.name"
    />
  </div>
}

<!-- Site -->
@if (site) {
  <div class="mb-3">
    <label id="site-label" for="site" class="form-label">{{
      region ? "Point" : "Site"
    }}</label>
    <input
      readonly
      id="site"
      name="site"
      class="form-control-plaintext"
      [ngModel]="site.name"
    />
  </div>
}

<baw-date-time-filter
  [project]="project"
  [region]="region"
  [site]="site"
  [constructedFilters]="filters$"
></baw-date-time-filter>

<div class="clearfix">
  <a
    id="download-script"
    class="btn btn-primary float-end mb-3"
    [class.disabled]="invalidForm(errors)"
    [href]="href"
  >
    Download Script
  </a>
</div>

<baw-download-table [filters$]="filters$"></baw-download-table>

<!-- TODO Extract to CMS? -->
<section>
  <h2>Instructions</h2>

  <p>
    The above form will guide you to downloading a PowerShell script which can
    be used to download the audio files in batches. If you need more help please
    <a [strongRoute]="contactUs.route">{{ contactUs.label }}.</a>
  </p>

  <h3>1. Install PowerShell 7+</h3>

  <p>
    If you do not already have PowerShell 7 or newer installed on your machine,
    then you can
    <a
      href="https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell?view=powershell-7.2"
    >
      download it here</a
    >. Windows users should install the MSI package.
  </p>
  <p>
    You cannot use the default PowerShell installed with Windows. The newer
    version 7 is needed.
  </p>

  <!-- TODO Show users how with asciicast -->

  <h3>2. Move the downloader script</h3>

  <p>
    Find the file you have downloaded (likely from the downloads folder) and
    move it to the location where you want audio files to be downloaded. For
    example, if you wanted to download files to your external hard drive, move
    the script to your external hard drive.
  </p>

  <p>
    We suggest not using a cloud folder, such as Google Drive, or OneDrive, as
    the downloaded recordings may use a lot of storage space.
  </p>

  <h3>3. Unblock the downloader script</h3>

  <p></p>

  <ul>
    <li>
      If you are on Windows
      <a href="https://www.thewindowsclub.com/fix-windows-blocked-access-file">
        unblock the file</a
      >. If you don't see the option to unblock the file, skip this step.
    </li>
    <li>
      If you are on Linux/MacOS, update the permissions of the file using:
      <code>chmod +x "download_audio_files.ps1"</code>. You can open the folder
      containing the file in a terminal following
      <a
        href="https://www.groovypost.com/howto/open-command-window-terminal-window-specific-folder-windows-mac-linux/"
        >this guide</a
      >
    </li>
  </ul>

  <h3>4. Open PowerShell</h3>

  <ul>
    <li>
      <a
        href="https://www.groovypost.com/howto/open-command-window-terminal-window-specific-folder-windows-mac-linux/"
      >
        Open a Powershell shell
      </a>
      in the folder containing the download script
    </li>
    <li>
      If you are on Linux/MacOS, run the <code>pwsh</code> command from your terminal to start PowerShell.
    </li>
  </ul>

  <!-- TODO Show users how with asciicast -->

  <h3>5. Run the script</h3>

  <p id="run-script-description">
    Copy and paste the following command into your PowerShell session.
  </p>

  <div
    id="guest-run-script"
    class="alert alert-warning"
    *ngIf="!session.authToken"
  >
    <i><a [strongRoute]="loginStrongRoute">Log in</a> to see this command.</i>
  </div>

  @if (session.authToken) {
    <baw-hidden-copy
      tooltip="Show/Hide command"
      [value]="runScriptCommand"
      >
      <code>{{ runScriptCommand }}</code>
    </baw-hidden-copy>
  }

  <p class="mt-3">Press <kbd>enter</kbd> to run the script.</p>
</section>
