<form>
  @for (setting of settings(); track setting) {
    <div class="site-setting mb-2">
      <baw-range
        bawDebouncedInput
        class="settings-input"
        [label]="setting.humanizedName"
        [min]="0"
        [max]="10000"
        [step]="10"
        [value]="setting.value"
        [dirty]="setting.id !== null"
        (valueChange)="updateSetting(setting, $event)"
      ></baw-range>

      <button
        class="unset-button btn btn-secondary"
        (click)="updateSetting(setting, null)"
      >
        Unset
      </button>
    </div>
  }
</form>
