<!--
  Because the verification grid component uses a fullscreen page layout
  the header and content will be aligned to the top left of the view container
  with no padding.

  To keep the website consistent, we will add a container to the chrome content
  to ensure that the chrome content looks the same across all pages.
-->
<div class="container">
  <h1 class="mb-2">Annotation Verification</h1>

  <div class="collapsed-search bg-dark mb-3 rounded">
    <button
      class="show-parameters-button btn btn-link text-light m-2"
      (click)="requestToggleParameters()"
      aria-controls="search-parameters"
    >
      <fa-icon [icon]="chevronIcon"></fa-icon>
      {{ areParametersCollapsed ? "Show Parameters" : "Hide Parameters" }}
    </button>

    <div id="search-parameters" [(ngbCollapse)]="areParametersCollapsed">
      <div id="search-parameters-body" class="card">
        <div class="card-body">
          <baw-annotation-search-form
            [searchParameters]="searchParameters"
            [project]="project"
            [region]="region"
            [site]="site"
          ></baw-annotation-search-form>
        </div>

        <div class="card-footer">
          @if (shouldUpdatePagingCallback()) {
          <p>
            <strong>
              You have unapplied search parameters. If you update the
              verification grid, your progress will be lost.
            </strong>
          </p>
          }

          <div class="mt-2">
            <button
              class="btn btn-warning me-2"
              (click)="requestToggleParameters()"
              [ngClass]="{
                'btn-primary': !shouldUpdatePagingCallback(),
                'btn-warning': shouldUpdatePagingCallback()
              }"
            >
              Update Search Parameters
            </button>
            <button class="btn btn-outline-primary">Undo Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<oe-verification-grid
  #verificationGrid
  id="verification-grid"
  (loaded)="handleSpectrogramLoaded()"
>
  <oe-verification verified="true" shortcut="Y"></oe-verification>
  <oe-verification verified="false" shortcut="N"></oe-verification>

  <oe-data-source slot="data-source" for="verification-grid"></oe-data-source>
</oe-verification-grid>

<ng-template #progressWarningModal let-modal>
  <baw-reset-progress-warning-modal
    [modal]="modal"
    [successCallback]="toggleParameters.bind(this)"
  >
  </baw-reset-progress-warning-modal>
</ng-template>
