:host {
  overflow: hidden;
}

// TODO: This should probably be computed so that if the navbar height changes
// in the future, the header height will update correctly
// we probably shouldn't compute it at runtime because it it unlikely to change
// during runtime, but we should make the header height a computed variable
// that is defined by the height of the `.nav` bootstrap class
$header-height: 56px;

#verification-grid {
  height: calc(100dvh - #{$header-height});
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  height: fit-content;
}
