<!--
  Because the verification grid component uses a fullscreen page layout
  the header and content will be aligned to the top left of the view container
  with no padding.

  To keep the website consistent, we will add a container to the chrome content
  to ensure that the chrome content looks the same across all pages.
-->
<div class="container header-content mb-2">
  <div>
    <h2>
      @if (!verificationGridFocused()) {
        <fa-icon
          [ngbTooltip]="'Shortcut keys are disabled because the verification grid has lost focus. Select a verification grid tile to enable shortcut keys.'"
          [icon]="['fas', 'triangle-exclamation']"
          class="inline text-warning"
        />
      } Annotation Verification
    </h2>
  </div>

  <button
    class="filter-button btn btn-sm btn-secondary"
    (click)="openSearchFiltersModal()"
  >
    <fa-icon [icon]="['fas', 'filter']" />
  </button>
</div>

<!--
  TODO: remove this grid size of one and use the oe-verification-grid defaults.
  I have set the grid size to one so that when the verification grid loads in
  we can change it to a sensible default of 10 while triggering a dynamic-grid
  shape recalculation.

  For some reason, we need to manually trigger a recalculation of the grid shape
  otherwise it can sporadically fall back to a 1x1 grid
-->
<oe-verification-grid
  #verificationGrid
  id="verification-grid"
  [loadingTimeout]="loadingTimeout"
  (grid-loaded)="handleGridLoaded()"
  (decision-made)="handleDecision($event)"
  (focus)="verificationGridFocused.set(true)"
  (blur)="verificationGridFocused.set(false)"
  grid-size="12"
  autofocus
>
  <template>
    <div class="tile-spacing">
      <oe-subject-tag />
      <oe-media-controls for="spectrogram" />
    </div>

    <oe-axes>
      <oe-indicator>
        <oe-spectrogram id="spectrogram" color-map="grayscale" />
      </oe-indicator>
    </oe-axes>

    <div class="tile-block">
      <oe-task-meter />
      <baw-grid-tile-content />
    </div>
  </template>

  <oe-verification
    #verificationDecision
    verified="true"
    shortcut="Y"
    (focus)="verificationGridFocused.set(true)"
    (blur)="verificationGridFocused.set(false)"
  />
  <oe-verification
    #verificationDecision
    verified="false"
    shortcut="N"
    (focus)="verificationGridFocused.set(true)"
    (blur)="verificationGridFocused.set(false)"
  />
  <oe-verification
    #verificationDecision
    verified="unsure"
    shortcut="U"
    (focus)="verificationGridFocused.set(true)"
    (blur)="verificationGridFocused.set(false)"
  />

  @if (hasCorrectionTask()) {
    <oe-tag-prompt
      #tagPrompt
      verified="unsure"
      shortcut="C"
      (focus)="verificationGridFocused.set(true)"
      (blur)="verificationGridFocused.set(false)"
    >
      Correct Tag
    </oe-tag-prompt>
  }
</oe-verification-grid>

<ng-template #searchFiltersModal let-filtersModal>
  <baw-search-verification-filters-modal
    [modal]="filtersModal"
    [searchFormValue]="searchParameters()"
    [verificationFormValue]="verificationParameters()"
    [successCallback]="requestModelUpdate.bind(this)"
  />
</ng-template>
