$header-height: 56px;

#verification-grid {
  // this should be be 100dvh subtracting the height of the header
  height: calc(100vh - #{$header-height});
}

.header-content {
  display: flex;
  justify-content: space-between;

  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
