<h1 class="mb-2">Annotation Verification</h1>

<div class="collapsed-search bg-dark mb-3 rounded">
  <button
    class="show-parameters-button btn btn-link text-light m-2"
    (click)="toggleParameters()"
    aria-controls="search-parameters"
  >
    <fa-icon [icon]="chevronIcon"></fa-icon>
    Show Parameters
  </button>

  <div id="search-parameters" [(ngbCollapse)]="areParametersCollapsed">
    <div id="search-parameters-body" class="card">
      <div class="card-body">
        <baw-annotation-search-form
          [project]="project"
          [region]="region"
          [site]="site"
          [model]="searchParameters"
          (modelChange)="updateModel($event)"
        ></baw-annotation-search-form>
      </div>
    </div>
  </div>
</div>

<oe-verification-grid #verificationGrid id="verification-grid" grid-size="2">
  <oe-verification verified="true" shortcut="Y"></oe-verification>
  <oe-verification verified="false" shortcut="N"></oe-verification>

  <oe-data-source slot="data-source" for="verification-grid"></oe-data-source>
</oe-verification-grid>
