<baw-harvest-title [project]="project" [harvest]="harvest"></baw-harvest-title>

<baw-stepper
  [steps]="stages.stages"
  [activeStep]="stages.currentStage"
></baw-stepper>

@if (stages.isCurrentStage('newHarvest')) {
  <baw-harvest-error></baw-harvest-error>
}

@if (stages.isCurrentStage('uploading')) {
  <div>
    @if (!stages.harvest) {
      <baw-loading></baw-loading>
    }
    @if (stages.harvest?.streaming) {
      <baw-harvest-stream-uploading></baw-harvest-stream-uploading>
    }
    @if (!stages.harvest?.streaming) {
      <baw-harvest-batch-uploading></baw-harvest-batch-uploading>
    }
  </div>
}

@if (stages.isCurrentStage('scanning')) {
  <baw-harvest-scanning></baw-harvest-scanning>
}

@if (stages.isCurrentStage('metadataExtraction')) {
  <baw-harvest-metadata-extraction></baw-harvest-metadata-extraction>
}

@if (stages.isCurrentStage('metadataReview')) {
  <baw-harvest-metadata-review></baw-harvest-metadata-review>
}

@if (stages.isCurrentStage('processing')) {
  <baw-harvest-processing></baw-harvest-processing>
}

@if (stages.isCurrentStage('complete')) {
  <baw-harvest-complete></baw-harvest-complete>
}

<!-- Bottom padding -->
<div class="mb-3"></div>
