<div class="pl-2 pr-2">
  <div class="login-form">
    <h2 class="text-center">Member Registration</h2>

    <div class="form-background clearfix">
      <!-- Icon at top of form -->
      <div class="avatar">
        <img src="assets/avatar.png" alt="Avatar" />
      </div>
      <formio [form]="formTemplate" (submit)="onSubmit($event)"></formio>
    </div>

    <div class="hint-text">
      Already have an account?
      <a routerLink="/login" routerLinkActive="active">Sign in here</a>
    </div>
  </div>
</div>
