:host {
  display: block
}

.error-container {
  display: flex block;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.error-output {
  flex: 1 1;
  align-content: center;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
