<div class="app">
  <app-header></app-header>
  <ngx-loading-bar [value]="(delayedProgress$ | async) || 0"></ngx-loading-bar>
  <div class="content">
    <div
      class="p-0"
      [ngClass]="{ container: menuLayout, 'container-fluid': !menuLayout }"
    >
      <div class="d-flex flex-wrap col p-0">
        <div [ngClass]="{ secondary: menuLayout, hidden: !menuLayout }">
          <router-outlet name="secondary"></router-outlet>
        </div>
        <div [ngClass]="{ page: menuLayout, 'full-width': !menuLayout }">
          <router-outlet></router-outlet>
        </div>
        <div [ngClass]="{ action: menuLayout, hidden: !menuLayout }">
          <router-outlet name="action"></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
