@import "media-mixin";

/*
 * Ensure styling is extremely restricted to a specific element
 * because ViewEncapsulation is off. Generic changes here will
 * affect all components in the entire app
 */

/*
 * Make angular app 100% height and use flex to ensure wrapper
 * takes up any room left by header and footer.
 */

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > #container {
    display: flex;
    flex: 1;
    min-height: 100%;
    padding: 0px;
    width: 100%;

    /*
     * Page content, uses column flexbox because error outlet
     * exists inside this section
     */
    > #page {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 100%;

      // Make page component fill screen
      > :last-child {
        flex-grow: 1;
      }
    }
  }

  > .menu-layout {
    // Compact/inline menus on displays smaller than large
    @include media("<xl-grid") {
      flex-direction: column;
    }

    /*
     * Page content, uses column flexbox because error outlet
     * exists inside this section
     */
    > #page {
      order: 2;
      margin-top: 1rem;

      // Change order to swap with action menu when compacted
      @include media("<xl-grid") {
        order: 3;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    > #secondary {
      flex: 0;
      order: 1;
    }

    > #action {
      flex: 0;
      order: 3;

      /*
        * Move menu to sit below secondary menu
        */
      @include media("<xl-grid") {
        order: 2;
      }
    }
  }
}

baw-side-nav :only-child {
  height: 100%;
}
