<div id="app">
  <baw-header></baw-header>
  <ngx-loading-bar [value]="(delayedProgress$ | async) || 0"></ngx-loading-bar>

  <!-- App Content-->
  <div [ngClass]="{ container: !fullscreen, 'container-fluid': fullscreen }">
    <!-- Secondary Menu (only active on menuLayout) -->
    <div id="secondary">
      <router-outlet name="secondary"></router-outlet>
    </div>

    <!-- Default and Error Menus -->
    <div id="page">
      <router-outlet name="error"></router-outlet>
      <router-outlet (activate)="updatePageLayout($event)"></router-outlet>
    </div>

    <!-- Action Menu (only active on menuLayout) -->
    <div id="action">
      <router-outlet name="action"></router-outlet>
    </div>
  </div>

  <baw-footer></baw-footer>
</div>
