@media print {
  .nav-link {
    display: none;
  }

  baw-menu-toggle,
  baw-footer,
  baw-breadcrumbs {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  baw-header, #navbar {
    background-color: transparent !important;
  }
}
