@media print {
  // hide branding during printing
  baw-footer,
  baw-header {
    display: none;
  }

  // hide navigation during printing
  baw-menu-toggle,
  baw-breadcrumbs,
  .nav-link,
  .navbar-brand,
  #navbar {
    display: none;
  }

  // this is the main container that spans the entire page
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}
