@media print {
  // html {
  //   width: 210mm;
  //   overflow-x: hidden;
  // }

  // hide branding during printing
  baw-footer,
  baw-header {
    display: none;
  }

  // hide navigation during printing
  baw-menu-toggle,
  baw-breadcrumbs,
  .nav-link,
  .navbar-brand,
  #navbar {
    display: none;
  }

  ngx-loading-bar {
    // we have to use !important here since it's explicitly shown/hidden in the component using the same display style
    // this style override will only be applied to print styles and should not be applied under any other circumstances
    display: none !important;
  }

  // this is the main container that holds the page content
  .container {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
  }

  // there are some bugs in ngBootstrap where tooltips that are present when printing are emitted in the printed file
  // as tooltips are an extension of the users mouse (which is hidden), we should also hide the tooltips
  .tooltip {
    display: none;
  }

  // hide the overlay container that is usually used to display user feedback (alerts, toasts, etc)
  .overlay-container {
    display: none;
  }

  // links will still retain their "visited" state styling
  // as users cannot click on links when printing, we should remove this styling
  a:visited {
    color: inherit;
  }

  // we want iframes to seamlessly integrate with the page, and therefore should not have them on their own page
  // we allow iframes to break between pages because otherwise there would always be a page break before an iframe
  iframe {
    break-inside: auto;
  }

  // every browser has their own custom headers, footers, default page size, and default margin sizes
  @page {
    margin: 0;
    size: portrait;
  }
}
