<div class="pb-3">
  <p-treeTable [value]="files">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Site</th>
        <th>Point</th>
        <th class="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <div class="clearfix">
            <p-treeTableToggler
              *ngIf="rowNode.node.children"
              [rowNode]="rowNode"
            ></p-treeTableToggler>
            {{ rowData.name }}
          </div>
        </td>
        <td>
          <app-pill-list
            [numPills]="3"
            [text]="getText(rowData.projects)"
          ></app-pill-list>
        </td>
        <td>
          <app-pill-list
            [numPills]="3"
            [text]="getText(rowData.sites)"
          ></app-pill-list>
        </td>
        <td>
          <app-pill-list
            [numPills]="3"
            [text]="getText(rowData.points)"
          ></app-pill-list>
        </td>
        <td>
          <app-indicator [status]="rowData.status"></app-indicator>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
