<h1>Import Annotations: {{ audioEventImport.name }}</h1>
<p>
  @if (audioEventImport.descriptionHtml) {
    {{ audioEventImport.description }}
  } @else {
    <i>No description found</i>
  }
</p>

<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Events</a>
      <ng-template ngbNavContent>
        <ngx-datatable
          bawDatatableDefaults
          [bawDatatablePagination]="{ filters: eventFilters$, getModels: getEventModels }"
        >
          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Audio Recording
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              @if (value.audioRecording | isUnresolved) {
                <baw-loading size="sm"></baw-loading>
              } @else {
                <a [bawUrl]="value.audioRecording.viewUrl">
                  {{ value.audioRecording.id }}
                </a>
              }
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="createdAt">
            <ng-template let-column="column" ngx-datatable-header-template>
              Created At
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-datetime [value]="value" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Tags
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              @if (value.tags | isUnresolved) {
                <baw-loading size="sm"></baw-loading>
              } @else {
                <baw-inline-list
                  [items]="value.tags"
                  [itemKey]="'text'"
                  [emptyTemplate]="noTagsTemplate"
                ></baw-inline-list>
              }
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Provenance
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              @if (value.provenance | isUnresolved) {
                <baw-loading size="sm"></baw-loading>
              } @else if (value.provenance) {
                {{ value.provenance }}
              } @else {
                <ng-container [ngTemplateOutlet]="noProvenanceTemplate"></ng-container>
              }
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [maxWidth]="100" prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Actions
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <a
                class="btn btn-sm btn-primary"
                [bawUrl]="value.viewUrl"
              >
                View
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Files</a>
      <ng-template ngbNavContent>
        <ngx-datatable
          bawDatatableDefaults
          [bawDatatablePagination]="{ filters: fileFilters$, getModels: getFileModels }"
        >
          <ngx-datatable-column prop="id" [width]="30">
            <ng-template let-column="column" ngx-datatable-header-template>
              Id
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="name">
            <ng-template let-column="column" ngx-datatable-header-template>
              File Name
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value ?? "Unknown" }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="createdAt">
            <ng-template let-column="column" ngx-datatable-header-template>
              Date Imported
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-datetime [value]="value" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="">
            <ng-template let-column="column" ngx-datatable-header-template>
              Additional Tags
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <baw-inline-list
                [items]="value.additionalTags"
                [itemKey]="'text'"
                [emptyTemplate]="noTagsTemplate"
              ></baw-inline-list>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" prop="">
            <ng-template ngx-datatable-header-template>Actions</ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="actions-cell">
                <!--
                we use an anchor element here instead of a button so that users
                can middle click to download and open in a new tab.
                Opening in a new tab only apply if the browser has inbuilt
                file viewer for the file type.
              -->
                <a
                  class="btn btn-sm btn-primary"
                  [href]="value.path"
                  target="_blank"
                >
                  Download
                </a>

                <a
                  class="verify-button btn btn-sm btn-outline-primary"
                  [strongRoute]="verificationRoute.project"
                  [routeParams]="{ projectId: project.id }"
                  [queryParams]="{ importFiles: value.id }"
                >
                  Verify
                </a>

                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="deleteFile(deleteFileModal, value)"
                >
                  Delete
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #noTagsTemplate>
  <span>No associated tags</span>
</ng-template>

<ng-template #noProvenanceTemplate>
  <span>No provenance</span>
</ng-template>

<ng-template #deleteFileModal let-modal>
  <baw-harvest-confirmation-modal
    nextLabel="Delete File"
    cancelLabel="Return"
    isDanger="true"
    [modal]="modal"
  >
    <p>
      Are you sure you want to delete this file? All annotations imported from
      this file will be removed.
    </p>
  </baw-harvest-confirmation-modal>
</ng-template>
