<!-- This menu is only visible on mobile / small screen devices -->
<div class="overlay mobile-menu-toggle m-2 d-block d-md-none">
  <button
    type="button"
    class="btn btn-primary p-3 py-2"
    (click)="openSearchFiltersModal()"
    [ngbTooltip]="'Edit Filters'"
  >
    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
  </button>
</div>

<!--
  This menu will be shown on larger (non mobile) devices and includes extra
  information such as the list of focused events.
-->
<div class="desktop-overlay overlay alert alert-light shadow m-3 d-none d-md-block">
  <div
    class="controls alert-heading d-flex justify-content-between align-items-center mb-2"
  >
    <h3 class="h4 mb-0 text-dark fw-bold">Annotations</h3>
    <button class="btn btn-primary" (click)="openSearchFiltersModal()">
      <fa-icon [icon]="['fas', 'filter']" class="me-1"></fa-icon>
      Edit Filters
    </button>
  </div>

  <div>
    <p class="text-muted">
      Click on a marker to view annotations.
    </p>

    @if (focusedEvents() !== null) {
      <hr />

      @if (focusedEvents().length > 0) {
        <div class="species-list">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col" id="species-column">Species</th>
                <th scope="col">Score</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              @for (event of focusedEvents(); track event.id) {
                <tr class="audio-event-row">
                  <td>
                    <baw-inline-list
                      [items]="event.tags"
                      [itemKey]="'text'"
                      [emptyTemplate]="noTagsTemplate"
                    ></baw-inline-list>
                  </td>
                  <td>
                    @if (event.score !== undefined && event.score !== null) {
                      {{ event.score }}
                    } @else {
                      <i>No Score</i>
                    }
                  </td>
                  <td>
                    <a
                      class="view-event btn btn-sm btn-secondary me-1"
                      [ngbTooltip]="'View Annotation'"
                      [bawUrl]="event.viewUrl"
                    >
                      <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                    </a>
                    <button
                      class="preview-event btn btn-sm btn-outline-secondary"
                      [ngbTooltip]="'Preview Annotation'"
                      (click)="previewEvent(event)"
                    >
                      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>

          <div class="text-center">
            <a
              class="btn btn-sm btn-outline-primary"
              [strongRoute]="moreEventsUrl"
              [queryParams]="searchParameters()"
              [routeParams]="{
                projectId: annotationSearchParameters().routeProjectId,
                regionId: annotationSearchParameters().routeRegionId,
                siteId: annotationSearchParameters().routeSiteId,
              }"
            >
              Show More
            </a>
          </div>
        </div>
      } @else {
        <div class="alert alert-warning">
          <strong class="fw-normal">
            No annotations at this site match the current search filters.
          </strong>
        </div>
      }
    }
  </div>
</div>

<baw-event-map
  class="event-map"
  [events]="(eventGroups() | async) ?? []"
  (siteFocused)="handleSiteFocused($event)"
></baw-event-map>

<ng-template #searchFiltersModal let-filtersModal>
  <baw-search-filters-modal
    [modal]="filtersModal"
    [hasDecisions]="false"
    [showVerificationFilters]="false"
    [showSortingFilters]="false"
    [successCallback]="updateSearchParameters.bind(this)"
    [formValue]="annotationSearchParameters()"
  ></baw-search-filters-modal>
</ng-template>

<ng-template #noTagsTemplate>No Tags</ng-template>
