@use "media-mixin";

.row {
  --card-padding: 0.5rem;

  @include media-mixin.media("<sm-grid") {
    --card-width: max(16rem, 50%);
  }

  @include media-mixin.media("<md-grid", ">=sm-grid") {
    --card-width: 50%;
  }

  @include media-mixin.media("<lg-grid", ">=md-grid") {
    --card-width: 33%;
  }

  @include media-mixin.media("<xl-grid", ">=lg-grid") {
    --card-width: 25%;
  }

  @include media-mixin.media("<xxl-grid", ">=xl-grid") {
    --card-width: 33%;
  }

  @include media-mixin.media(">=xxl-grid") {
    --card-width: 25%;
  }

  justify-content: center;
  margin: 0 calc(var(--card-padding) * -1);

  > * {
    margin: 0;
    padding-bottom: calc(var(--card-padding) * 2);
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
    width: var(--card-width);
  }

  #content {
    display: flex;

    /* Remove content div if no content is inserted */
    &:empty {
      display: none !important;
    }
  }
}
