<div class="card h-100">
  <!-- Card Image -->
  <ng-container *ngIf="card.link || card.route; else noLinkImage">
    <ng-container *ngIf="card.link; else route">
      <a [href]="card.link">
        <img
          class="card-img-top"
          [src]="card.image.url"
          alt="{{ card.image.alt }}"
        />
      </a>
    </ng-container>

    <ng-template #route>
      <a [routerLink]="card.route">
        <img
          class="card-img-top"
          [src]="card.image.url"
          alt="{{ card.image.alt }}"
        />
      </a>
    </ng-template>
  </ng-container>

  <ng-template #noLinkImage>
    <img
      class="card-img-top"
      [src]="card.image.url"
      alt="{{ card.image.alt }}"
    />
  </ng-template>

  <!-- Card Body -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">
      <ng-container *ngIf="card.link || card.route; else noLinkTitle">
        <ng-container *ngIf="card.link; else route">
          <a [href]="card.link">{{ card.title }}</a>
        </ng-container>

        <ng-template #route>
          <a [routerLink]="card.route">
            {{ card.title }}
          </a>
        </ng-template>
      </ng-container>

      <ng-template #noLinkTitle>{{ card.title }}</ng-template>
    </h4>

    <!-- Card Description -->
    <p class="card-text" [ngClass]="{ 'font-italic': !card.description }">
      {{ card.description ? card.description : 'No description given' }}
    </p>
  </div>
</div>
