<div *ngIf="!failure">
  <h1>
    <small class="text-muted"> Project: {{ project.name }} </small>
    <br />
    Harvest
  </h1>

  <div [ngSwitch]="stage">
    <!-- Details about harvesting files -->
    <div *ngSwitchCase="harvest.Start">
      <h3>Basic Details</h3>

      <p>
        Harvesting is the name we use for the process of uploading audio data to
        our website. It is a process that is optimized for the mass ingestion of
        data (e.g 3TB, or 4000 files at a time). For our users this allows you
        to submit your recorded environmental audio for analysis and view the
        results directly through the website. Currently this process performs
        several actions such as:
      </p>

      <ul>
        <li>
          Converting audio files to formats compatible with our website
        </li>
        <li>
          Basic integrity checks on the data harvested
        </li>
        <li>
          Gathering metadata about the audio (format, channels, bitrate, sample
          rate, duration, etc.)
        </li>
        <li>
          Assigning audio to sites and projects
        </li>
      </ul>
    </div>

    <!-- User credentials for accessing SFTP -->
    <div *ngSwitchCase="harvest.Credentials">
      <h3>Credentials</h3>

      <p>
        To begin the process of harvesting your audio data, you will need to
        upload the files to our SFTP server. The URI will send you to our server
        which will be available to upload to for the next [INSERT] hours. Please
        keep track of the username, password, and URI as they are specific to
        this upload attempt and will not exist afterwards.
      </p>

      <h4>Details</h4>
      <ul>
        <li><b>Username: </b>aJoEi4aEz6</li>
        <li><b>Password: </b>delicate contempt received two yet</li>
        <li>
          <b>URI: </b>
          <a href="https://ecosounds.org/harvest/v2OSqt7VHu">
            https://ecosounds.org/harvest/v2OSqt7VHu
          </a>
        </li>
      </ul>

      <h4>Current Progress</h4>

      <ul>
        <li><b>Uploaded Files: </b>{{ progress }}</li>
        <li>
          <b>Uploaded Bytes: </b>{{ progress * 31234321 }} ({{
            filesize(progress * 31234321)
          }})
        </li>
      </ul>
    </div>

    <!-- Checking uploaded files progress bar -->
    <div *ngSwitchCase="harvest.Check">
      <h3>Checking Files</h3>

      <p>
        Running an automated check of files uploaded. This is to ensure all the
        audio files have not been corrupted, and will attempt to extract useful
        metadata. Once this process is complete, you will be able to see a list
        of uploaded files, their project id (PID), site id (SID), and point id
        (PoID).<br />The progress bar below shows you the current progress, and
        will update automatically without refreshing the page.
      </p>

      <!-- Was planning on stacked progress bar (error/warning/success): https://github.com/ng-bootstrap/ng-bootstrap/issues/905 -->
      <p>
        <ngb-progressbar
          type="success"
          [value]="progress"
          [showValue]="true"
        ></ngb-progressbar>
      </p>
    </div>

    <!-- Review file uploads -->
    <div *ngSwitchCase="harvest.Review">
      <h3>Review</h3>

      <p>
        Please review the files you have uploaded. If there are any
        unrecoverable errors, hit the re-submit button to manually fix the file.
      </p>

      <app-project-harvest-review></app-project-harvest-review>
    </div>

    <!-- Harvesting uploaded files progress bar -->
    <div *ngSwitchCase="harvest.Harvest">
      <h3>Harvesting Files</h3>

      <p>Harvesting files into the system.</p>

      <!-- Was planning on stacked progress bar (error/warning/success): https://github.com/ng-bootstrap/ng-bootstrap/issues/905 -->
      <p>
        <ngb-progressbar
          type="success"
          [value]="progress"
          [showValue]="true"
        ></ngb-progressbar>
      </p>
    </div>

    <!-- View summary report -->
    <div *ngSwitchCase="harvest.Summary">
      <h3>Complete</h3>

      <div class="clearfix">
        <button class="btn btn-primary float-right">
          Download Report
        </button>
      </div>

      <app-project-harvest-complete [project]="project">
      </app-project-harvest-complete>
    </div>

    <!-- Navigation buttons -->
    <div class="clearfix">
      <button
        *ngIf="buttons.previous?.text"
        class="btn btn-danger float-left"
        [disabled]="buttons.previous?.disabled"
        (click)="previousStage()"
      >
        {{ buttons.previous?.text }}
      </button>
      <button
        *ngIf="buttons.next?.text"
        class="btn btn-success float-right"
        [disabled]="buttons.next?.disabled"
        (click)="nextStage()"
      >
        {{ buttons.next?.text }}
      </button>
    </div>
  </div>
</div>
