<nav class="container navbar navbar-expand-lg navbar-light bg-light p-0">
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">
        <ng-container *ngIf="title; else linksTitle">
          <fa-icon [icon]="title.icon"></fa-icon>
          {{ title.label }}
        </ng-container>
        <ng-template #linksTitle>
          Menu
        </ng-template>
      </h6>
    </li>
    <li class="nav-item" *ngFor="let link of links; let i = index">
      <ng-container *ngIf="isButton(link); else elseLink">
        <button class="btn" (click)="(link.action)">
          <fa-icon [icon]="link.icon"></fa-icon>
          <span>{{ link.label }}</span>
          <span class="d-none" [id]="type + '-tooltip-' + i">
            {{ link.tooltip }}
          </span>
        </button>
      </ng-container>
      <ng-template #elseLink>
        <ng-container *ngIf="isInternalLink(link); else elseExternalLink">
          <a
            class="nav-link"
            aria-describedby="{{type + '-tooltip-' + i"
            routerLink="{{
              '/' + link.category.route + '/' + link.routeFragment
            }}"
            routerLinkActive="active"
            placement="{{ type === 'secondary' ? 'left' : 'right' }}"
            ngbTooltip="{{ link.tooltip() }}"
          >
            <span class="icon"><fa-icon [icon]="link.icon"></fa-icon></span>
            <span>{{ link.label }}</span>
            <span class="d-none" [id]="type + '-tooltip-' + i">
              {{ link.tooltip() }}
            </span>
          </a>
        </ng-container>
        <ng-template #elseExternalLink>
          <a
            class="nav-link"
            aria-describedby="{{type + '-tooltip-' + i"
            href="{{ link.routeFragment }}"
            placement="{{ type === 'secondary' ? 'left' : 'right' }}"
            ngbTooltip="{{ link.tooltip() }}"
          >
            <span class="icon"><fa-icon [icon]="link.icon"></fa-icon></span>
            <span>{{ link.label }}</span>
            <span class="d-none" [id]="type + '-tooltip-' + i">
              {{ link.tooltip() }}
            </span>
          </a>
        </ng-template>
      </ng-template>
    </li>
  </ul>
</nav>
