<nav class="container navbar navbar-expand-lg navbar-light bg-light p-0">
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">
        <ng-container *ngIf="title; else linksTitle">
          <fa-icon [icon]="title.icon"></fa-icon>
          {{ title.label }}
        </ng-container>
        <ng-template #linksTitle>
          Menu
        </ng-template>
      </h6>
    </li>
    <li class="nav-item" *ngFor="let link of filteredLinks; let i = index">
      <ng-container *ngIf="isAction(link); else elseLink">
        <button
          class="btn text-left"
          (click)="(link.action)"
          ngbTooltip="{{ link.tooltip() }}"
          placement="{{ menuType === 'action' ? 'left' : 'right' }}"
        >
          <div class="icon"><fa-icon [icon]="link.icon"></fa-icon></div>
          <span>{{ link.label }}</span>
          <span class="d-none" [id]="type + '-tooltip-' + i">
            {{ link.tooltip }}
          </span>
        </button>
      </ng-container>
      <ng-template #elseLink>
        <ng-container *ngIf="isInternalLink(link); else elseExternalLink">
          <!-- FIXME: broken route logic below -->
          <a
            class="nav-link"
            aria-describedby="{{type + '-tooltip-' + i"
            routerLink="{{ link.uri }}"
            routerLinkActive="active"
            placement="{{ menuType === 'action' ? 'left' : 'right' }}"
            ngbTooltip="{{ link.tooltip() }}"
          >
            <div class="icon"><fa-icon [icon]="link.icon"></fa-icon></div>
            <span>{{ link.label }}</span>
            <span class="d-none" [id]="type + '-tooltip-' + i">
              {{ link.tooltip() }}
            </span>
          </a>
        </ng-container>
        <ng-template #elseExternalLink>
          <a
            class="nav-link"
            aria-describedby="{{type + '-tooltip-' + i"
            href="{{ link.routeFragment }}"
            placement="{{ menuType === 'action' ? 'left' : 'right' }}"
            ngbTooltip="{{ link.tooltip() }}"
          >
            <div class="icon"><fa-icon [icon]="link.icon"></fa-icon></div>
            <span>{{ link.label }}</span>
            <span class="d-none" [id]="type + '-tooltip-' + i">
              {{ link.tooltip() }}
            </span>
          </a>
        </ng-template>
      </ng-template>
    </li>
  </ul>
</nav>
