.embeddedFigure {
  display: flex;
  border-style: solid;
  border-width: thin;
  max-width: 10em;
  height: 10em;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.largeEmbeddedFigure {
  @extend .embeddedFigure;
  height: 15em;
  width: 30em;
  max-width: 30em;
}

.siteMap {
  display: flex;
  border-style: solid;
  border-width: thin;
  width: 20em;
  height: 20em;
  justify-content: center;
  align-items: center;
}

.table-row {
  height: 15em;
}
