<h3>Finished</h3>

<baw-harvest-statistics [statistics]="getStatistics(report)">
  <baw-harvest-statistic-group>
    <baw-harvest-statistic-item [statistic]="downloadIcon">
      <span id="value">&nbsp;</span>
      <a id="label" [href]="recordingsReportUrl | safe: 'url'">
        Recordings Report
      </a>
    </baw-harvest-statistic-item>
    <baw-harvest-statistic-item [statistic]="downloadIcon">
      <span id="value">&nbsp;</span>
      <a id="label" [href]="harvestItemsReportUrl | safe: 'url'">
        Upload Report
      </a>
    </baw-harvest-statistic-item>
  </baw-harvest-statistic-group>
</baw-harvest-statistics>

<h4 class="my-3">Uploaded Recordings</h4>

<ngx-datatable
  class="mb-3"
  bawDatatableDefaults
  [bawDatatablePagination]="{ getModels: getModels }"
>
  <ngx-datatable-column prop="id" [width]="70" [maxWidth]="70">
  </ngx-datatable-column>

  <ngx-datatable-column prop="site" sortKey="siteId">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <baw-loading
        *ngIf="asRecording(row).site | isUnresolved; else site"
        size="sm"
      ></baw-loading>
      <ng-template #site>
        <a [bawUrl]="asRecording(row).site.viewUrl">
          {{ asRecording(row).site.name }}
        </a>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Recorded"
    prop="recordedDate"
    [width]="150"
    [maxWidth]="150"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span [ngbTooltip]="asRecording(row).recordedDateTimezone ?? 'UTC'">
        {{ formatDate(value) }}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="duration"
    sortKey="durationSeconds"
    [width]="170"
    [maxWidth]="170"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ humanizeDurationLong(value) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="mediaType" [width]="100" [maxWidth]="100">
  </ngx-datatable-column>

  <ngx-datatable-column prop="originalFileName">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <p class="m-0 text-break">{{ value }}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Actions"
    [sortable]="false"
    [width]="100"
    [maxWidth]="100"
  >
    <ng-template ngx-datatable-header-template></ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a class="me-1 btn btn-sm btn-primary" [bawUrl]="row.playUrl">
        <fa-icon size="xs" [icon]="['fas', 'play']"></fa-icon>
      </a>
      <a
        class="btn btn-sm btn-secondary"
        [bawUrl]="asRecording(row).getDetailsUrl(project, row.region, row.site)"
      >
        <fa-icon size="xs" [icon]="['fas', 'eye']"></fa-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
