<h1 class="text-muted">{{ pageTitle }}</h1>

<baw-annotation-search-form
  [project]="project"
  [region]="region"
  [site]="site"
  [(form)]="form"
></baw-annotation-search-form>

<hr />

<!-- We can check when the model is initialized by checking when the project gets instantiated -->
@if (form.project) {
  <baw-annotation-search-preview
    [project]="form.project"
    [regions]="form.regions"
    [sites]="form.sites"
    [tags]="form.tags"
    [dateFilters]="form.dateFilters"
    [onlyUnverified]="form.onlyUnverified"
  ></baw-annotation-search-preview>
}
