oe-spectrogram {
  position: relative;
  display: inline-block;
  width: calc(25% - (0.5rem * 2));
  margin: 0.5rem;
}

.verification-grid {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
