<h1 class="text-muted">{{ pageTitle }}</h1>

<baw-annotation-search-form
  [project]="project"
  [region]="region"
  [site]="site"
  [(model)]="model"
></baw-annotation-search-form>

<hr />

<!-- We can check when the model is initialized by checking when the project gets instantiated -->
@if (model.project) {
  <baw-annotation-search-preview
    [project]="model.project"
    [regions]="model.regions"
    [sites]="model.sites"
    [tags]="model.tags"
    [dateFilters]="model.dateFilters"
    [onlyUnverified]="model.onlyUnverified"
  ></baw-annotation-search-preview>
}
