<div class="form-group mb-3">
  @if (props.label) {
    <label [for]="field.id">
      {{ props.label + (props.required ? " *" : "") }}
    </label>
  }

  <div class="input-controls form-control input-group p-0">
    <baw-typeahead-input
      #licenseTypeahead
      class="license-input mb-0"
      [inputPlaceholder]="'No License'"
      [searchCallback]="searchCallback()"
      [multipleInputs]="false"
      [resultTemplate]="licenseSearchTemplate"
      (modelChange)="updateSelectedLicense($event)"
    />

    @if (selectedLicense()) {
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="removeLicense()"
      >
        Remove
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="openLicenseInformation()"
      >
        Show
      </button>
    }
  </div>

  <small class="form-text text-muted mt-2">
    <p>
      Picking a license applies to all data, metadata, and analysis artefacts in
      this project. It does not change your ownership.
    </p>

    <p>
      Not choosing a license is equivalent to not saying anything. Your
      copyright is still in effect. See
      <a href="https://choosealicense.com/no-permission/">
        https://choosealicense.com/no-permission
      </a>
    </p>

    <p>
      If you intend to make your project public, it is
      <em>strongly</em> recommended you choose a license. You can see
      <a href="https://choosealicense.com/">https://choosealicense.com</a> for
      guidance on choosing.
    </p>
  </small>
</div>

<ng-template #licenseInformationModal let-licenseModal>
  <baw-license-information-modal
    [modal]="licenseModal"
    [license]="selectedLicense()"
  />
</ng-template>

<ng-template #licenseSearchTemplate let-result="result" let-searchTerm="term">
  <ngb-highlight [result]="result.name" [term]="searchTerm" />
</ng-template>
