.file-list-item {
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.file-list-item-content {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  gap: 1em;

  & > * {
    display: flex;
    align-items: center;
    min-width: 200px;

    width: 25%;

    overflow-wrap: anywhere;
  }
}

.file-data {
  display: flex;
  flex-wrap: wrap;
  width: 45% !important;

  gap: 0.5rem;

  & > * {
    min-width: 0;
    flex: 1 1 auto;
  }
}

.remove-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.5em;
  height: 1.5em;
}

.event-errors {
  height: 100%;
}
