<h3>Uploading Files</h3>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Windows</a>
    <ng-template ngbNavContent>
      <ol>
        <li>
          Install
          <a target="_blank" href="https://winscp.net/eng/index.php">
            WinSCP
          </a>
        </li>
        <li>
          Click on this
          <a [href]="harvest.uploadUrlWithAuth | safe: 'url'">link</a> to open
          WinSCP and connect to our cloud
        </li>
        <li>
          On your first connection to our cloud, WinSCP will prompt you asking
          if you want to "Continue connecting to an unknown server and add its
          host key to a cache?", select the Yes option
        </li>
        <li>
          Upload all of your files using this
          <a target="_blank"
             href="https://winscp.net/eng/docs/guide_upload">guide</a>
          and we will check them for you
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>MacOS</a>
    <ng-template ngbNavContent>
      <baw-wip>
        <p>TODO: Instructions</p>
      </baw-wip>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Linux</a>
    <ng-template ngbNavContent>
      <baw-wip>
        <p>TODO: Instructions</p>
      </baw-wip>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x"
                 [icon]="['fas', 'network-wired']"></fa-icon>

        We recommend using an Ethernet connection instead of WiFi. The file
        transfer will be more stable, and faster
      </div>
    </div>
  </div>

  <div *ngIf="project.sites.length > 0" class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'folder-open']">
        </fa-icon>

        <ng-container>
          <p>
            We have created some folders for you to put your files in already,
            however you are not required to use them.
            They will look like the following:
          </p>

          <p>
            <fa-icon class="d-inline" [icon]="['fas', 'folder-closed']">
            </fa-icon>
            {{ exampleSite(project).name + "_" + exampleSite(project).id }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'cubes']">
        </fa-icon>

        Make sure files from each different sensor are in their own folder and
        are not mixed together
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'folder-tree']">
        </fa-icon>

        <p>
          Upload your data using whatever folder structure you would like.
          Filenames will need to follow this <a target="_blank"
             href="https://github.com/ecoacoustics/metadata-standard/blob/master/filenames.md">guide</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="icon-wrapper">
          <baw-loading size="lg" color="highlight"></baw-loading>
        </div>

        <b>Uploaded Files:</b>
        <p>{{ harvest.report.itemsTotal | number }}</p>

        <b>Uploaded Bytes:</b>
        <p>
          {{ harvest.report.itemsSizeBytes | number }}
          ({{ harvest.report.itemsSize }})
        </p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'server']">
        </fa-icon>

        <baw-harvest-upload-url [harvest]="harvest"></baw-harvest-upload-url>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <button
    class="btn btn-warning float-start"
    [disabled]="loading"
    (click)="openCancelModal()"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary float-end"
    [disabled]="loading"
    (click)="openFinishedUploadingModal()"
  >
    Finished uploading
  </button>
</div>
