<h3>Uploading Files</h3>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Windows</a>
    <ng-template ngbNavContent>
      <ol>
        <li>
          Install
          <a target="_blank" href="https://winscp.net/eng/index.php">
            WinSCP
          </a>
        </li>
        <li>
          Click on this
          <a [href]="harvest.uploadUrlWithAuth | safe: 'url'">link</a> to open
          WinSCP and connect to our cloud
        </li>
        <li>
          On your first connection to our cloud, WinSCP will prompt you asking
          if you want to "Continue connecting to an unknown server and add its
          host key to a cache?", select the Yes option
        </li>
        <li>
          Upload all of your files using this
          <a target="_blank" href="https://winscp.net/eng/docs/guide_upload"
            >guide</a
          >
          and we will check them for you
        </li>
        <li>
          Once done uploading, close WinSCP before clicking on the Finished
          Uploading button below
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>MacOS</a>
    <ng-template ngbNavContent>
      <ol>
        <li>
          Install
          <a target="_blank" href="https://cyberduck.io/download/">
            Cyberduck
          </a>
        </li>
        <li>
          Click on this
          <a [href]="harvest.uploadUrlWithAuth | safe: 'url'">link</a> to open
          Cyberduck and connect to our cloud.
        </li>
        <li>
          On your first connection to our cloud, Cyberduck may prompt you with 
          an "unknown fingerprint" message. Select "Allow".  
        </li>
        <li>
          Upload all of your files by dragging them into the cyberduck window and we will check them for you. This  
          <a target="_blank" href="https://docs.cyberduck.io/cyberduck/upload/"
            >guide</a
          >
          has more help about uploading using cyberduck
        </li>
        <li>
          Once done uploading, close Cyberduck before clicking on the Finished
          Uploading button below
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Linux</a>
    <ng-template ngbNavContent>
      <p>These instructions use the SCP command program. Alternatively you might prefer <button class="btn btn-link" (click)="activateTab('RClone')">Rclone</button> 
        or a graphical sftp client (if you're in a graphical environment)
      </p>
      <ol>
        <li>
          Paste the following command into your terminal, making sure to replace the <code>[path to your files]</code>
          <ul>
            <li>
              <code>
                scp -r -P {{ harvest.uploadPort }} 
                "[path to your files]" 
                {{ harvest.uploadUser }}@{{ harvest.uploadHost }}:/
              </code>
            </li>
          </ul>
        </li>
        <li>
          When prompted, enter the password <code>{{ harvest.uploadPassword }}</code>
          <ul>
            <li>
              Note, if you are going to be running  this command multiple times, for example in a script, 
              you might like to use <a href='https://www.linuxshelltips.com/pass-password-scp-command-linux/'>sshpass</a> 
              to save having to interactively enter the password many times
            </li>
          </ul>
        </li>
        <li>Once the upload has finished, click on the Finished Uploading button below</li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>R Clone</a>
    <ng-template ngbNavContent>
      <ol>
        <li>
           Rclone is a <b>command line</b> tool for transferring files, which you can download 
           and install <a target="_blank" href="https://rclone.org/install/">here</a>. 
        </li>
        <li>
          Paste the following command into your terminal, making sure to replace the <code>[path to your files]</code>
          <ul>
            <li>
              <code>
                rclone copy -v 
                --sftp-user {{ harvest.uploadUser }} 
                --sftp-pass $(rclone obscure {{ harvest.uploadPassword }}) 
                --sftp-host {{ harvest.uploadHost }} 
                --sftp-port {{ harvest.uploadPort }} 
                "[path to your files]"
                :sftp:/
              </code>   
            </li>
            <li>
              Note that rclone will copy the <em>contents</em> of the <code>[path to your files]</code> folder to the destination, not the source folder itself.
              So if you have a folder for each site, specify their parent folder as the <code>[path to your files]</code> value. 
            </li>
          </ul>
      </ol>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-3">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon
          class="icon-wrapper"
          size="2x"
          [icon]="['fas', 'network-wired']"
        >
        </fa-icon>

        Use a wired network connection instead of WiFi. The file transfer will
        faster and more stable.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="icon-wrapper">
          <div class="pe-1">
            <fa-icon [icon]="['fas', 'microphone']"></fa-icon>
            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
          </div>
          <div class="pe-1">
            <fa-icon [icon]="['fas', 'microphone']"></fa-icon>
            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
          </div>
          <div>
            <fa-icon [icon]="['fas', 'microphone']"></fa-icon>
            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
          </div>
        </div>

        Ensure files from each sensor are in their own folder. Do not mix files
        together.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'folder-tree']">
        </fa-icon>

        <p>
          Upload your data using whatever folder structure you would like.
          Filenames will need to follow this
          <a target="_blank" [href]="filenameGuide | safe: 'url'">guide</a>.
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="project.sites.length > 0" class="col">
    <div class="card h-100">
      <div class="card-body">
        <fa-icon class="icon-wrapper" size="2x" [icon]="['fas', 'folder-open']">
        </fa-icon>

        <ng-container>
          <p>
            We have created some default folders for each of your points/sites.
            They use the <i>point/site name</i> along with a unique id in their
            name. You don't have to use these folders if you don't want to.
          </p>
          <p>Here is an example of one:</p>
          <p>
            <fa-icon class="d-inline" [icon]="['fas', 'folder-closed']">
            </fa-icon>
            {{ exampleSite(project).name + "_" + exampleSite(project).id }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <baw-harvest-upload-url
    class="col-md"
    [harvest]="harvest"
  ></baw-harvest-upload-url>

  <div class="col-md">
    <p><b>Uploaded Files:</b> {{ harvest.report.itemsTotal | number }}</p>
    <p>
      <b>Uploaded Bytes:</b> {{ harvest.report.itemsSizeBytes | number }} ({{
        harvest.report.itemsSize
      }})
    </p>
  </div>
</div>

<div class="clearfix">
  <button
    class="btn btn-warning float-start"
    [disabled]="loading"
    (click)="cancelUpload(cancelUploadModal)"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary float-end"
    [disabled]="loading"
    (click)="finishUpload(finishUploadModal)"
  >
    Finished uploading
  </button>
</div>

<ng-template #finishUploadModal let-modal>
  <baw-harvest-confirmation-modal nextLabel="Scan Files" [modal]="modal">
    <p>
      Are you sure your upload is finished? You can come back here later, if
      there are any issues. This will close the WinSCP connection so we can work
      on the files.
    </p>
  </baw-harvest-confirmation-modal>
</ng-template>

<ng-template #cancelUploadModal let-modal>
  <baw-harvest-confirmation-modal
    nextLabel="Cancel Upload"
    cancelLabel="Return"
    [modal]="modal"
  >
    <p>
      Are you sure you want to cancel this upload? Cancelling will not process
      any uploaded files, and cannot be undone.
    </p>
  </baw-harvest-confirmation-modal>
</ng-template>
