.info-line {
  display: block;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;

  .card-title {
    flex: 0 0 auto;
    max-width: 210px;
    align-content: center;
  }
}
