:host {
  display: block;
  position: relative;
}

.axes {
  // I am trialing using content-visibility so that spectrograms down the page
  // don't have to paint until the user starts to scroll.
  // This should improve the initial page load and responsiveness.
  // However, it does have the possibility to create lag when scrolling because
  // content will be painted on scroll.
  //
  // To see what this does, enable "show paints" in the Chrome dev tools
  // "layers" tab.
  //
  // If this proves to be bad for UX, we should revert this change.
  content-visibility: auto;
}

.axes {
  flex: 1 1 0;

  // By default (by design), the axes component does not include any overflow
  // padding for the axes labels.
  // This means that the axes labels can get cut off depending on the font
  // height.
  // Therefore, we add some padding to the axes component so that the axes are
  // not cut off.
  padding: 0.5rem;
}

.axes, oe-indicator, oe-spectrogram {
  display: block;

  position: relative;
  width: 100%;
  height: 100%;
}

.info-line {
  display: block;
  width: 100%;

  overflow-wrap: break-word;
}

.inline-spinner {
  display: inline-block;
  width: min-content;
}

.spectrogram-container {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  min-height: 0;
}

.spectrogram-placeholder {
  display: block;

  // Our spectrograms have a minimum height of 180px, so I therefore set the
  // placeholder to be 180px high too.
  // I do this to prevent layout shift and to prevent the scroll bar from
  // growing / shrinking depending on if the spectrogram has been created yet.
  //
  // E.g. If we did not include a minimum height on the spectrogram placeholder,
  // the scroll bar would grow as the user scrolled down on the annotation
  // search page because each card component would grow the size of the page as
  // they entered the viewport.
  min-height: 180px;
}

.card-container {
  display: flex block;
  flex-direction: column;

  flex: 1 1 0;

  height: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;

  .card-title {
    flex: 0 0 auto;
    max-width: 210px;
    align-content: center;
  }
}

.card-body {
  flex: 0 0 auto;
}

.no-score-placeholder {
  color: var(--baw-text-color-secondary);
}
