<div class="card p-2">
  <oe-axes>
    <oe-indicator>
      <oe-spectrogram
        [id]="spectrogramId"
        [src]="annotation.audioLink"
        scaling="stretch"
        color-map="grayscale"
        class="spectrogram"
      ></oe-spectrogram>
    </oe-indicator>
  </oe-axes>

  <div class="card-header">
    <h5 class="card-title text-truncate m-0">{{ annotation.tags }}</h5>
    <oe-media-controls #mediaControls></oe-media-controls>
  </div>

  <div class="card-body">
    <span class="info-line">
      @if (annotation.audioRecording.site) {
      <fa-icon class="me-2" [icon]="['fas', 'location-dot']"></fa-icon>
      <a [href]="annotation.audioRecording.site.viewUrl">{{ annotation.audioRecording.site.name }}</a>
      }
    </span>

    <span class="info-line">
      <fa-icon class="me-2" [icon]="['fas', 'record-vinyl']"></fa-icon>
      <a [href]="annotation.listenViewUrl">
        <baw-zoned-datetime
          [value]="annotation.audioRecording.recordedDate"
          [timezone]="annotation.audioRecording.recordedDateTimezone"
        ></baw-zoned-datetime>
      </a>
    </span>

    <span class="info-line">
      <fa-icon class="me-2" [icon]="['fas', 'circle-info']"></fa-icon>
      <a class="more-information-link" [href]="annotation.viewUrl">More information</a>
    </span>
  </div>
</div>
