@if (rows && !error) {
  <h1>Scripts</h1>

  <p>
    Displaying <strong>{{ pageSize }}</strong> of
    <strong>all {{ totalModels }}</strong> scripts.
  </p>

  <label class="input-group mb-3">
    <span class="input-group-prepend input-group-text">Filter</span>
    <input
      bawDebouncedInput
      type="text"
      class="form-control"
      placeholder="Filter Scripts"
      (filter)="onFilter($event)"
    >
  </label>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Id" [width]="75" [maxWidth]="75">
    </ngx-datatable-column>
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-column name="Version" [width]="75" [maxWidth]="75">
    </ngx-datatable-column>
    <ngx-datatable-column name="Command" [sortable]="false">
    </ngx-datatable-column>
    @if (session.isLoggedIn) {
      <ngx-datatable-column
        name="Model"
        [width]="155"
        [maxWidth]="155"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          Actions
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <baw-can [ifLoggedIn]="true">
            <a class="btn btn-sm btn-primary me-1" [bawUrl]="value.viewUrl">
              View
            </a>
          </baw-can>
        </ng-template>
      </ngx-datatable-column>
    }
  </ngx-datatable>
}

@if (error) {
  <baw-error-handler [error]="error"></baw-error-handler>
}
