baw-annotation-event-card {
  width: 350px;
  height: min-content;
}

.annotations-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  position: relative;
  gap: 1em;
  min-height: 2rem;
}

.annotation-grid-controls {
  position: relative;
}
