$gap-size: 0.5em;

.annotations-grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;

  position: relative;
  gap: $gap-size;
  min-height: 2rem;
}

.preview-item {
  display: inline-block;
  flex: 0 0 calc(20% - $gap-size);

  position: relative;
  min-width: calc(20% - $gap-size);
  min-height: 133px;
}

.annotation-grid-controls {
  position: relative;
}
