<h1>Annotation Search</h1>

<div>
  <baw-annotation-search-form
    [searchParameters]="searchParameters"
    (searchParametersChange)="updateSearchParameters($event)"
    [project]="project"
    [region]="region"
    [site]="site"
  ></baw-annotation-search-form>

  <div class="mt-2">
    <!--
      TODO: Once the audio events download route supports url encoded filters
      we should uncomment this buttons functionality
     -->
    <!-- <a class="btn btn-secondary me-2" [href]="downloadAnnotationsUrl()">
      Download Annotations
    </a> -->

    <button class="btn btn-primary" (click)="navigateToVerificationGrid()">
      Verify This List
    </button>
  </div>
</div>

<hr />

<div>
  @if (!loading) {
  <p>
    Displaying
    <span class="fw-bold">{{ paginationInformation?.items }}</span> of
    <span class="fw-bold">all {{ paginationInformation?.total }}</span> audio
    events.
  </p>
  } @else {
  <p>Loading...</p>
  }

  <div class="annotations-grid my-2">
    @for (verificationModel of searchResults; track $index) {
    <div *ngIf="verificationModel">
      <baw-audio-event-card
        [audioEvent]="verificationModel"
      ></baw-audio-event-card>
    </div>
    }
  </div>

  @if (searchResults.length === 0 && !loading) {
  <h2 class="no-results-error">
    No {{ searchParameters.onlyUnverified ? "unverified" : "" }} annotations
    found
  </h2>
  }

  <ngb-pagination
    class="d-flex justify-content-center mt-4"
    [(page)]="page"
    [collectionSize]="paginationInformation?.total ?? 0"
  ></ngb-pagination>
</div>

<ng-template #broadSearchWarningModal let-warningModal>
  <baw-filters-warning-modal [modal]="warningModal"></baw-filters-warning-modal>
</ng-template>
