// TODO Remove after thumbnail is global style
@import "../../../styles/thumbnail";

// TODO Replace with bootstrap pill badges
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  &.active {
    text-decoration: none;
    background-color: #007bff;
  }
}
