<!-- Site Details -->
<h2 class="text-muted">Project: {{ project.name }}</h2>
<h3 *ngIf="region" class="text-muted">Site: {{ region.name }}</h3>
<h1>{{ site.name }}</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img [src]="site.image" [alt]="site.name + ' image'" />
    </div>
  </div>
  <div class="col-sm-8">
    <p
      id="site_description"
      [innerHtml]="site.descriptionHtml || defaultDescription"
    ></p>
  </div>
</div>

<baw-wip>
  <!-- Audio Recording Summary -->
  <h2>Audio Recordings</h2>

  <div class="row">
    <div class="col-sm-6">
      <p id="audio_recording_description">
        This site contains recordings from ... at ... to ... at ....<br />This
        site covers ... and there are records for ... of that time.
      </p>

      <ul class="nav nav-pills mb-0">
        <li class="nav-item">
          <a class="nav-link" href="BROKEN_LINK">
            <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
            Play
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="BROKEN_LINK">
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            Visualise
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6" style="min-height: 400px">
      <baw-map [markers]="marker"></baw-map>
    </div>
  </div>
</baw-wip>
