button {
  font-size: 0.85rem;
  width: 100%;
  border: 0px;

  span {
    color: black;
  }

  &:hover,
  &:focus {
    background-color: var(--baw-highlight-lighter);
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  width: 1.3rem;
}
