@import "../../../../styles/variables.scss";

button {
  font-size: 0.85rem;
  width: 100%;
  border: 0px;

  span {
    color: var(--theme-highlight);
  }

  &:hover span {
    filter: brightness(0.85);
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  width: 1.3rem;

  fa-icon {
    color: black;
  }
}
