li.list-group-item {
  height: 100%;
  min-height: 130px;
  display: flex;

  .body {
    flex: 1;

    .heading {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    ul {
      margin-bottom: 0px;
    }
  }
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  &.active {
    text-decoration: none;
    background-color: #007bff;
  }
}

#points {
  padding-top: 5px;
  padding-bottom: 8px;

  span {
    background-color: var(--baw-highlight);
  }
}

#image {
  width: 60px;
  height: auto;
}
