@import "../../../../styles/thumbnail.scss";

ul {
  margin-bottom: 0px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  &.active {
    text-decoration: none;
    background-color: #007bff;
  }
}
.nav-pills > li > a {
  font-size: 0.9rem;
  border-radius: 4px;
}
