@import '../../../../styles/thumbnail.scss';

ul {
  margin-bottom: 0px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  &.active {
    text-decoration: none;
    background-color: #007bff;
  }
}
.nav-pills > li > a {
  font-size: 0.9rem;
  border-radius: 4px;
}

.map-placeholder {
  border: 1px solid black;
  height: 400px;
  display: block;
  line-height: 400px;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
