<ng-container *ngIf="site">
  <!-- Site Details -->
  <h1>
    <small class="text-muted"> Project: {{ project.name }} </small>
    <br />
    {{ site.name }}
  </h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img [src]="site.imageUrl" [alt]="site.name" />
      </div>
    </div>
    <div class="col-sm-8">
      <p id="site_description">{{ site.description }}</p>
    </div>
  </div>

  <app-wip>
    <!-- Audio Recording Summary -->
    <h2>Audio Recordings</h2>

    <div class="row">
      <div class="col-sm-6">
        <p id="audio_recording_description">
          This site contains recordings from ... at ... to ... at ....<br />This
          site covers ... and there are records for ... of that time.
        </p>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="BROKEN_LINK">
              <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
              Play
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="BROKEN_LINK">
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
              Visualise
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <app-map [sites]="[site]"></app-map>
      </div>
    </div>
  </app-wip>
</ng-container>
