@use "media-mixin";

.menu-container {
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --transform-offset: 100%;

  background-clip: padding-box;
  border-right: var(--border);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 3.5rem 0 0 0;
  outline: 0;
  position: fixed;
  top: 0rem;
  transform: translate(calc(-1 * var(--transform-offset)));
  transition: transform 0.35s ease;
  visibility: none;
  width: 350px;
  z-index: 1050;
  overflow-y: auto;

  /* On small devices, make side nav expand all the way across */
  @include media-mixin.media("<sm-grid") {
    width: 100%;
    border-right: 0;
  }

  &.show {
    visibility: visible;
    transform: none !important;
  }
}
