<h2>Add New Annotations</h2>

<form #ngForm="ngForm">
  <div class="annotationsimportInput">
    <div class="import-groups">
      <label for="annotationsFileInput" class="form-label required">
        Annotation File(s)
      </label>
      <input
        id="annotationsFileInput"
        type="file"
        accept=".csv, .selections.txt, .json"
        class="form-control border"
        [ngClass]="{ 'is-invalid': importGroup?.errors?.length }"
        [files]="importGroup?.files"
        [disabled]="uploading"
        (change)="pushToImportGroups($event)"
        multiple
      />

      <div class="mt-3">
        <baw-typeahead-input
          label="Associated Tags"
          [inputPlaceholder]="'search for tags by name'"
          [searchCallback]="searchTagsTypeaheadCallback"
          [resultTemplate]="tagsTypeaheadTemplate"
          [inputDisabled]="uploading"
          (modelChange)="
            updateAdditionalTagIds(getIdsFromAbstractModelArray($event))
          "
        ></baw-typeahead-input>
      </div>
    </div>
  </div>

  <span
    [ngbTooltip]="
      areImportGroupsValid()
        ? 'Import all new annotations'
        : 'Please fill out all required fields or fix errors'
    "
  >
    <button
      type="submit"
      class="btn btn-primary import-btn mt-3"
      [disabled]="!areImportGroupsValid() || uploading"
      (click)="uploadImportGroups()"
    >
      Import Annotations
    </button>
  </span>
</form>

<hr />

<div class="identified-annotations mt-4">
  <h4>Identified Events</h4>

  <div>
    <ngx-datatable
      bawDatatableDefaults
      [bawDatatablePagination]="{ getModels: getEventModels }"
    >
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Audio Recording
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.audioRecordingId }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Start Time
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.startTimeSeconds }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          End Time
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.endTimeSeconds }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Low Frequency
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.lowFrequencyHertz }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          High Frequency
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.highFrequencyHertz }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Tags
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          <baw-inline-list
            [items]="value?.tags"
            [itemKey]="'text'"
            [emptyTemplate]="noAssociatedTagsTemplate"
        ></baw-inline-list>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          Errors
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #tagsTypeaheadTemplate let-result="result" let-searchTerm="term">
  <ngb-highlight [result]="result.text" [term]="searchTerm"></ngb-highlight>
</ng-template>

<ng-template #noAssociatedTagsTemplate>
  <span>No associated tags</span>
</ng-template>

<ng-template #noAdditionalTagsTemplate>
  <span>No additional tags</span>
</ng-template>

<ng-template #defaultDescription>
  <i>No description found</i>
</ng-template>

<ng-template #noFilesTemplate>
  <i>No files found</i>
</ng-template>
