<div class="collapsed-search bg-dark text-light">
  Show Parameters
</div>

<div id="verification-container">
  <oe-verification-grid id="verification-grid" grid-size="3">
  <template>
      <oe-axes>
          <oe-indicator>
              <oe-spectrogram id="spectrogram" color-map="audacity"></oe-spectrogram>
          </oe-indicator>
      </oe-axes>
      <oe-media-controls for="spectrogram"></oe-media-controls>
      <oe-info-card></oe-info-card>
  </template>

  <oe-decision verified="true" tag="koala" additional-tags="female" shortcut="H">Koala</oe-decision>
  <oe-decision verified="true" tag="koala" additional-tags="male" shortcut="J">Koala</oe-decision>
  <oe-decision verified="true" tag="cow" shortcut="k">Cow</oe-decision>
  <oe-decision verified="false" tag="*" shortcut="L">Negative</oe-decision>
  <oe-decision verified="false" shortcut="S" skip>Skip</oe-decision>

  <!--
      local would use a file picker UI, while src would allow a remote file
      This should probably use a data service.
      This service would
  -->
  <!-- <oe-data-source for="verification-grid" local></oe-data-source> -->
  <oe-data-source slot="data-source" for="verification-grid">
  </oe-data-source>
  </oe-verification-grid>
</div>
