<h3>Review</h3>

<p>
  This is a review of the audio data. If you are missing a
  {{ siteColumnLabel }} for one of the folders you have uploaded,
  <a [strongRoute]="newSiteMenuItem.route">create the {{ siteColumnLabel }}</a>
  and refresh this page.
</p>

<baw-harvest-statistics
  [statistics]="getStatistics(harvest)"
></baw-harvest-statistics>

<!-- Should use harvest items list instead of harvest mappings. This allows for us to open sub-directories, etc -->
<ngx-datatable
  class="mb-3"
  bawDatatableDefaults
  [rows]="mappings"
  [externalPaging]="false"
  [externalSorting]="false"
>
  <ngx-datatable-column prop="path">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
  <!-- Enable overflow so that typeahead options will show -->
  <ngx-datatable-column
    prop="siteId"
    cellClass="overflow-visible"
    [width]="300"
    [maxWidth]="300"
  >
    <ng-template let-column="column" ngx-datatable-header-template>
      {{ siteColumnLabel }}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <baw-loading
        *ngIf="row.site | isUnresolved; else siteSelector"
        size="sm"
      ></baw-loading>

      <ng-template #siteSelector>
        <baw-harvest-site-selector
          [project]="project"
          [site]="row.site"
          (siteIdChange)="setSite(row, $event)"
        ></baw-harvest-site-selector>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="utcOffset" [width]="200" [maxWidth]="200">
    <ng-template let-column="column" ngx-datatable-header-template>
      UTC Offset
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <baw-harvest-utc-offset-selector
        [offset]="value"
        (offsetChange)="setOffset(row, $event)"
      ></baw-harvest-utc-offset-selector>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div class="d-flex justify-content-between">
  <button
    class="btn btn-outline-primary"
    [disabled]="loading"
    (click)="onBackClick()"
  >
    Upload more files
  </button>
  <button
    *ngIf="harvest.isMappingsDirty"
    class="btn btn-primary"
    [disabled]="loading"
    (click)="onSaveClick()"
  >
    Check changes
  </button>
  <!-- Redirect to metadata extraction instead of next step if changes made -->
  <!-- TODO Modal popup when hasUnsavedChanges -->
  <button
    class="btn"
    [class.btn-primary]="!harvest.isMappingsDirty"
    [class.btn-warning]="harvest.isMappingsDirty"
    [disabled]="loading"
    (click)="onNextClick()"
  >
    {{
      harvest.isMappingsDirty ? "Continue without checking changes" : "Continue"
    }}
  </button>
</div>
