.grid-table {
  --padding: 0.35rem;

  display: grid;
  grid-template-columns: 1fr minmax(200px, min-content) repeat(3, min-content);
  grid-template-rows: 1fr;

  .grid-table-row {
    display: contents;

    &:nth-child(2n) .grid-table-item {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:last-child .grid-table-item {
      border-bottom: 2px solid #d1d4d7;
    }

    .grid-table-header {
      line-height: 24px;
      border-bottom: 2px solid #d1d4d7;
    }

    .grid-table-item {
      display: flex;
      flex-direction: row;
      padding: var(--padding);
      background-color: white;
    }
  }

  .table-progress {
    grid-column: 1 / 6;
  }

  .path-extended {
    grid-column: 1 / 2;
  }

  .issues-extended {
    grid-column: 2 / 5;
    position: relative;

    .dropdown-icon {
      position: absolute;
      right: var(--padding);
      top: var(--padding);
      cursor: pointer;
    }
  }

  .create-mapping {
    grid-column: 2 / 5;
  }

  .load-more {
    grid-column: 1 / 6;
  }
}

.vertical-half-line {
  position: relative;

  &::before {
    border-left: 1px solid grey;
    display: inline-block;
    position: absolute;
    height: 30%;
    bottom: calc(-1 * var(--padding));
    width: 1px;
    margin: 0;
    content: "";
  }
}

.vertical-line {
  position: relative;

  &::before {
    border-left: 1px solid grey;
    display: inline-block;
    position: absolute;
    top: calc(-1 * var(--padding));
    bottom: calc(-1 * var(--padding));
    width: 1px;
    margin: 0;
    content: "";
  }
}

.whitespace-block {
  display: inline-block;
  width: 1rem;
}

.callout {
  display: block;
  width: 100%;
  word-break: break-word;
  padding: 0.25rem;
  line-height: 1.5em;

  &.callout-warning {
    background-color: hsla(var(--baw-warning-hsl), 0.075);
    border-left: 0.25rem solid hsla(var(--baw-warning-hsl), 0.5);
  }

  &.callout-danger {
    background-color: hsla(var(--baw-danger-hsl), 0.075);
    border-left: 0.25rem solid hsla(var(--baw-danger-hsl), 0.5);
  }

  &.callout-error {
    background-color: rgba(0, 0, 0, 0.075);
    border-left: 0.25rem solid black;
  }
}

.icon-wrapper {
  width: max-content;
  margin: 0;
  padding: 0;
  border-width: 0;

  & > *:nth-child(n) {
    margin-right: 0.5rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

// TODO This instantly expands the containing row, a better solution could be
// achieved using JS: https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
.expander-wrapper {
  display: grid;
  width: 100%;

  .expander {
    display: flex;
    flex-direction: column;

    &.expand .content {
      flex: 1;
    }

    .content {
      flex-basis: 1.8em;
      transition: 0.1s;
      overflow: hidden;
    }
  }
}

.badge {
  height: min-content;
}

:host ::ng-deep .fa-custom-counter {
  transform: scale(0.4) translateX(50%) translateY(75%);
}

.fa-custom-icon {
  font-size: 1.5em;
}
