:host ::ng-deep {
  .grid-table-item {
    display: flex;
    flex-direction: row;
    padding: var(--table-padding);
    background-color: inherit;

    // Optimises how the table is shown, currently only works on chromium
    // browsers
    // https://web.dev/content-visibility/
    // https://github.com/mozilla/standards-positions/issues/135
    content-visibility: auto;
    contain-intrinsic-size: 42.2px;
  }
}

.grid-table {
  --table-padding: 0.35rem;

  display: grid;
  grid-template-columns:
    1fr
    14rem
    9rem
    min-content
    min-content;
  grid-template-rows: 1fr;
  border-bottom: 2px solid #d1d4d7;
  background-color: white;

  .grid-table-row,
  .grid-table-header {
    display: contents;
  }

  .table-progress {
    .wrapper {
      min-height: 7px;
      border-bottom: 2px solid #d1d4d7;
      display: grid;
      grid-column: 1 / 6;
    }
  }
}

.display-contents {
  display: contents;
}
