<h3>Review</h3>

<p>
  This is a review of the audio data. If you are missing a
  {{ siteColumnLabel }} for one of the folders you have uploaded,
  <a [strongRoute]="newSiteMenuItem.route">create the {{ siteColumnLabel }}</a>
  and refresh this page.
</p>

<baw-harvest-statistics
  [statistics]="getStatistics(harvest)"
></baw-harvest-statistics>

<div class="grid-table mb-3">
  <!-- Headers -->
  <div class="grid-table-row">
    <div class="grid-table-header">Path</div>
    <div class="grid-table-header">{{ siteColumnLabel }}</div>
    <div class="grid-table-header">UTC Offset</div>
    <div class="grid-table-header">Recursive</div>
    <div class="grid-table-header"></div>
  </div>

  <div
    *ngFor="let row of rows.toArray(); let i = index"
    class="grid-table-row"
    [class.even]="i % 2 === 1"
  >
    <!-- Folder Row -->
    <ng-container *ngIf="row.rowType === RowType.folder">
      <!-- Icon and Path -->
      <div class="grid-table-item">
        <!-- Whitespace -->
        <ng-container
          [ngTemplateOutlet]="whitespace"
          [ngTemplateOutletContext]="{
            indentation: row.indentation,
            openFolder: row.isOpen
          }"
        ></ng-container>
        <button class="btn btn-link p-0 me-2" (click)="toggleFolder(i)">
          <fa-icon
            [icon]="['fas', row.isOpen ? 'folder-open' : 'folder-closed']"
          ></fa-icon>
        </button>
        <div>
          {{ row.path }}
        </div>
      </div>
      <!-- Site Selector -->
      <div class="grid-table-item">
        <baw-loading
          *ngIf="row.mapping.site | isUnresolved; else siteSelector"
          size="sm"
        ></baw-loading>

        <ng-template #siteSelector>
          <baw-harvest-site-selector
            [project]="project"
            [site]="row.mapping.site"
            (siteIdChange)="setSite(row.mapping, $event)"
          ></baw-harvest-site-selector>
        </ng-template>
      </div>
      <!-- UTC Offset -->
      <div class="grid-table-item">
        <baw-harvest-utc-offset-selector
          [offset]="row.utcOffset"
          (offsetChange)="setOffset(row.mapping, $event)"
        ></baw-harvest-utc-offset-selector>
      </div>
      <!-- Recursive -->
      <div class="grid-table-item">
        <baw-checkbox
          [checked]="row.recursive"
          (checkedChange)="setIsRecursive(row.mapping, $event)"
        ></baw-checkbox>
      </div>
      <!-- Issue Icons -->
      <div class="grid-table-item">
        <ng-template #warningMessage>
          <p *ngFor="let message of getValidationMessages(row, true)">
            {{ message }}
          </p>
        </ng-template>
        <ng-template #dangerMessage>
          <p *ngFor="let message of getValidationMessages(row, false)">
            {{ message }}
          </p>
        </ng-template>

        <fa-icon
          *ngIf="row.harvestItem.report.itemsInvalidFixable > 0"
          class="text-warning me-2"
          [icon]="attentionIcon"
          [ngbTooltip]="isFile(row) ? warningMessage : ''"
        ></fa-icon>
        <fa-icon
          *ngIf="row.harvestItem.report.itemsInvalidNotFixable > 0"
          class="text-danger"
          [icon]="problemIcon"
          [ngbTooltip]="isFile(row) ? dangerMessage : ''"
        ></fa-icon>
      </div>
    </ng-container>

    <!-- File Row -->
    <ng-container *ngIf="row.rowType === RowType.file">
      <!-- Icon and Path -->
      <div class="grid-table-item path-extended">
        <!-- Whitespace -->
        <ng-container
          [ngTemplateOutlet]="whitespace"
          [ngTemplateOutletContext]="{ indentation: row.indentation }"
        ></ng-container>
        <fa-icon class="me-2" [icon]="['fas', 'file']"></fa-icon>
        <small>{{ row.path }}</small>
      </div>
      <!-- Issues -->
      <div class="grid-table-item">
        <ng-template #warningMessage>
          <p *ngFor="let message of getValidationMessages(row, true)">
            {{ message }}
          </p>
        </ng-template>
        <ng-template #dangerMessage>
          <p *ngFor="let message of getValidationMessages(row, false)">
            {{ message }}
          </p>
        </ng-template>

        <fa-icon
          *ngIf="row.harvestItem.report.itemsInvalidFixable > 0"
          class="text-warning me-2"
          [icon]="attentionIcon"
          [ngbTooltip]="isFile(row) ? warningMessage : ''"
        ></fa-icon>
        <fa-icon
          *ngIf="row.harvestItem.report.itemsInvalidNotFixable > 0"
          class="text-danger"
          [icon]="problemIcon"
          [ngbTooltip]="isFile(row) ? dangerMessage : ''"
        ></fa-icon>
      </div>
    </ng-container>

    <!-- Load More Row -->
    <ng-container *ngIf="row.rowType === RowType.loadMore">
      <div class="grid-table-item load-more">
        <!-- Whitespace -->
        <ng-container
          [ngTemplateOutlet]="whitespace"
          [ngTemplateOutletContext]="{
            indentation: row.parentFolder.indentation
          }"
        ></ng-container>

        <baw-loading
          *ngIf="row.isLoading"
          class="m-auto"
          size="sm"
        ></baw-loading>

        <button
          *ngIf="!row.isLoading"
          class="btn btn-sm btn-outline-primary m-auto"
          (click)="loadMore(i)"
        >
          Load More from
          <span class="font-monospace">{{ row.parentFolder.path }}</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<div class="d-flex justify-content-between">
  <button
    class="btn btn-outline-primary"
    [disabled]="loading"
    (click)="onBackClick()"
  >
    Upload more files
  </button>
  <button
    *ngIf="harvest.isMappingsDirty"
    class="btn btn-primary"
    [disabled]="loading"
    (click)="onSaveClick()"
  >
    Check changes
  </button>
  <!-- Redirect to metadata extraction instead of next step if changes made -->
  <!-- TODO Modal popup when hasUnsavedChanges -->
  <button
    class="btn"
    [class.btn-primary]="!harvest.isMappingsDirty"
    [class.btn-warning]="harvest.isMappingsDirty"
    [disabled]="loading"
    (click)="onNextClick()"
  >
    {{
      harvest.isMappingsDirty ? "Continue without checking changes" : "Continue"
    }}
  </button>
</div>

<ng-template
  #whitespace
  let-indentation="indentation"
  let-openFolder="openFolder"
>
  <ng-container *ngFor="let indent of replaceMe(indentation)">
    <span class="vertical-line"></span>
    <div class="whitespace-block"></div>
  </ng-container>

  <span *ngIf="openFolder" class="vertical-half-line"></span>
</ng-template>
