:host ::ng-deep {
  .grid-table-row {
    &:last-child .grid-table-item {
      border-bottom: 2px solid #d1d4d7;
    }

    &:nth-of-type(2n + 1) .grid-table-item {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .grid-table-item {
    display: flex;
    flex-direction: row;
    padding: var(--table-padding);
    background-color: white;
  }
}

.grid-table {
  --table-padding: 0.35rem;

  display: grid;
  grid-template-columns:
    1fr
    minmax(14rem, min-content)
    minmax(9rem, min-content)
    min-content
    min-content;
  grid-template-rows: 1fr;

  .grid-table-row,
  .grid-table-header {
    display: contents;
  }

  .grid-table-header .grid-table-item {
    line-height: 24px;
    border-bottom: 2px solid #d1d4d7;
  }

  .grid-table-row {
    > * {
      display: contents;
    }
  }

  .table-progress {
    display: grid;
    grid-column: 1 / 6;
  }
}
