$whitespace-line-color: var(--baw-secondary);

.display-contents {
  display: contents;
}

.item-name {
  cursor: pointer;
}

.fa-custom-icon {
  font-size: 1.3em;
}

.whitespace-vertical-half-line {
  position: absolute;
  border-left: 1px solid $whitespace-line-color;
  display: inline-block;
  height: 30%;
  bottom: 20px;
  left: 5px;
  width: 1px;
  margin: 0;
}

.whitespace-vertical-line {
  display: block;
  border-left: 1px solid $whitespace-line-color;
  width: 1px;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
