$vertical-line-color: grey;
$margin-offset: 13px;

.directory-listing-container {
  display: grid;
  grid-template-columns:
    1fr
    14rem
    9rem
    min-content
    min-content;
}

.display-contents {
  display: contents;
}

.fa-custom-icon {
  margin: $margin-offset;
  margin-left: 5px;
  margin-top: 5px;
  padding: $margin-offset;
  font-size: 1.3em;
  white-space: pre-wrap;
}

.whitespace-vertical-half-line {
  position: absolute;
  border-left: 1px solid $vertical-line-color;
  display: inline-block;
  height: 30%;
  bottom: 20px;
  left: 5px;
  width: 1px;
  margin: 0;
}


.whitespace-vertical-line {
  display: block;
  border-left: 1px solid $vertical-line-color;
  width: 1px;
  height: 100%;
  margin-left: 5px;
}

.whitespace-block {
  display: inline-block;
  width: 1rem;
}
