<div class="grid-table">
  <div
    class="grid-table-row"
    [ngStyle]="{ backgroundColor: even ? '#f2f2f2' : 'white' }"
  >
    <span class="grid-table-item" (click)="setOpen()" style="cursor: pointer;">
      <!-- indentation of files in tree hierarchy -->
      <span class="whitespace-indentation" *ngFor="let i of indentation()">
        <baw-directory-whitespace [isFolder]="isFolder" [open]="open"></baw-directory-whitespace>
      </span>

      <fa-layers class="fa-custom-icon m-2" [fixedWidth]="true">
        <fa-icon
          class="fa-custom-icon"
          [icon]="[
            'fas',
            !isFolder ? 'file' : open ? 'folder-open' : 'folder-closed'
          ]"
        ></fa-icon>
        <fa-layers-counter
          *ngIf="isFolder && !isRoot"
          class="text-light"
          [content]="item.children.length.toString()"
          [classes]="['fa-custom-counter']"
        ></fa-layers-counter>
      </fa-layers>

      {{ itemName }}
    </span>

    <span class="grid-table-item">{{ item.userFriendlyFileSize() }}</span>

    <span class="grid-table-item">
      <span [ngbTooltip]="
        isFolder
          ? 'BETA: will be available soon. Download ZIP of audio recording analysis'
          : ''
      ">
        <button class="btn btn-light btn-sm mb-2 mt-1 btn-border" [disabled]="isFolder">
          <fa-icon
            [icon]="['fas', isFolder ? 'file-archive' : 'file-arrow-down']"
          ></fa-icon>
        </button>
      </span>
    </span>
  </div>
</div>

<!-- Child folders & items -->
<ng-container *ngIf="open">
  <baw-directory-row
    *ngFor="let item of item.children"
    [item]="item"
    [even]="!even"
  ></baw-directory-row>
</ng-container>
