.display-contents {
  display: contents;
}

.item-name {
  cursor: pointer;
}

.fa-custom-icon {
  font-size: 1.3em;
  padding-right: 2rem;
}

.whitespace-vertical-line {
  display: block;
  background: linear-gradient(to right, black 1px, transparent 1px);
  background-size: 1.2rem;
  height: 100%;
}
