<div class="directory-listing-container">
  <div
    class="display-contents"
    [ngStyle]="{ backgroundColor: even ? '#f2f2f2' : 'white' }"
  >
    <span class="directory-listing-item" (click)="toggleOpen()" style="cursor: pointer">
      <!-- indentation of files in tree hierarchy -->
      <span class="whitespace-indentation" *ngFor="let i of indentation()">
        <span class="whitespace-vertical-line"></span>
        <div class="whitespace-block"></div>
        <span *ngIf="isFolder && open" class="whitespace-vertical-half-line"></span>
      </span>

      <fa-layers class="fa-custom-icon m-2" [fixedWidth]="true">
        <fa-icon
          class="fa-custom-icon"
          [icon]="[
            'fas',
            !isFolder ? 'file' : open ? 'folder-open' : 'folder-closed'
          ]"
        ></fa-icon>
      </fa-layers>

      {{ itemName }}
    </span>

    <span class="directory-listing-item">
      <ng-container *ngIf="!isFolder">
        {{ item.sizeBytes }} Bytes
      </ng-container>
    </span>

    <span class="directory-listing-item">
      <span
        [disableTooltip]="isFile"
        [ngbTooltip]="'BETA: will be available soon. Download ZIP of audio recording analysis'"
      >
        <a
          class="btn btn-light btn-sm mb-2 mt-1 border"
          [class.disabled]="isFolder"
          [href]="downloadUrl"
        >
          <fa-icon
            [icon]="['fas', isFolder ? 'file-archive' : 'file-arrow-down']"
          ></fa-icon>
        </a>
      </span>
    </span>
  </div>
</div>
