<baw-wip>
  <ng-container *ngIf="!!user">
    <!-- Username -->
    <h1>{{ user.userName }}</h1>

    <div class="row">
      <!-- Left aligned content -->
      <div class="col-sm-4">
        <!-- User profile picture and details -->
        <div class="thumbnail">
          <img [alt]="user.userName + 'profile image'" [src]="user.image" />
          <div class="caption">
            <p>
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              {{ lastSeenAt }}
            </p>
            <p>
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
              Unknown membership length
            </p>
          </div>
        </div>

        <!-- User annotations (Disabled in third person) -->
        <div class="row" *ngIf="!thirdPerson">
          <div class="col-sm-12 pb-3">
            <div class="card">
              <div class="card-header">Download</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <a href="BROKEN LINK" class="mx-auto text-center">
                    Annotations you've created
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Right aligned content -->
      <div class="col-sm-8">
        <baw-items [items]="userStatistics"></baw-items>

        <!-- Users most popular tags -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <!-- Header -->
              <div class="card-header">Most Popular Tags</div>

              <!-- Tags -->
              <ul class="list-group list-group-flush">
                <li *ngFor="let tag of tags" class="list-group-item">
                  <!-- Item icon -->
                  <fa-icon id="icon" [icon]="['fas', 'tag']"></fa-icon>
                  <a [routerLink]="tag.viewUrl">
                    {{ tag.text }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</baw-wip>
