<div #wrapper class="content-wrapper">
  <a [href]="listenLink" class="content-link" target="_blank">Go To Source</a>

  <button
    (click)="toggleContext()"
    class="content-link btn btn-sm btn-outline-primary context-anchor"
    aria-label="Show additional context around audio event"
  >
    Show More
  </button>
</div>

@if (contextExpanded()) {
  <!--
    We stop propagation here so that if you click anywhere in the context window
    the click event won't bubble up to the grid-tile and cause the grid tile to
    be selected/deselected.
   -->
  <div class="context-card context-anchor-item" (click)="$event.stopImmediatePropagation()">
    <div class="context-card-header">
      <span class="context-card-information">
        <span class="context-card-title">Context</span>

        <span class="context-card-description">
          (Showing 30 seconds around audio event)
        </span>
      </span>

      <span class="context-card-actions">
        <button
          id="close-btn"
          class="btn btn-outline-danger"
          (click)="contextExpanded.set(false)"
        >
          Close
        </button>
      </span>
    </div>

    <div class="context-card-elements">
      <oe-axes>
        <oe-indicator>
          <oe-spectrogram
            #contextSpectrogram
            [src]="contextSource"
            (loaded)="contextSpectrogramLoaded()"
            color-map="grayscale"
            scaling="stretch"
          ></oe-spectrogram>
        </oe-indicator>
      </oe-axes>

      <oe-media-controls #contextMediaControls></oe-media-controls>
    </div>
  </div>
}
