<div #wrapper class="content-wrapper">
  <a [href]="listenLink" class="content-link" target="_blank">Go To Source</a>

  <button
    (click)="toggleContext()"
    class="content-link btn btn-sm btn-outline-primary context-anchor"
    aria-label="Show additional context around audio event"
  >
    Show More
  </button>
</div>

@if (contextExpanded) {
<div class="context-card context-anchor-item">
  <div class="context-card-header">
    <span class="context-card-information">
      <span class="context-card-title">Context</span>

      <span class="context-card-description ms-2">(Showing 30 seconds around audio event)</span>
    </span>

    <span class="context-card-actions">
      <button id="close-btn" class="btn btn-outline-danger" (click)="closeContext()">
        Close
      </button>
    </span>
  </div>

  <div class="context-card-elements">
    <oe-axes>
      <oe-indicator>
        <oe-spectrogram
          [id]="contextSpectrogramId"
          [src]="contextSource"
          color-map="audacity"
          scaling="stretch"
        ></oe-spectrogram>
      </oe-indicator>
    </oe-axes>

    <oe-media-controls [for]="contextSpectrogramId"></oe-media-controls>
  </div>
</div>
}
