<footer class="container-fluid bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-pills mr-auto align-items-center m-auto">
      <li class="nav-item">
        <p class="nav-link disabled m-0">&#169; QUT 2019</p>
      </li>
      <li class="nav-item">
        <p class="nav-link disabled m-0">Production v3.0.0</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics" routerLinkActive="active">
          Statistics
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about/disclaimers"
          routerLinkActive="active"
        >
          Disclaimers
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about/credits"
          routerLinkActive="active"
        >
          Credits
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about/ethics"
          routerLinkActive="active"
        >
          Ethics
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about/contact"
          routerLinkActive="active"
        >
          Contact Us
        </a>
      </li>
    </ul>
  </nav>
</footer>
