<div class="container-fluid bg-dark">
  <nav class="container navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto align-items-center m-auto">
      <li class="nav-item">
        <p class="nav-link">&#169; QUT 2019</p>
      </li>
      <li class="nav-item">
        <p class="nav-link">production v2.0.1-0</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disclaimers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Credits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ethics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
</div>
