<footer class="container-fluid bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-pills mr-auto align-items-center m-auto">
      <li class="nav-item">
        <p class="nav-link disabled m-0">&#169; QUT 2019</p>
      </li>
      <li class="nav-item">
        <p class="nav-link disabled m-0">Production v{{ version }}</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="routes.statistics">
          Statistics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="routes.disclaimers">
          Disclaimers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="routes.credits">
          Credits
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="routes.ethics">
          Ethics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="routes.contactUs">
          Contact Us
        </a>
      </li>
    </ul>
  </nav>
</footer>
