@import "line-truncation";

.card {
  --line-height: 1.4rem;
  --max-lines: 4;
  --image-bg-color: white;
  --card-bg-color: white;
  --card-border: 1px solid rgba(0, 0, 0, 0.125);
  --bs-card-title-color: var(--baw-highlight);
  overflow: hidden;
  border-radius: 0.75rem;
  border: var(--card-border);

  .card-image {
    background-color: var(--image-bg-color);
    border-bottom: var(--card-border);

    a {
      display: inline-block;
      width: auto;
      height: auto;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: var(--card-bg-color);

    .card-title {
      font-size: 1.25rem;
    }

    .card-text {
      flex-grow: 1;
    }

    .card-badges > :not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

.truncate {
  @include line-truncation(
    var(--line-height),
    var(--max-lines),
    var(--card-bg-color)
  );
}
