<nav
  class="container navbar-dark"
  [class.side-nav]="isSideNav()"
  [class.fullscreen]="menu.isFullscreen"
>
  <!-- Left aligned navigation links -->
  <ul class="navbar-nav me-auto">
    @for (link of links; track link) {
      @if (isHeaderItem(link)) {
        <baw-header-item
          [link]="link"
        ></baw-header-item>
      }
      @if (isHeaderDropdown(link)) {
        <baw-header-dropdown
          [label]="link.label"
          [links]="link.items"
        ></baw-header-dropdown>
      }
    }
  </ul>

  <!-- Right aligned links -->
  <ul class="navbar-nav">
    @if (!isSideNav()) {
      <baw-website-status-indicator></baw-website-status-indicator>
    }

    <ng-container
      *ngTemplateOutlet="user ? userTemplate : guestTemplate"
    ></ng-container>
  </ul>
</nav>

<ng-template #guestTemplate>
  @for (menuItem of [routes.register, routes.login]; track menuItem) {
    <baw-header-item [link]="menuItem"></baw-header-item>
  }
</ng-template>

<ng-template #userTemplate>
  <!-- Admin toolbox -->
  @if (user.isAdmin) {
    <li class="nav-item">
      <a
        id="admin-header-link"
        class="nav-link"
        strongRouteActive="active"
        [strongRoute]="routes.admin.route"
      >
        <fa-icon [icon]="routes.admin.icon"></fa-icon>
      </a>
    </li>
  }

  <!-- Profile photo -->
  <li class="nav-item">
    <a
      id="profile-widget"
      class="nav-link"
      bawUrlActive="active"
      [strongRoute]="routes.profile.route"
    >
      <span [innerText]="user.userName"></span>
      <div class="d-inline-block text-bg-light ms-1">
        <img alt="Profile Icon" [src]="user.imageUrls" />
      </div>
    </a>
  </li>
  <!-- Logout button -->
  <li class="nav-item">
    <button
      id="logout-header-link"
      class="nav-link btn btn-link border-0"
      (click)="logout()"
    >
      Logout
    </button>
  </li>
</ng-template>
