@import "./app/styles/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";

/* Overwrite bootstrap maximum window size */

/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: $white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

section {
  padding: 15px 1rem;
  margin: auto 0;
  background-color: transparent;
  width: 100%;

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
  }
}

/* BACKWARDS COMPATIBILITY */
.nav-pills > li > a {
  font-size: 0.9rem;
  border-radius: 4px;
}
