@import "./app/styles/bootstrap/index";
@import "./app/styles/ngx-datatable";
@import "./app/styles/functions";
@import "~ngx-toastr/toastr";

/* Global css variables */
:root {
  /* Navigation bar background colour */
  --baw-theme-header: #222;

  /* Theme highlight colour, this is used to create an accent for objects following the 60/30/10 rule */
  @include create-variable("highlight", #304f3b, 60%, 70%, 5%, 10%);
}

/* Overwrite bootstrap maximum window size */

/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: $white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.75;

  &:hover,
  &:focus {
    background-color: unset !important;
  }
}

/* BACKWARDS COMPATIBILITY */

// Create a grey coloured bootstrap button. This is used by the selectable-items component
// to create standard looking buttons.
.btn-default {
  background-color: white;
  border-color: #ccc;
  color: #333;
}

// Creates blue pill shaped anchor links. Used heavily by the navigation system. Should be
// replaced by the button class eventually.
.nav-pills > li > a {
  border-radius: 4px;
  font-size: 0.9rem;
}

// Creates formatting for code examples
pre {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}
