@import "bootstrap/index";
@import "ngx-datatable";
@import "images";
@import "functions";
@import "~@fortawesome/fontawesome-svg-core/styles.css";
@import "~ngx-toastr/toastr";

/* Global css variables */
:root {
  /* Navigation bar background colour */
  --baw-header: #222;

  // TODO Change this away from white
  --baw-default-background: white;
  --baw-default-background-light: lightgrey;
  --baw-default-background-dark: darkgrey;

  /* Theme highlight colour, this is used to create an accent for objects following the 60/30/10 rule */
  @include create-variable("highlight", #304f3b);
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: var(--baw-default-background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

/* BACKWARDS COMPATIBILITY WITH BAW-CLIENT */

.rounded-link-default {
  border-radius: 0.5rem;
  font-size: 0.9rem;

  &:hover,
  &:focus {
    background-color: #eee;
  }

  &.active {
    color: var(--baw-highlight-contrast);
    background-color: var(--baw-highlight);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.75;

    &:hover,
    &:focus {
      background-color: unset !important;
    }
  }
}

// Create a grey coloured bootstrap button. This is used by the selectable-items component
// to create standard looking buttons.
.btn-default {
  background-color: white;
  border-color: #ccc;
  color: #333;
}

// Creates formatting for code examples
pre {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}
