<header>
  <div class="landing-image"></div>
</header>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Ecosounds</h1>
    <p
      class="lead"
      i18n="Ecosounds Description|Description of what ecosounds is.@@ecosoundsDescription"
    >
      Welcome! Ecosounds is a repository of environmental audio recordings. This
      website facilitates the management, access, visualization, and analysis of
      environmental acoustic data. It uses the Acoustic Workbench software which
      is is open source and available from
      <a href="https://github.com/QutEcoacoustics">GitHub.</a><br />The website
      is run by the QUT Ecoacoustics Research Group to
      <a href="https://research.ecosounds.org/">
        support bioacoustics and ecoacoustics research.
      </a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0" style="background-color: #e9f5e2;">
  <div class="container">
    <h1 class="display-4">Our Process</h1>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">
            Environment
          </h4>
          <div class="card-body">
            <p class="card-text">
              Faunal vocalisations and other human-audible environmental sounds
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">
            Acoustic Sensors
          </h4>
          <div class="card-body">
            <p class="card-text">
              Acoustic sensors record sound in a wide range of environments
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header text-center">
            Annotated Spectrogram
          </h4>
          <div class="card-body">
            <p class="card-text">
              Practical identification of animal sounds by people and automated
              detectors. Ecologists use these to answer environmental questions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Some of the projects you can access</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item mb-4">
        <div class="card h-100">
          <a href="https://www.ecosounds.org/projects/1094">
            <img
              class="card-img-top"
              src="https://www.ecosounds.org/system/projects/images/000/001/094/span3/5616960887_cf01ca55d2_b.jpg?1516664306"
              alt="Tortuguero"
            />
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.ecosounds.org/projects/1094">Tortuguero</a>
            </h4>
            <p class="card-text">
              Soundscape recordings made in Turtuguero, Costa Rica, 2011.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item mb-4">
        <div class="card h-100">
          <a href="https://www.ecosounds.org/projects/1007">
            <img
              class="card-img-top"
              src="https://www.ecosounds.org/system/projects/images/000/001/007/span3/IMG_20140529_111723_1_.jpg?1401329277"
              alt="Oxley Creek Common"
            />
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.ecosounds.org/projects/1007"
                >Oxley Creek Common</a
              >
            </h4>
            <p class="card-text font-italic">
              No description available.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item mb-4">
        <div class="card h-100">
          <a href="https://www.ecosounds.org/projects/1029">
            <img
              class="card-img-top"
              src="https://www.ecosounds.org/system/projects/images/000/001/029/span3/DSCN0286.JPG?1440543186"
              alt="Cooloola"
            />
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.ecosounds.org/projects/1029">Cooloola</a>
            </h4>
            <p class="card-text">
              Sound recordings from the Gympie area.
            </p>
          </div>
        </div>
      </div>

      <button class="m-auto btn btn-outline-primary">More Projects</button>
    </div>
  </div>
</div>
