<nav class="container navbar navbar-expand-lg navbar-light bg-light p-0 pt-2">
  <ul class="nav align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">
        <ng-container *ngIf="title; else linksTitle">
          <fa-icon [icon]="title.icon"></fa-icon>
          {{ title.label | uppercase }}
        </ng-container>
        <ng-template #linksTitle>MENU</ng-template>
      </h6>
    </li>

    <ng-container *ngIf="hasLinks()">
      <hr class="w-100" />

      <!-- Normal links -->
      <li
        *ngFor="let link of filteredLinks; let i = index"
        class="nav-item"
        [style.padding-left]="calculateIndentation(link) + 'em'"
      >
        <!-- Modal widget button -->
        <ng-container *ngIf="isModal(link)">
          <baw-menu-button
            class="button"
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-button>
        </ng-container>

        <!-- Action menu button-->
        <ng-container *ngIf="isAction(link)">
          <baw-menu-button
            class="action"
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-button>
        </ng-container>

        <!-- Internal/External menu buttons -->
        <ng-container *ngIf="isInternalLink(link) || isExternalLink(link)">
          <baw-menu-link
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-link>
        </ng-container>
      </li>

      <hr class="w-100" *ngIf="widget" />
    </ng-container>

    <!-- Widgets -->
    <div id="widget">
      <ng-container id="widgetContainer" bawMenuWidget></ng-container>
    </div>
  </ul>
</nav>
