<nav class="container navbar navbar-expand-lg navbar-light bg-light p-0 pt-2">
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">
        <ng-container *ngIf="title; else linksTitle">
          <fa-icon [icon]="title.icon"></fa-icon>
          {{ title.label | uppercase }}
        </ng-container>
        <ng-template #linksTitle>MENU</ng-template>
      </h6>
    </li>

    <ng-container *ngIf="hasLinks()">
      <hr *ngIf="menuType === 'action'" class="w-100" />

      <!-- Normal links -->
      <li
        *ngFor="let link of filteredLinks; let i = index"
        class="nav-item"
        [style.padding-left]="calculateIndentation(link) + 'em'"
      >
        <ng-container *ngIf="isAction(link)">
          <baw-menu-button
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-button>
        </ng-container>
        <ng-container *ngIf="!isAction(link)">
          <baw-menu-link
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-link>
        </ng-container>
      </li>

      <!-- Modal links -->
      <li *ngFor="let modal of modals; let modalIndex = index" class="nav-item">
        <!-- Modify modal link with action to open/close modal using index value from each list -->
        <baw-menu-button
          [link]="modalAction(modal.link, modalIndex)"
          [placement]="placement"
          [tooltip]="modal.link.tooltip(user)"
        ></baw-menu-button>
      </li>

      <hr class="w-100" *ngIf="widget" />
    </ng-container>

    <!-- Modals -->
    <div id="widget">
      <ng-container id="widgetContainer" bawMenuWidget></ng-container>
    </div>
  </ul>
</nav>
