<nav class="container navbar navbar-expand-lg navbar-light bg-light p-0 pt-2">
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <h6 class="nav-link disabled m-0">
        <ng-container *ngIf="title; else linksTitle">
          <fa-icon [icon]="title.icon"></fa-icon>
          {{ title.label | uppercase }}
        </ng-container>
        <ng-template #linksTitle>MENU</ng-template>
      </h6>
    </li>

    <ng-container *ngIf="linksExist()">
      <hr *ngIf="menuType === 'action'" class="w-100" />
      <li
        *ngFor="let link of filteredLinks; let i = index"
        class="nav-item"
        [ngStyle]="{ 'padding-left': calculateIndentation(link) + 'em' }"
      >
        <ng-container *ngIf="isAction(link)">
          <baw-menu-button
            [id]="menuType + '-tooltip-' + i"
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-button>
        </ng-container>
        <ng-container *ngIf="!isAction(link)">
          <baw-menu-link
            [id]="menuType + '-tooltip-' + i"
            [link]="link"
            [placement]="placement"
            [tooltip]="link.tooltip(user)"
          ></baw-menu-link>
        </ng-container>
      </li>

      <hr class="w-100" *ngIf="widget" />
    </ng-container>

    <div id="widget">
      <ng-template bawMenuWidget></ng-template>
    </div>
  </ul>
</nav>
