nav {
  h6 {
    color: rgb(119, 119, 119);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
  }

  ul {
    width: 100%;
  }

  li {
    font-size: 0.85rem;
    width: 100%;
  }
}

.widget {
  width: 100%;
  overflow: hidden;
}
