@if (rows && !error) {
  <h1>Tag Groups</h1>

  <p>
    Displaying <strong>{{ pageSize }}</strong> of
    <strong>all {{ totalModels }}</strong> tag groups.
  </p>

  <label class="input-group mb-3">
    <span class="input-group-prepend input-group-text">Filter</span>
    <input
      bawDebouncedInput
      type="text"
      class="form-control"
      placeholder="Filter Tag Groups"
      (valueChange)="onFilter($event)"
    >
  </label>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Tag"> </ngx-datatable-column>
    <ngx-datatable-column name="Group"> </ngx-datatable-column>
    <ngx-datatable-column
      name="Model"
      [width]="130"
      [maxWidth]="130"
      [sortable]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a
          class="btn btn-sm btn-warning me-1"
          [strongRoute]="editPath"
          [routeParams]="{ tagGroupId: value.id }"
        >
          Edit
        </a>
        <a
          class="btn btn-sm btn-danger"
          (click)="confirmTagGroupDeletion(deleteModalTemplate, value)"
        >
          Delete
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
}

<ng-template #deleteModalTemplate let-modal>
  <baw-delete-modal
    [closeModal]="modal.close"
    [dismissModal]="modal.dismiss"
  ></baw-delete-modal>
</ng-template>

@if (error) {
  <baw-error-handler [error]="error"></baw-error-handler>
}
