<div *ngIf="rows && !error && !failure">
  <h1>
    Sites
    <small class="text-muted">accessible by {{ account.userName }}</small>
  </h1>

  <p>
    Displaying <strong>all {{ totalModels }}</strong> sites.
  </p>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Site">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="[value.route]">{{ value.label }}</a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Recent Audio Upload"> </ngx-datatable-column>
    <ngx-datatable-column name="Permission"> </ngx-datatable-column>
    <ngx-datatable-column name="Annotation" width="115" maxWidth="115">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a class="btn btn-sm btn-default" [routerLink]="[value]">
          Annotation
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<app-error-handler *ngIf="!failure" [error]="error"></app-error-handler>
