.nav-link {
  color: black;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;

  &.active {
    background-color: var(--theme-highlight);
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    width: 1.3rem;
  }
}
