name: "Build Baw Client"

on:
  workflow_call:

jobs:
  baw-client:
    name: Build Baw Client
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Baw Client
        uses: actions/checkout@v5
        with:
          repository: QutEcoacoustics/baw-client
          ref: migration

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          # We use an old version of node here because this step is building the
          # old baw-client which only supports up to node version 12.
          node-version: "12"
          cache: "npm"

      - name: Create environment
        run: |
          echo '{
              "environments": {
                "production": {
                  "apiRoot": "https://staging.ecosounds.org",
                  "siteRoot": "http://development.ecosounds.org:4200",
                  "siteDir": "/assets/old-client/",
                  "parentRoot": "http://development.ecosounds.org:4200",
                  "parentDir": "/",
                  "ga": { "trackingId": "" }
                }
              },
              "values": {
                "keys": { "googleMaps": "" },
                "brand": {
                  "name": "<<brand name here>>",
                  "title": "<<brand name here>> | Acoustic Workbench"
                },
                "content": {
                  "research": {
                    "header_title": "Custom Menu",
                    "items": [
                      {
                        "innerText": "Example",
                        "url": "http://www.EXAMPLE.org/awebpage"
                      }
                    ]
                  }
                }
              }
            }' > ./buildConfig/environmentSettings.json

      - name: Read environment
        run: cat buildConfig/environmentSettings.json

      - name: Install project dependencies
        run: npm install

      - name: Build
        run: npm run build -- --production

      - name: Publish build files
        uses: actions/upload-artifact@v4
        with:
          path: bin/
          name: baw-client
