name: "Publish"

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Docker build release tag"
        required: true
        type: string
  push:
    branches:
      - master

jobs:
  ssr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workbench Client
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: Build container
        run: docker build -t qutecoacoustics/workbench-client . --build-arg GIT_COMMIT="a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0" --build-arg WORKBENCH_CLIENT_VERSION="70.1.1+test.a0a0a0a0"

      - name: Run docker container
        run: docker run -d -p 4000:4000 -v "$(pwd)/src/assets/environment.json:/environment.json" qutecoacoustics/workbench-client

      - name: Run SSR tests
        shell: pwsh
        run: ./scripts/ssr-tests.ps1

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workbench Client
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: "npm"

      - name: Install project dependencies
        run: npm ci --force

      - name: Build the workbench client
        run: npm run build

      - name: Publish build files
        uses: actions/upload-artifact@v4
        with:
          path: ./dist/workbench-client/
          name: workbench-client

  publish:
    name: "Publish Docker Container"
    needs: [ssr, build]
    runs-on: "ubuntu-latest"
    if: >
      github.actor != 'dependabot[bot]' &&
      github.actor != 'kodiakhq[bot]' &&
      (github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tag'))
    # cancel any other CI attempting to publish to docker
    concurrency:
      group: publish-container
      cancel-in-progress: true

    steps:
      # We cache LFS assets in CI so that less of the GitHub LFS budget is used
      # by simple cloning in CI
      - name: Checkout Workbench Client
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          fetch-depth: 50

      # fetch more tag info so git_version.ps1 works properly
      - name: Ensure tags are fetched
        # Retrieve annotated tags.
        run: git fetch --tags --force

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        shell: pwsh
        run: ./scripts/build_docker.ps1
          -github_actor '${{ github.actor }}'
          -release_tag '${{ inputs.release_tag || 'beta' }}'
