
name: "Publish"

# The docker and web components versions are separate because docker versioning
# allows for overriding a version that already exists (e.g., "beta").
# Whereas NPM versions must be unique.
on:
  workflow_dispatch:
    inputs:
      docker_tag:
        description: "Tag that the docker image should be published with"
        required: true
        type: string
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string

jobs:
  publish-website-image:
    name: "Publish Docker Container"
    runs-on: "ubuntu-latest"
    # cancel any other CI attempting to publish to docker
    concurrency:
      group: publish-container
      cancel-in-progress: true

    steps:
      # We cache LFS assets in CI so that less of the GitHub LFS budget is used
      # by simple cloning in CI
      - name: Checkout Workbench Client
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          fetch-depth: 50

      # fetch more tag info so git_version.ps1 works properly
      - name: Ensure tags are fetched
        # Retrieve annotated tags.
        run: git fetch --tags --force

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        shell: pwsh
        run: ./scripts/build_docker.ps1
          -github_actor '${{ github.actor }}'
          -docker_tag '${{ inputs.docker_tag }}'

  publish-web-components:
    name: "Publish Web Components to NPM"
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout Workbench Client
        uses: nschloe/action-cached-lfs-checkout@v1

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@ecoacoustics"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Build Web Components
        run: |
          npm ci
          npm run build:web-components

      - name: Publish to NPM
        run: npm run publish:web-components
