### Note: Dependabot does not have access to secrets and is only able
### to access a read-only version of the GITHUB-TOKEN:
### https://github.com/dependabot/dependabot-core/issues/3253

name: "Build, Test, and Publish"
on: [push, pull_request]

jobs:
  baw-client:
    name: Build Baw Client
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Baw Client
        uses: actions/checkout@v2
        with:
          repository: QutEcoacoustics/baw-client
          ref: migration

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "12"
          cache: "npm"

      - name: Create environment
        run: |
          echo '{
              "environments": {
                "production": {
                  "apiRoot": "https://staging.ecosounds.org",
                  "siteRoot": "http://development.ecosounds.org:4200",
                  "siteDir": "/assets/old-client/",
                  "ga": { "trackingId": "" }
                }
              },
              "values": {
                "keys": { "googleMaps": "" },
                "brand": {
                  "name": "<<brand name here>>",
                  "title": "<<brand name here>> | Acoustic Workbench"
                },
                "content": {
                  "research": {
                    "header_title": "Custom Menu",
                    "items": [
                      {
                        "innerText": "Example",
                        "url": "http://www.EXAMPLE.org/awebpage"
                      }
                    ]
                  }
                }
              }
            }' > ./buildConfig/environmentSettings.json

      - name: Read environment
        run: cat buildConfig/environmentSettings.json

      - name: Install project dependencies
        run: npm install

      - name: Build
        run: npm run build -- --production

      - name: Publish build files
        uses: actions/upload-artifact@v2
        with:
          path: bin/
          name: baw-client

  test:
    name: Unit Tests (${{ matrix.os }})
    needs: baw-client
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest

    steps:
      - name: Checkout Workbench Client
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: baw-client

      - name: Copy baw-client to assets
        run: mkdir src/assets/old-client && cp -r baw-client/baw-client/* src/assets/old-client

      - name: Install project dependencies
        run: npm ci

      - name: Run test suite on chrome
        run: npm run test:pipeline -- --browsers ChromeHeadless

      - name: Run test suite on firefox
        run: npm run test:pipeline -- --browsers FirefoxHeadless

      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results (OS ${{ matrix.os }})
          path: TESTS-*.xml

      - name: Lint project
        run: npm run lint

  # e2e:
  #   name: E2E Tests
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Install Node.js
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: 12.x

  #     - name: NPM install
  #       run: npm ci

  #     # Webdriver downloads the latest driver version by default. If the version does not match the version of chrome
  #     # installed, it will crash during e2e tests. Best solution appears to be to download the version of the webdriver
  #     # which matches the CIs google chrome
  #     # https://github.com/angular/protractor/issues/5460
  #     - name: Ensure webdriver installs correct adapter for current chrome version
  #       run: npm run webdriver -- update --versions.chrome=$(google-chrome --version | cut -d ' ' -f 3)

  #     - name: Run e2e test suite
  #       run: npm run e2e -- --webdriver-update=false

  ssr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workbench Client
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Build container
        run: docker build -t qutecoacoustics/workbench-client .

      - name: Run docker container
        run: docker run -d -p 4000:4000 -v "$(pwd)/src/assets/environment.json:/environment.json" qutecoacoustics/workbench-client

      - name: Run SSR tests
        run: chmod ugo+x ./scripts/ssr-tests.sh && ./scripts/ssr-tests.sh

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workbench Client
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"

      - name: Install project dependencies
        run: npm ci

      - name: Build the workbench client
        run: npm run build

      - name: Publish build files
        uses: actions/upload-artifact@v2
        with:
          path: ./dist/workbench-client/
          name: workbench-client

  results:
    name: "Publish Unit Tests Results"
    runs-on: ubuntu-latest
    needs: [test]
    if: >
      always() &&
      github.actor != 'dependabot[bot]' &&
      github.actor != 'kodiakhq[bot]' &&
      github.event_name == 'pull_request'

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: artifacts/**/TESTS-*.xml
          test_changes_limit: 0
          deduplicate_classes_by_file_name: true

  publish:
    name: "Publish Docker Container"
    runs-on: "ubuntu-latest"
    needs: [test, ssr, build]
    # cancel any other CI attempting to publish to docker
    concurrency:
      group: publish-container
      cancel-in-progress: true
    # only on tag or commit to master and not created by dependabot
    if: >
      github.actor != 'dependabot[bot]' &&
      github.actor != 'kodiakhq[bot]' &&
      (github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tag'))

    steps:
      - name: Checkout Workbench Client
        uses: actions/checkout@v2
        with:
          lfs: true
          fetch-depth: 50

      # fetch more tag info so git_version.ps1 works properly
      - name: Ensure tags are fetched
        # Retrieve annotated tags.
        run: git fetch --tags --force

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        shell: pwsh
        run: ./scripts/build_docker.ps1 -github_actor '${{ github.actor }}' -release_tag 'beta'
