@if (!failure) {
  @if (!error) {
    <h1>
      Annotations
      <small class="text-muted">accessible by {{ account.userName }}</small>
    </h1>

    <p>
      Displaying <strong>{{ pageSize }}</strong> of
      <strong>all {{ totalModels }}</strong> annotations.
    </p>

    <ngx-datatable
      #table
      bawDatatableDefaults
      [columns]="columns"
      [rows]="rows"
      [count]="totalModels"
      [offset]="pageNumber"
      (page)="setPage($event)"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column name="Site" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{ value.audioRecording?.site?.name }}</span>
          @if (
            (value.audioRecording | isUnresolved) ||
            (value.audioRecording?.site | isUnresolved)
          ) {
            <baw-loading size="sm"></baw-loading>
          }
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Updated">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <baw-time-since [value]="value" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tags" [sortable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          @for (tag of value.tags; track tag) {
            <span class="badge text-bg-primary me-1">
              {{ tag.text }}
            </span>
          }
          @if (value.tags | isUnresolved) {
            <baw-loading size="sm"></baw-loading>
          }
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Model"
        [width]="160"
        [maxWidth]="160"
        [sortable]="false"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a class="btn btn-sm btn-primary me-1" [bawUrl]="value.listenViewUrl">
            Play
          </a>
          <a class="btn btn-sm btn-secondary" [bawUrl]="value.viewUrl">
            Annotation
          </a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  }

  @if (error) {
    <baw-error-handler [error]="error"></baw-error-handler>
  }
}
