<div *ngIf="rows && !error && !failure">
  <h1>
    Annotations
    <small class="text-muted">accessible by {{ account.userName }}</small>
  </h1>

  <p>
    Displaying <strong>all {{ totalModels }}</strong> annotations.
  </p>

  <ngx-datatable
    #table
    bawDatatableDefaults
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [rows]="rows"
    [count]="totalModels"
    [offset]="pageNumber"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Site" [sortable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="[value.viewUrl]">{{ value.name }}</a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Updated"> </ngx-datatable-column>
    <ngx-datatable-column name="Tags" [sortable]="false">
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<baw-error-handler
  *ngIf="!failure && error"
  [error]="error"
></baw-error-handler>
