<footer class="container-fluid bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-pills mr-auto align-items-center m-auto">
      <li class="nav-item">
        <p class="nav-link disabled m-0">&#169; QUT {{ year }}</p>
      </li>
      <li class="nav-item">
        <p class="nav-link disabled m-0">Production v{{ version }}</p>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="routes.statistics.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ routes.statistics.label }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="routes.disclaimers.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ routes.disclaimers.label }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="routes.credits.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ routes.credits.label }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="routes.ethics.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ routes.ethics.label }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="routes.contactUs.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ routes.contactUs.label }}
        </a>
      </li>
    </ul>
  </nav>
</footer>
