<footer class="container-fluid bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-pills mr-auto align-items-center m-auto">
      <li class="nav-item">
        <p class="nav-link disabled m-0">&#169; QUT {{ year }}</p>
      </li>
      <li class="nav-item">
        <p class="nav-link disabled m-0">Production {{ version }}</p>
      </li>

      <li *ngFor="let link of links" class="nav-item">
        <!-- Using routerLink so that routerLinkActive will work-->
        <a
          class="nav-link"
          [routerLink]="link.route.toRouterLink()"
          routerLinkActive="active"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</footer>
