section {
  border-top-style: solid;
  border-top-width: thin;
  border-color: var(--baw-secondary-lightest);
  page-break-inside: avoid;
}

.embedded-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em;
  padding: 0em;
}

.large-embedded-figure {
  @extend .embedded-figure;
  height: 25em;
  min-width: 30em;
  max-height: 25em;
}

.site-map {
  display: flex;
  width: 100%;
  height: 20em;
  justify-content: center;
  align-items: center;
}

@media print {
  #print-button {
    display: none;
  }

  .col {
    break-inside: avoid;
  }

  .events-table {
    overflow-wrap: anywhere;
  }
}
