section {
  border-top-style: solid;
  border-top-width: thin;
  border-color: var(--baw-secondary-lightest);
  padding: 1.25rem 0;
}

h3 {
  width: 100%;
}

// by default, table will exceed their containers width because each row has a margin
// therefore, to make sure that tables fit inside their containers, we remove the margin from the rows
.row {
  margin: 0;
}

.col {
  border: thin solid var(--baw-secondary-lightest);
  border-right: none;
  border-bottom: none;
  // we divide 100 / 6 because we want 6 columns
  width: calc(100% / 6);
  overflow-wrap: break-word;

  // if there is a log tag name, event, etc...
  // the name will be broken by words. This causes padding on the broken line to be 0, while the start is padded by 0.25rem
  // to make the table consistent,  we therefore, remove start (left) padding of links
  & > a {
    word-break: normal;
    padding-left: 0em;
  }
}

.table {
  border-bottom: thin solid var(--baw-secondary-lightest);
  border-right: thin solid var(--baw-secondary-lightest);
}

#print-button {
  cursor: pointer;
}

// we do this in css because it's styling, not inline offset (<i>) or emphasis (<em>)
// see https://stackoverflow.com/a/53095149 for more information
#generatedByLabel {
  font-style: italic;
}

#search-parameters-container {
  display: flex;
  flex-wrap: wrap;

  & > .search-parameter {
    margin: 0.5rem;
    margin-right: 2rem;
  }
}

#coverage-table {
  margin-top: 1rem;
}

.charts-section {
  page-break-inside: avoid;
}

.bucket-size-label {
  color: var(--baw-dark);
  font-style: italic;
}

.download-button {
  font-size: 2rem;
  margin-right: 0.25em;
  cursor: pointer;
}

.info-icon {
  font-size: 2rem;
  margin-right: 0.25em;
  cursor: pointer;
}

.site-map {
  display: inline-block;
  width: 100%;
  height: 400px;
  max-height: 20em;
}

.embedded-figure {
  display: flex;
  padding: 0;
  height: 3rem;
}

.large-embedded-figure {
  @extend .embedded-figure;
  height: fit-content;
  aspect-ratio: 2.39 / 1;
}

.chart-heading {
  margin-top: 1rem;

  & > .chart-title {
    display: inline;
  }

  & > .chart-action-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    height: 1rem;
  }
}

.toggle-graph-button {
  // since the maximize and minimize buttons are slightly different sizes, we have to set the size explicitly using css
  width: 2.5em;
  height: 2.5em;
}

@media print {
  #print-button,
  .toggle-graph-button,
  .download-button,
  .info-icon,
  .hide-in-print {
    display: none;
  }

  tr {
    text-align: left;
    vertical-align: middle;
    break-inside: avoid;
  }

  .chart-container {
    break-inside: avoid;
  }

  // on Firefox, border sizes of 1px don't scale correctly (they are hidden when zoomed out and not re-rendered when zoomed in)
  // to fix this, we explicitly make the border 2px so it's 1px when zoomed out
  .col {
    border-width: 2px;
  }

  .table {
    border-right: 4px solid var(--baw-secondary-lightest);
    border-bottom: 4px solid var(--baw-secondary-lightest);
  }

  // since the Google maps component uses a canvas, it is hidden when "background graphics" (Chrome) is disabled
  // this will cause an empty spot where the map should be
  // however, we should still allow the user to disable printing other background graphics, but the map should still be printed
  .site-map {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  #events-table-container,
  #charts-container {
    break-before: always;
  }
}
