.embeddedFigure {
  display: flex;
  border-style: solid;
  border-width: thin;
  max-width: 15em;
  max-height: 10em;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.largeEmbeddedFigure {
  @extend .embeddedFigure;
  height: 15em;
  min-width: 30em;
  max-height: 15em;
}

.largeEmbeddedFigure-filled {
  @extend .largeEmbeddedFigure;
  border: none;
}

.siteMap {
  display: flex;
  border-style: solid;
  border-width: thin;
  width: 20em;
  height: 20em;
  justify-content: center;
  align-items: center;
}

@media print {
  #printButton {
    display: none;
  }

  .row,
  .eventsTable,
  .largeEmbeddedFigure,
  .largeEmbeddedFigure-filled {
    break-inside: avoid;
  }

  .eventsTable {
    overflow-wrap: anywhere;
  }

  h3 {
    page-break-before: always;
  }
}
