<div class="login-form">
  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
    <ng-content></ng-content>

    <!-- Convert form json to html -->
    <div *ngFor="let form_el of template">
      <div [ngSwitch]="form_el.type" class="form-group">
        <div *ngSwitchCase="'select'">
          <label for="{{ form_el.id }}">{{ form_el.label }}</label>
          <select
            [id]="form_el.id"
            class="form-control input-lg"
            formControlName="{{ form_el.id }}"
          >
            <option disabled selected *ngIf="form_el.placeholder">
              {{ form_el.placeholder }}
            </option>
            <option *ngFor="let opt of form_el.options">{{ opt }}</option>
          </select>
        </div>
        <div *ngSwitchCase="'submit'">
          <div class="form-group clearfix">
            <button
              type="submit"
              value="save"
              class="btn btn-primary btn-lg float-right"
            >
              {{ form_el.label }}
            </button>
          </div>
        </div>
        <div *ngSwitchDefault>
          <label for="{{ form_el.id }}">{{ form_el.label }}</label>
          <input
            [id]="form_el.id"
            [type]="form_el.type"
            [placeholder]="form_el.placeholder ? form_el.placeholder : ''"
            class="form-control input-lg"
            formControlName="{{ form_el.id }}"
          />
        </div>
      </div>
    </div>
  </form>
</div>
